<p>OpenTreeMap uses the <a href="http://www.itreetools.org/streets/index.php">i-Tree Streets</a> software developed by the United States Forest Service to calculate the ecosystem benefits of trees. i-Tree Streets is not recommended for use outside the United States, and thus we are unable to show ecosystem information for trees in other countries.</p>

<p>If you are interested in integrating a different ecosystem calculation system into OpenTreeMap or have information on other methods for calculating eco benefits, please contact us at {{ "opentreemap@azavea.com"|urlize }}.</p>
