<div>
    <!--
    {% for group in role_groups %}
        {% include "manage_treemap/partials/role_group_model.html" %}
    {% endfor %}
    -->
    <h3>Trees By Neighborhood</h3>
    <div id="group-chart">
        <canvas height="50"></canvas>
    </div>

    <br><br>
    <h3>Groups</h3>
    <div class="role-table-scroll">
        <table class="role-table table admin-table">
            <thead>
                <tr>
                    <th>Ward</th>
                    <th>Neighborhood</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for group, user in user_groups %}
                <tr>
                    <td>{{ group.ward }}</td>
                    <td>{{ group.neighborhood }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
