<div>
    <h3>Trees By Neighborhood</h3>
    <div id="trees-by-neighborhood-chart">
        <canvas height="50"></canvas>
    </div>

    <h3>Trees By Ward</h3>
    <div id="trees-by-ward-chart">
        <canvas height="50"></canvas>
    </div>

    <h3>Trees By Species</h3>
    <div id="species-chart">
        <canvas height="50"></canvas>
    </div>

    <h3>Tree Conditions By Neighborhood</h3>
    <div id="tree-conditions-by-neighborhood-chart">
        <canvas height="50"></canvas>
    </div>

    <h3>Tree Conditions By Ward</h3>
    <div id="tree-conditions-by-ward-chart">
        <canvas height="50"></canvas>
    </div>

    <h3>Tree Diameters By Species</h3>
    <div id="tree-diameters-chart">
        <canvas height="50"></canvas>
    </div>

    <h3>Eco Benefits By Ward</h3>
    <table class="table table-hover" id="ecobenefits-by-ward-table">
        <thead></thead>
        <tbody style="white-space: nowrap;" ></tbody>
    </table>
    <div id="ecobenefits-by-ward-total"></div>
</div>
