{% extends "manage_treemap/partials/role_group.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "General" %}{% endblock %}

{% block row_labels %}
    {% for perm_list in instance_permissions %}
        {% with perm=perm_list|first %}
            <tr {% if perm.codename in udf_notifications %}class="active"{% endif %}>
                <td {% if perm.description %}title="{{ perm.description }}"{% endif %}>{{ perm.label }}</td>
            </tr>
        {% endwith %}
    {% endfor %}
{% endblock %}

{% block row_settings %}
    {% for perm_list in instance_permissions %}
        {% include "manage_treemap/partials/role_permission.html" with perm_list=perm_list %}
    {% endfor %}
{% endblock %}
