/* ---------------------------------------
	 Admin Page Styles
--------------------------------------- */

.left {
	width: 259px;
	position: absolute;
	bottom: 0;
	top: 168px;
	background-color: #eee;
	border-right: 1px solid #c2c2c2;
}