/* General ---------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,100,700);

body {
  font-family: "Helvetica", Arial, sans-serif;
}

h1, h2, h4, h4, h5 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  padding: 25px 0 8px;
}

p {
  font-size: 16px;
  line-height: 1.7;
}

/* Buttons ---------------------------- */

input {
  font-size: 13px !important;
}

.btn, 
.btn-group .btn, {
  font-size: 14px;
}

.btn-mini {
  font-size: 11px;
}


/* Navbar ----------------------------- */

.navbar {
  font-size: 15px;
}

.navbar .brand {
  margin-left: 15px;
  padding: 10px 20px 10px 0; 
}

.brand img {
  max-width: 20px; 
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  left: 0;
  right: 0;
  width: auto; 
}


/* Logo and Search -------------------- */

.header {
  margin-top: 41px;
  padding: 15px;
  height: 96px;
  border-bottom: 1px solid #eee;
  background: #fff; 
}

.search-block {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 3px;
  float: left;
  margin-left: 10px; 
}
  .search-block .dropdown-menu {
    width: 257px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
    .search-block .dropdown-menu > li > a {
      padding: 3px 12px;
    }

.logo {
  float: left; 
  margin-top: 15px;
}

.logo img {
  max-width: 200px; 
}

.search-options {
  float: right;
  margin-left: 20px; 
}

.search-submit-btn {
  margin-bottom: 7px;
  width: 149px;
  padding: 14px 0; 
}

.search-block-wrapper {
  right: 190px;
  position: absolute; 
}

.mobile-only {
  display: none !important; 
}

.mobile-only .btn {
  float: right;
  margin-bottom: 10px; 
}


/* Subheader -------------------------- */

.subhead {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  background: #fff; 
}

.subhead span {
  font-weight: bold; 
}

.subhead .exportBtn {
  margin-left: 10px; 
}

.subhead .addBtn {
  float: right;
  margin-top: -3px; 
}


/* Additional Searches ---------------- */

.additional-searches {
  padding: 8px;
  border-bottom: 1px solid #eee;
  width: 100%; 
}

.stewardship {
  right: 0; 
}

/* Main Content ----------------------- */

.content {
  padding: 30px 0 120px; 
}

.login-signup {
  background: #f8f8f8; 
}

.login-signup-panel {
  background-color: #fff;
  box-shadow: none;
  max-width: 500px;
  margin: 0px auto; 
}

.have-account {
  font-size: 14px; 
}

.signup-option {
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #777;
  color: #fff;
  margin-top: 15px; 
}

.signup-option p {
  margin-bottom: 0; 
}

.signup-option a {
  margin-left: 20px; 
}

.profile-photo-upload {
  padding: 5px;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
}


/* Tree Details ----------------------- */

.tree-details {
  padding: 10px;
}

.tree-details h1,
.tree-details h2 {
  line-height: 19px; 
}

.tree-details h1 {
  font-size: 24px; 
}

.tree-details h2 {
  font-size: 20px;
  font-weight: 300;
  color: #777; 
}

.tree-details h3 {
  line-height: 28px;
}

.tree-details h5 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}

.tree-details .left {
  width: 260px;
  padding-right: 20px;
  padding-bottom: 120px;
  border-right: 1px solid #eee;
  float: left;
  margin-right: 15px; 
}
  .tree-details .left h4 {
    margin-top: 0;
    padding-top: 0;
  }
  .tree-details .left ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

.tree-details .left .add-photos {
  margin-top: 10px; 
}

.tree-details .left .add-favorite {
  width: 235px; 
}

.tree-details .center {
    margin-left: 15px;
    float: right;
    width: 50%;
    left: 281px;
    position: absolute;
    right: 0;
}
  .tree-details .center h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .tree-details .center h2 {
    font-size: 28px;
    font-weight: 400;
    padding-top: 0;
  }
  .tree-details .center h3 {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

.tree-details .right {
    float: right;
    left: 0;
    right: 0;
    top: 0;
    position: relative;
}




/* Footer ----------------------------- */

footer {
  bottom: 0;
  position: fixed;
  background: #000;
  width: 100%;
  font-size: 12px;
  height: 35px; 
}

footer .nav {
  margin-bottom: 0; 
}

.partners {
  margin-top: 7px;
  margin-right: 15px;
  color: #777; 
}

.partners:hover {
  color: #fff;
  text-decoration: none; 
}

footer .nav-pills > li > a {
  color: #777; 
}

footer .nav-pills > li > a:hover {
  background: none;
  color: #fff; 
}


/* FAQ -------------------------------- */

.faq-content {
  position: absolute;
  left: 490px;
  padding-right: 25px;
}
  .faq-content h1 {
    padding-top: 0;
    margin-top: 0;
    font-weight: 700;
    font-size: 32px;
  }
  .faq-content h2 {
    font-size: 24px;
    font-weight: 400;
  }
.faq-nav {
  width: 390px;
  float: left;
  margin-left: 10px;
  padding: 15px;
  border: 1px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
  .faq-nav h5 {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 10px;
    margin: 0;
    font-size: 18px;
  }
  .faq-nav ul {
    margin: 0;
    padding: 0 0 15px;
    list-style: none;
  }
    .faq-nav li {
      display: block;
      padding: 3px 10px;
      margin-left: -10px;
      width: 100%;
    }
    .faq-nav li:hover {
      background-color: #eee;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
  .faq-nav a {
    font-size: 16px;
    color: #777;
  }
    .faq-nav a:hover {
      text-decoration: none;
      color: #000;
    }

      
/* Map -------------------------------- */

.map {
  left: 0;
  background: #eee;
  position: absolute;
  bottom: 35px;
  top: 211px;
  right: 350px;
}

.sidebar {
  width: 350px;
  background: #fff;
  border-left: 1px solid #c2c2c2;
  position: absolute;
  top: 211px;
  right: 0;
  bottom: 35px;
}
  .sidebar .accordion-group {
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    border-top: none;
  }

  .benefit-label {
    font-weight: bold;
  }

span.tt-dropdown-menu {
		margin-top: 5px;
		padding: 10px;
		width: 199px;
		font-size: 13px;
    border: 1px solid #c2c2c2;
    background: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius:		 3px;
		border-radius:				 3px;
		-webkit-box-shadow: 0px 0px 5px rgba(0, 3, 0, 0.3);
		-moz-box-shadow:    0px 0px 5px rgba(0, 3, 0, 0.3);
		box-shadow:         0px 0px 5px rgba(0, 3, 0, 0.3);
}
.tt-suggestion p {
	padding: 3px 7px;
}
	.tt-suggestion p:hover {
		background-color: #eee;
		-webkit-border-radius: 3px;
		-moz-border-radius:		 3px;
		border-radius:				 3px;
}




