
.icon-home:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-settings:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\e809'; } /* '' */
.icon-share:before { content: '\e801'; } /* '' */
.icon-comments:before { content: '\e808'; } /* '' */
.icon-leaf:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */