@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:100,400,700);
body {
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h4, h4, h5 {
  font-family: "Open Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 1em 0 0.5em; }

p {
  line-height: 1em; }

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
.uneditable-input {
  font-size: 0.75em; }

html,
body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px; }

.content {
  position: relative;
  overflow: auto; }
  .content.map {
    position: absolute;
    overflow: hidden;
    padding-bottom: 40px;
    top: 195px;
    width: 100%;
    bottom: 0; }

.navbar {
  font-size: 16px; }
  .navbar .navbar-inner {
    background: #42424a;
    border: none;
    height: 44px; }
  .navbar .nav {
    margin: 0 -15px; }
    .navbar .nav.pull-left {
      margin-left: 15px; }
    .navbar .nav.pull-right {
      margin-right: 15px; }
    .navbar .nav > li {
      margin-left: 25px;
      height: 44px; }
      .navbar .nav > li:first-child {
        margin-left: 0; }
      .navbar .nav > li.active > a {
        background-color: #42424a;
        border-bottom: 4px solid #8baa3d; }
      .navbar .nav > li.user-img {
        overflow: hidden;
        height: 30px;
        width: 30px;
        border-radius: 4px;
        top: 6px;
        position: relative; }
      .navbar .nav > li > a {
        padding: 10px 0;
        height: 20px; }
        .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
          background-color: #42424a; }

.header {
  padding: 59px 15px 15px;
  height: 75px;
  border-bottom: 1px solid #eee;
  background: #fff; }

.search-block {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 3px;
  float: left;
  margin-left: 10px; }
  .search-block .dropdown-menu {
    width: 257px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .search-block .dropdown-menu > li > a {
      padding: 3px 12px; }

.logo {
  float: left;
  margin-top: 15px; }
  .logo img {
    max-width: 200px; }

.search-options {
  float: right;
  margin-left: 20px; }

.search-submit-btn {
  margin-bottom: 7px;
  width: 149px;
  padding: 14px 0; }

.search-block-wrapper {
  right: 190px;
  position: absolute; }

.subhead {
  padding: 10px 15px;
  border-bottom: 1px solid #c2c2c2;
  font-size: 1em;
  background: #fff;
  height: 24px; }
  .subhead span {
    font-weight: bold; }
  .subhead .exportBtn {
    margin-left: 10px; }
  .subhead .addBtn {
    float: right;
    margin-top: -3px; }

.additional-searches {
  padding: 8px;
  border-bottom: 1px solid #eee;
  width: 100%; }

.stewardship {
  right: 0; }

@media (max-width: 767px) {
  .search-block-wrapper {
    top: 230px;
    right: 0;
    left: 0;
    width: 100%; }

  .search-options {
    position: absolute;
    float: none;
    top: 230px;
    right: 6px; } }
footer {
  position: relative;
  background: #FFF;
  width: 100%;
  font-size: 12px;
  height: 20px;
  padding: 10px 15px; }
  footer a {
    color: #799397;
    font-weight: 700; }
    footer a:hover {
      color: #231f20;
      text-decoration: none; }

#map {
  left: 0;
  background: #eee;
  position: absolute;
  bottom: 40px;
  top: 0;
  right: 350px; }

.sidebar {
  width: 350px;
  background: #fff;
  border-left: 1px solid #c2c2c2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40px; }
  .sidebar .accordion-group {
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    border-top: none; }
  .sidebar .accordion-heading {
    background: #eee; }
    .sidebar .accordion-heading a {
      color: #000;
      font-weight: bold; }
      .sidebar .accordion-heading a:hover {
        text-decoration: none;
        color: #000; }

.benefit-label {
  font-weight: 700; }

span.tt-dropdown-menu {
  margin-top: 0;
  padding: 10px;
  width: 199px;
  font-size: 0.8125em !important;
  border: 1px solid #c2c2c2;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 3, 0, 0.3); }

.tt-suggestion p {
  padding: 0px 7px; }
  .tt-suggestion p:hover {
    background-color: #eee;
    border-radius: 3px; }

.create_instance_map {
  width: 100%;
  height: 500px; }

.tree-details {
  padding: 10px; }

.tree-details h1,
.tree-details h2 {
  line-height: 19px; }

.tree-details h1 {
  font-size: 24px; }

.tree-details h2 {
  font-size: 20px;
  font-weight: 300;
  color: #777; }

.tree-details h3 {
  line-height: 28px; }

.tree-details h5 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0; }

.tree-details .left {
  width: 260px;
  padding-right: 20px;
  padding-bottom: 120px;
  border-right: 1px solid #eee;
  float: left;
  margin-right: 15px; }

.tree-details .left h4 {
  margin-top: 0;
  padding-top: 0; }

.tree-details .left ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.tree-details .left .add-photos {
  margin-top: 10px; }

.tree-details .left .add-favorite {
  width: 235px; }

.tree-details .center {
  margin-left: 15px;
  float: right;
  width: 50%;
  left: 281px;
  position: absolute;
  right: 0; }

.tree-details .center h1 {
  font-size: 34px;
  font-weight: 700; }

.tree-details .center h2 {
  font-size: 28px;
  font-weight: 400;
  padding-top: 0; }

.tree-details .center h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400; }

.tree-details .right {
  float: right;
  left: 0;
  right: 0;
  top: 0;
  position: relative; }

.login-signup {
  background: #f8f8f8; }

.login-signup-panel {
  background-color: #fff;
  box-shadow: none;
  width: 940px;
  margin: 0px auto; }

.have-account {
  font-size: 14px; }

.signup-option {
  text-align: center;
  vertical-align: middle;
  border: none;
  background-color: #777;
  color: #fff;
  margin-top: 15px; }

.signup-option p {
  margin-bottom: 0; }

.signup-option a {
  margin-left: 20px; }

.profile-photo-upload {
  padding: 5px;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.profile {
  margin-top: 50px !important; }

.profile .left,
.profile .right {
  padding: 8px 15px; }

.profile .left {
  width: 261px; }

.profile .right {
  width: 648px;
  border-left: 1px solid #eee; }

.quick-info {
  text-align: right; }

.quick-info h1 {
  line-height: 14px;
  margin-top: 0; }

.quick-info p {
  color: #c2c2c2; }

.quick-info ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.quick-info li {
  display: inline-block;
  height: 100px;
  padding-left: 50px;
  vertical-align: middle; }

.profile .chunk {
  list-style: none;
  padding: 5px 0 15px;
  margin: 0; }

.profile .chunk .extra {
  padding-top: 10px; }

.chunk-label {
  font-weight: bold; }

.user-photo {
  max-width: 85px; }

body {
  background: #f8f8f8; }

.admin {
  margin-top: 50px; }

.single-line h1 {
  margin-top: 15px; }

.admin .left {
  width: 259px;
  height: 100px;
  margin-top: 25px; }

.admin .left ul {
  margin: 0;
  background: #fff;
  border-radius: 3px; }

.admin .left ul > li a {
  color: #000;
  font-size: 13px; }

.admin .right h2 {
  padding: 0; }

.admin .right {
  border: 1px solid #ddd;
  padding: 20px;
  background: #fff;
  width: 640px;
  float: right;
  margin-top: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.config-tabs {
  margin: 0 !important; }

.nav-stacked li.active a {
  background: #c2c2c2 !important; }

/* Bulk Uploader ---------------------- */
.uploader {
  margin-top: 35px; }

.uploader h4 {
  font-family: "Helvetica", Arial, sans-serif;
  padding: 0; }

.uploader .nav {
  margin: 0; }

.uploader .nav li a {
  border: 1px solid #ddd;
  margin-right: 10px;
  font-size: 13px; }

.upload-box {
  width: 45%;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.upload-box input {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 3px 7px; }

.upload-box .btn {
  padding: 8px 15px;
  float: right; }

.tree-import {
  float: left; }

.species-import {
  float: right; }

.table-container {
  margin-top: 30px;
  background: #fff;
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd; }

.table-container.first {
  margin-top: 130px; }

.table-container.scroll th {
  font-size: 13px;
  vertical-align: top; }

.view-export .btn {
  float: right;
  margin-left: 10px; }

.view-label {
  float: right; }

.faq-content {
  position: absolute;
  left: 490px;
  padding-right: 25px; }

.faq-content h1 {
  padding-top: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 32px; }

.faq-content h2 {
  font-size: 24px;
  font-weight: 400; }

.faq-nav {
  width: 390px;
  float: left;
  margin-left: 10px;
  padding: 15px;
  border: 1px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.faq-nav h5 {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 10px;
  margin: 0;
  font-size: 18px; }

.faq-nav ul {
  margin: 0;
  padding: 0 0 15px;
  list-style: none; }

.faq-nav li {
  display: block;
  padding: 3px 10px;
  margin-left: -10px;
  width: 100%; }

.faq-nav li:hover {
  background-color: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.faq-nav a {
  font-size: 16px;
  color: #777; }

.faq-nav a:hover {
  text-decoration: none;
  color: #000; }

@media (max-width: 767px) {
  .faq-nav {
    width: 300px;
    position: fixed; }

  .faq-content {
    left: 375px; } }
