// Partial: Admin
#management {

    .management-container {
        display: block;
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background-color: $body-management!important;

        @media(min-width: 768px) {
            top: 44px;
        }

        .management-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: $dark-primary;
            overflow: hidden;
            width: 250px;
            transition: width 500ms ease-in-out;

            td:first-child {
                min-width: 47px;
            }
            td:not(:first-child) {
                width: 200px;
                transition: width 500ms ease-in-out;
            }

            .full-section {
                overflow: hidden;
            }

            .map-switcher {
                background-color: $secondary-color;
                height: 49px;
                width: 100%;

                .brand-icon-container {
                    width: 47px;

                    .brand-icon {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        padding: 4px;
                        margin-left: 6px;
                        background-color: $primary-color;

                        i {
                            color: $paper;
                        }
                    }
                }

                .brand {
                    color: $paper;
                }
            }

            .nav.nav-list {
                width: 100%;

                .label-notification {
                    background-color: $secondary-color;
                    border-radius: 9px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: -3px;

                    &:empty {
                        display: none;
                    }
                    &.role-label {
                        background-color: #D8C161;
                    }
                }

                ul {
                    padding-left: 16px;


                    li.active  a {
                        color: $paper;
                    }

                    li a {
                        padding: 10px 0 0 0;
                        white-space: nowrap;

                        &:hover {
                            background-color: transparent;
                            color: $paper;
                        }

                        .label-notification {
                            position: static;
                        }
                    }
                }

                tr {
                    padding: 10px 0;
                    display: block;
                    width: 100%;
                    position: relative;

                    &:hover {
                        background-color: rgba(255,255,255,.1);
                        i.link-icon, a.section-title {
                            color: $paper;
                        }
                    }

                    &.active {
                        i.link-icon, a.section-title {
                            color: $paper;
                        }
                    }

                    td:first-child {
                        vertical-align: top;
                    }

                    .section-title {
                        cursor: pointer;
                        width: 100%;
                        display: block;
                        padding: 0;
                        margin-top: 4px;
                        white-space: nowrap;

                        i {
                            position: absolute;
                            right: 5px;
                        }
                    }

                    a {
                        font-weight: 400;
                        font-size: 1.3rem;
                        padding: 12px 0;
                        color: rgba(255,255,255,.6);
                    }

                    i {
                        color: rgba(255,255,255,.5);
                        padding: 0 12px;
                    }

                    .label-notification {
                        position: absolute;
                        left: 18px;
                        top: 28px;
                    }
                }
            }
        }

        .management-content {
            position: absolute;
            top: 0;
            left: 250px;
            bottom: 0;
            right: 0;
            transition: left 500ms ease-in-out;

            .page-header {
                background-color: $dark-secondary;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 50px;
                margin: 0;
                color: $paper;
                line-height: 50px;

                #toggle-sidebar {
                    cursor: pointer;
                }

                h1 {
                    display: inline-block;
                    margin: 0 auto;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 100;
                }

                .spinner {
                    padding-right: 5px;
                }
            }

            .content {
                position: absolute;
                top: 50px;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;
                padding: 16px;
                margin-bottom: 40px;
            }
        }
    }

    &.slim {
        vertical-align: top;

        .tab-list, .brand-icon {
            width: 25px;

            .full-section {
                height: 22px;
                width: 0%;
                transition: width 500ms ease-in-out;
            }
        }
        .management-content {
            left: 50px;
            transition: left 500ms ease-in-out;
        }

        .management-sidebar {
            width: 50px;
            transition: width 500ms ease-in-out;
        }
    }

    .role-table-fixed {
        width: 25%;
        float: left;
        clear: left;
        border-right: 1px solid #EEE;
        margin-bottom: 10px;

        td {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .role-table {
        table-layout: fixed;
        tr {
            height: 50px;
            border-bottom: 1px solid #EEE;

            &.active {
                background-color: #F7F3DF;
            }
            th {
                background: #DDD;
                padding: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            td {
                padding: 10px;
            }
        }
    }

    .role-table-scroll {
        width: 75%;
        float: left;
        overflow-x: scroll;
        margin-bottom: 10px;

        .role-table {
            min-width: 100%;
        }
        th {
            min-width: 200px;
            max-width: 200px;
        }
    }

    .messages,
    .text-danger {
        &:empty {
            display: none !important;
        }

        > ul,
        > p {
            margin: 0;
        }
    }

    #photo-review-container {
        .photo-review-item {
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

            .thumbnail img {
                width: 240px;
                height: 240px;
            }
        }
    }

    .alert{
        padding: 15px;
        margin-top: 42px;
        .role-fields-alert {
            line-height: 40px;
        }
    }

    .field-view {
        margin-bottom: 20px;
        top: 4px;
        position: relative;
    }

    #payment-form{
        select{
            margin-left: 1px;
        }
    }

    .well {
        .well-header {
            margin: 0 0 20px;
            height: auto;
            padding-bottom: 9px;
            border-bottom: 1px solid #DDD;
        }
        h4 {
            color: #333;
            font-size: 1.75rem;
            font-weight: 500;
            margin: 0 0 10px 0;

            > .btn {
                margin-left: 6px;
            }
        }
        .choice-title {
            label {
                margin-top: 2px;
            }
        }
        .choice-options {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #DDD;
        }
    }
}

.management {
    min-height: 650px;

    .table {
        select {
            margin: 0;
        }
    }

    #instances {
        table {
            > tbody {
                > tr {
                    > td:first-child, th:first-child {
                        max-width: 140px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                    }
                }
            }
        }
    }

    input {
        width: 50%;
        margin-bottom: 8px;
    }

    textarea {
        width: 80%;
        height: 20em;
    }
}

// .field-group and .field-row-container are not nested under anything, because they are
// cloned by dragula when dragging and would lose their styling otherwise
.field-group {
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;

    > label {
        color: $secondary-color;
        font-size: 1.4rem;
    }

    &.edit {
        border: 1px dashed #DDD;
        background-color: $paper;

        .field-row {
            border: 1px dashed #DDD;
        }
        .enabled-fields .field-row {
            background-color: #F7F3DF;
        }
    }
    .group-header {
        background-color: #CCC;
        padding: 3px;

        .group-controls {
            display: inline-block;
            border-right: 1px solid #BBB;
            margin-right: 10px;
            padding: 5px;
        }
    }
    .disabled-fields .field-controls {
        display: none !important;
    }
    .handle {
        cursor: move;
    }
}
.field-controls,.group-controls {
    i {
        opacity: 0.8;
        font-size: 1.2rem;

        &:hover {
            opacity: 1;
        }
    }
}

.field-row {
    background-color: $paper;
    border-radius: 5px;
    color: #424242;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;

    .field-controls {
        display: inline-block;
    }
    input {
        width: auto;
    }
}

.field-row-container {
    list-style-type: none;
    clear: right;
}

.view-module-icon {
    width: 40px;
    margin-right: 15px;
}

.active-modules .field-row:not(.active-module) {
    display: none;
}

.inactive-modules {
    .field-row.active-module,.module-added {
        display: none;
    }
}

.module-added {
    display: inline-block;
    background-color: #ACD043;
    color: white;
    padding: 5px 10px;
    width: 90px;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
}
