// Partial: Admin

.management {
    min-height: 650px;

    .nav.nav-list {
        margin-top: 115px;

        li {
            padding: 0;

            &.nav-header {
                color: darken($well-color, 25%);
                margin-top: 12px;

                &:first-child {
                    margin-top: 0;
                }
            }
            &.active {
                a {
                    background: $secondary-color;
                    color: white;
                }
            }
            a {
                font-weight: 400;
                padding: 5px 15px;
            }
        }
    }

    .page-header {
        margin: 0 0 30px;
        height: 75px;
        border: none;
        padding: 0;

        h1 {
            margin: 10px 0 0;

            small {
                top: -6px;
                position: relative;
                left: 10px;
            }
        }
    }

    .alert{
        padding: 15px;
        margin-top: 42px;
    }

    .form-horizontal {
        .control-label {
            float: left;
            width: 190px;
            padding-top: 5px;
            text-align: left;
            padding-right: 10px;
            position: relative;
            top: 4px;
        }
    }

    .table {
        select {
            margin: 0;
        }
    }

    .field-view {
        margin-bottom: 20px;
        top: 4px;
        position: relative;
    }

    .tab-content {
        overflow: hidden;

        > .tab-pane {
            min-height: 650px;
        }
    }

    input {
        width: 50%;
        margin-bottom: 8px;
    }

    textarea {
        width: 80%;
        height: 20em;
    }

    .messages,
    .text-danger {
        &:empty {
            display: none !important;
        }

        > ul,
        > p {
            margin: 0;
        }
    }
    .well {
        .page-header {
            margin: 0 0 20px;
            height: auto;
            padding-bottom: 9px;
            border-bottom: 1px solid #DDD;
        }
        h4 {
            color: #333;
            font-size: 1.75rem;
            font-weight: 500;
            margin: 0 0 10px 0;

            > .btn {
                margin-left: 6px;
            }
        }
        .choice-title {
            label {
                margin-top: 2px;
            }
        }
        .choice-options {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #DDD;
        }
    }

    #photo-review-container {
        .thumbnail img {
            width: 100%;
            height: auto;

            @media (min-width:992px){
                height: 240px;
            }
        }
    }
}
