// Partial: Admin

.management {
    min-height: 650px;

    .nav.nav-list {
        margin-top: 115px;

        li {
            padding: 0;

            &.nav-header {
                color: darken($well-color, 25%);
                margin-top: 12px;

                &:first-child {
                    margin-top: 0;
                }
            }
            &.active {
                a {
                    background: $secondary-color;
                    color: white;
                }
            }
            a {
                font-weight: 400;
                padding: 5px 15px;
            }
        }
    }

    .page-header {
        margin: 0 0 30px;
        height: 75px;
        border: none;
        padding: 0;

        h1 {
            margin: 10px 0 0;

            small {
                top: -6px;
                position: relative;
                left: 10px;
            }
        }
    }

    .alert{
        padding: 15px;
        margin-top: 42px;
    }

    .form-horizontal {
        .control-label {
            float: left;
            width: 190px;
            padding-top: 5px;
            text-align: left;
            padding-right: 10px;
            position: relative;
            top: 4px;
        }
    }

    .table {
        select {
            margin: 0;
        }
    }

    .field-view {
        margin-bottom: 20px;
        top: 4px;
        position: relative;
    }

    .tab-content {
        overflow: hidden;

        > .tab-pane {
            min-height: 650px;
        }
    }

    #instances {
        table {
            > tbody {
                > tr {
                    > td:first-child, th:first-child {
                        max-width: 140px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                    }
                }
            }
        }
    }

    input {
        width: 50%;
        margin-bottom: 8px;
    }

    textarea {
        width: 80%;
        height: 20em;
    }

    .messages,
    .text-danger {
        &:empty {
            display: none !important;
        }

        > ul,
        > p {
            margin: 0;
        }
    }
    .well {
        .page-header {
            margin: 0 0 20px;
            height: auto;
            padding-bottom: 9px;
            border-bottom: 1px solid #DDD;
        }
        h4 {
            color: #333;
            font-size: 1.75rem;
            font-weight: 500;
            margin: 0 0 10px 0;

            > .btn {
                margin-left: 6px;
            }
        }
        .choice-title {
            label {
                margin-top: 2px;
            }
        }
        .choice-options {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #DDD;
        }
    }

    #photo-review-container {
        .thumbnail img {
            width: 100%;
            height: auto;

            @media (min-width: 992px){
                height: 240px;
            }
        }
    }

    #payment-form{
        select{
            margin-left: 1px;
        }
    }

}

// .field-group and .field-row-container are not nested under anything, because they are
// cloned by dragula when dragging and would lose their styling otherwise
.field-group {
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;

    &.edit {
        border: 1px dashed #DDD;

        .field-row {
            border: 1px dashed #DDD;
        }
    }
    > ul {
        &.enabled-fields .field-row {
            background-color: #EEE;
        }
        > li {
            margin: 0.5rem;
        }
    }
    .group-header {
        background-color: #CCC;
        padding: 3px;

        .group-controls {
            display: inline-block;
            border-right: 1px solid #BBB;
        }
    }
    .disabled-fields .field-controls {
        display: none !important;
    }
    .handle {
        cursor: move;
    }
}
.field-controls,.group-controls {
    i {
        opacity: 0.8;
        font-size: 1.2rem;

        &:hover {
            opacity: 1;
        }
    }
}

.field-row-container {
    list-style-type: none;
    clear: right;

    .field-row {
        padding: 0.5rem 1.5rem;

        .field-controls {
            display: inline-block;
        }
        input {
            width: auto;
        }
    }
}
