// Partial: Commenting System

#comments-container {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        &:last-of-type {
            margin-bottom: 20px;
        }

        > li {
            padding: 15px;
            border: 1px solid #EEE;
            border-radius: 9px;
            margin-bottom: 10px;

            > ul {
                margin: 15px 0 10px !important;
            }

            .comment_info {
                font-size: 1.2rem;

                .comment_user {
                    float: left;
                }
                .comment_data {
                    float: right;

                    div {
                        display: inline;
                    }

                    .comment_reply_link {

                    }
                }
            }
            .comment_text {
                clear: both;
                padding-top: 5px;
            }
        }
    }

    .submit {
        margin-top: 10px;
    }
}

#id_comment {
    width: 100%;
    height: 100px;
}