#importer{

    h1{
        margin-top: 8px;
    }

    .top-pad-sm{
        padding-top: 14px;
    }

   .top-pad-lg{
        padding-top: 50px;
    }

   td.error {
        background-color: #f2dede;
   }

   td.warning {
        background-color: #fdef8d;
   }

   input {
       width: auto;
   }
}
