#importer{

    h1{
        margin-top: 8px;
    }

    .top-pad-sm{
        padding-top: 14px;
    }

   .top-pad-lg{
        padding-top: 50px;
    }

   td.error {
        background-color: #f2dede;
   }

   td.warning {
        background-color: #fef4ad;
   }

   input {
       width: auto;
   }

   .tab-pane {
       min-height: auto;
   }

   .tab-contents{
      overflow-x: scroll;
      border-left: solid 1px #dddddd;
      border-right: solid 1px #dddddd;
      border-bottom: solid 1px #dddddd;
   }

   .pagination {
        display: inline-block;
        padding-left: 0;

        > li {
            display: inline; // Remove list-style and block-level defaults
            > a,
            > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #8aaa3e;
                background-color: #fff;
                border: 1px solid #eeeeee;
                margin-left: 2px;
                border-radius: 24px;

            }
            &:first-child {
                > a,
                > span {
                    margin-left: 0;
                }
            }
            &:last-child {
                > a,
                > span {
                }
            }
        }

        > li > a,
        > li > span {
            &:hover,
            &:focus {
                color: #fff;
                background-color: #8aaa3e;
                border-color: #8aaa3e;
            }
        }

        > .active > a,
        > .active > span {
            &,
            &:hover,
            &:focus {
                z-index: 2;
                color: #fff;
                background-color: #8aaa3e;
                border-color: #8aaa3e;
                cursor: default;
            }
        }

        > .disabled {
            > span,
            > span:hover,
            > span:focus,
            > a,
            > a:hover,
            > a:focus {
                color: #eeeeee;
                background-color: #f7f7f7;
                border-color: #f7f7f7;
                cursor: not-allowed;
            }
        }
    }

    .btn-info{
      margin-right: 12px;
    }
}
