#modeling {

    .header {
        height: 145px;
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0.15);

        .logo {
            img {
                max-height: 68px;
            }
        }

        .action-block {
            height: 78px;
            padding: 10px 14px;

            border-left: black;
            border-left-width: 1px;
            border-left-style: solid;

            margin-left: 10px;

            .visibility {
                font-size: 1.0rem;
                font-weight: bold;
                padding: 10px
            }

            .actions {
                margin: 10px 0 0 0;
            }

            .private {
                color: lighten($main-text-color, 70%);
            }
        }

        .search-block-wrapper {
            margin-top: -5px;

            .search-block {
                height: 78px;
                padding: 10px 14px;

                &.search-block-large {
                    width: 325px;
                }

                h4 {
                    font-size: 2.1rem;
                    margin: 4px 0 6px;

                    i {
                        font-size: 1.6rem;
                        margin-left: 5px;
                        outline: none;
                    }
                }
                h6 {
                    font-style: italic;
                    font-weight: 400;
                    color: $subtext-color;
                    margin: 0;

                    > a {
                        font-weight: 700;
                        color: $subtext-color;
                    }
                }
                label {
                    margin-top: -2px;
                }
            }
        }
    }

    #view-switcher {
        height: 40px;

        .view-priorities-button.active {
            background-color: deeppink;
        }

        #scenario-buttons {
            display: inline;
            padding-left: 5px;
            border-left: 1px solid gray;

            .active {
                background-color: deeppink;
            }
        }
    }

    .content.map {
        top: 185px;
        bottom: 0;

        .sidebar {
            right: auto;
            left: 0;
            border: none;

            .templates {
                height: 50px;
                background: $main-text-color;
                padding: 9px 15px;
                overflow: hidden;

                > label:not(.custom-select) {
                    color: #818181;
                    font-size: 1.4rem;
                    font-weight: 700;
                    margin-bottom: 0;
                    line-height: 1;
                }

                select {
                    padding: 9px 10px;
                    margin: 0;
                    background: lighten($main-text-color, 12%);
                    color: white;
                    border-radius: 0;
                    font-weight: 400;
                    border: none;
                    outline: none;
                    display: inline-block;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    cursor: pointer;
                    width: 100%;
                }

                @media screen and ( -webkit-min-device-pixel-ratio: 0 ) {
                    select {
                        padding-right: 18px;
                    }
                    label.custom-select:before {
                        height: 35px !important;
                    }
                }

                label.custom-select {
                    position: relative;
                    width: 200px;
                    margin: 0 0 0 10px;
                    top: -2px;

                    &:after {
                        content: '>';
                        font: 14px "Consolas", monospace;
                        color: $light-gray-color;
                        -webkit-transform: rotate(90deg);
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        transform: rotate(90deg);
                        right: 12px;
                        top: 8px;
                        padding: 0 0 2px;
                        position: absolute;
                        pointer-events: none;
                    }
                    &:before {
                        content: '';
                        right: 0px;
                        top: 0px;
                        width: 26px;
                        height: 37px;
                        background: lighten($main-text-color, 12%);
                        position: absolute;
                        pointer-events: none;
                        display: block;
                    }
                }
            }
            > .panel-group {
                border-radius: 0;
                border: none;
                z-index: 9;

                .panel-heading {
                    border-radius: 0;

                    + .panel-collapse {
                        .panel-body {
                            border: none;
                        }
                    }
                }
            }
            .panel {
                border-radius: 0;

                + .panel {
                    margin: 0;
                }

                div.slider {
                    // Fix slider width defaulting to 100px when it is
                    // rendered in a hidden container.
                    width: 100% !important;
                }
            }
        }
        .map {
            right: 0;
            left: 350px;

            .options {
                position: absolute;
                top: 16px;
                right: 70px;
                z-index: 4;

                &:hover {
                    .options-toggle {
                        border-radius: 6px 6px 0 0;
                    }
                    .options-content {
                        display: block;
                        border-radius: 6px 0 6px 6px;
                    }
                }

                .options-toggle {
                    background: white;
                    padding: 7px 12px 8px;
                    width: auto;
                    display: inline-block;
                    position: absolute;
                    font-size: 1.4rem;
                    right: 0;
                    font-weight: 700;
                    border-radius: 6px;
                    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
                }
                .options-content {
                    background: white;
                    width: 260px;
                    padding: 20px 20px 15px;
                    position: absolute;
                    top: 32px;
                    right: 0;
                    border-radius: 6px;
                    display: none;
                    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);

                    label {
                        float: left;
                        clear: both;
                        margin: 12px 0 0;

                        &[for="visibility-slider"] + div.slider > .slider-track {
                            background: #002400;
                            background: -moz-linear-gradient(left, #002400 0%, #005700 17%, #008a00 33%, #52b152 67%, #83c783 83%, #b4ddb4 100%);
                            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#002400), color-stop(17%,#005700), color-stop(33%,#008a00), color-stop(67%,#52b152), color-stop(83%,#83c783), color-stop(100%,#b4ddb4));
                            background: -webkit-linear-gradient(left, #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%);
                            background: -o-linear-gradient(left, #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%);
                            background: -ms-linear-gradient(left, #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%);
                            background: linear-gradient(to right, #002400 0%,#005700 17%,#008a00 33%,#52b152 67%,#83c783 83%,#b4ddb4 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=1 );

                            > .slider-selection {
                                background: transparent;
                                box-shadow: none;
                            }
                        }

                        &:first-of-type {
                            margin-top: 0;
                        }
                    }
                    input.slider {
                        display: none;
                    }
                    div.slider {
                        width: 100% !important;
                    }
                    div.slider-handle {
                        width: 18px;
                        height: 18px;
                        opacity: 1;
                        margin-top: -4px;
                        border: 2px solid white;
                    }
                    small {
                        font-size: 1.1rem;
                        font-weight: 700;
                        color: $subtext-color;
                        margin: 0;
                    }
                }
            }
        }
    }

    .layer-group {
        .panel-heading {
            padding: 15px;
            background: $light-gray-color;
            border-bottom: 1px solid darken($light-gray-color, 10%);
            font-size: 1.6rem;
            font-weight: 700;

            input.slider {
                display: none;
            }
            div.slider {
                //width: 90% !important;
                //margin: 0 5%;
            }

            a {
                box-shadow: none;
                background: transparent;
                color: $main-text-color;
                padding: 0 0 10px;

                &.collapsed {
                    opacity: 0.5;
                }
            }
        }
    }

    .layer {
        padding: 15px;
        border-bottom: 1px solid $light-gray-color;
        border-left: 6px solid $secondary-color;

        &:last-child {
            border-bottom: none;
        }

        h4 {
            font-weight: 700;
            margin: 0 0 6px;
            font-size: 1.4rem;
        }
        input.slider {
            display: none;
        }
        div.slider {
            width: 90% !important;
            margin: 0 5%;
        }
    }
}

#masks {
    @include checkboxes;

    .mask-header {
        padding: 10px 15px;
        background: $light-gray-color;
        border-top: 1px solid darken($light-gray-color, 10%);
        border-bottom: 1px solid darken($light-gray-color, 10%);
        font-size: 1.6rem;
        font-weight: 700;

        &:first-of-type {
            border-top: none;
        }
        & + .mask-row {
            border-top: none;
        }
    }
    .mask-row {
        padding: 10px 15px 9px;
        border-top: 1px solid $light-gray-color;

        &:hover {
            background: lighten($light-gray-color, 2%);
        }

        label {
            font-weight: 400;
            font-size: 1.4rem;
        }
    }
}

#saveModel,
#newModel {
    .modal-dialog {
        margin: 100px auto 30px;
    }
    .modal-header {
        padding: 15px 20px 0;
        border-bottom: none;

        h4 {
            font-size: 3rem;
            margin-top: 10px;
            text-align: center;
        }
        h5 {
            font-size: 2.1rem;
            margin-top: 10px;
            text-align: left;
        }
    }
    .modal-body {
        padding: 12px 20px;

        p {
            color: $subtext-color;
            font-weight: 700;
            font-size: 1.4rem;
        }
    }
    .modal-footer {
        .btn-link {
            font-weight: 700;
            color: $primary-color;
            background: none;
            border: none;

            &:hover {
                box-shadow: none;
                color: darken($primary-color, 10%);
            }
        }
    }
}

#plan-list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: .5s ease transform;

    &.slideUp {
        transform: translate(0, -100%)
    }

    .close {
        position: fixed;
        right: 30px;
        margin-top: -30px;
        opacity: .6;
        background: $main-text-color;
        text-shadow: none;
        color: #fff;
        transition: .2s ease-in-out opacity;
        &:hover {
            opacity: 1;
        }
    }

    .plans-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #fff;
        opacity: .75;
    }

    .plans-content {
        display: block;
        width: 80%;
        min-width: 400px;
        margin: 100px auto 30px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        position: relative;
    }

    .plans-header {
        display: block;
        padding: 30px 30px 15px;
        border-bottom: 1px solid darken($light-gray-color, 10%);

        h3 {
            display: inline-block;
        }
    }

    #plan-filters {
        float: right;
        display: inline-block;
        text-align: right;

        .filter-toggle {
            display: inline-block;
            padding: 15px 0 26px;
            margin-top: -10px;
            font-weight: 400;
            transition: .2s ease-in-out color;
            &:first-child {
                margin-right: 15px;
            }
            &:hover {
                color: $button-primary;
            }
        }

        .active {
            color: $button-primary;
            box-shadow: inset 0 -4px 0 0;
        }
    }

    .plans-body {
        padding: 30px 30px 15px;   
    }

    table {

        thead {
            font-size: 1.3rem;
            color: lighten($subtext-color, 15%);
            tr th {
                border-bottom: none;
                padding-left: 15px;
            }
            a {
                color: lighten($subtext-color, 15%);
            }
            .ascending, .descending {
                color: $main-text-color;
            }
        }

        tbody {
            tr td {
                padding: 15px;
            }

            a {
                text-decoration: underline;
            }
        }

        p {
            font-size: 1.3rem;
            margin: 5px 0;
        }
    }

    .pagination {
        .active a,
        .active a:hover,
        .active a:focus {
            background-color: $button-primary;
            border-color: $button-primary;
        }
    }
}