// Partial: Registration Pages

.login-signup-panel {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 0 gray;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.35);
    width: 540px;
    margin: 30px auto 15px;

    @media screen and (max-width: 767px) {
        width: auto;
        margin: 30px 20px 15px;
    }

    legend {
        padding: 0 20px 15px 20px;
        font-size: 2.4rem;
        font-weight: 300;
        color: $main-text-color;
        margin: 0 -20px 20px -20px;
        box-sizing: content-box;
    }
    form {
        div.field {
            > label {
                &:after {
                    content: ':';
                }
            }
        }
        div.required {
            > label {
                &:after {
                    content: ': *';
                }
            }
        }
        div.field-left {
            display: inline-block;
            width: 49%;
            padding-right: 8px;
        }
        div.field-right {
            display: inline-block;
            width: 50%;
            padding-left: 8px;
        }
        div.section-header {
            font-size: 1.7rem;
            font-weight: bold;
            margin-top: 10px;
            border-bottom: 1px solid #e5e5e5;
        }
        button.btn {
            margin: 0 auto;
            display: block;
            padding: 10px 26px;
        }
    }
}

.have-account {
    font-size: 1.4rem;
}

.signup-option {
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: $navbar-color;
    margin-top: 15px;

    p {
        margin-bottom: 0;
        color: #FFF;
    }
    a {
        margin-left: 20px;
    }
}

.profile-photo-upload {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 3px;
}

label[for="id_allow_email_contact"] {
    float: right;
    width: 95%;
}
#id_allow_email_contact {
    float: left;
}

@media (max-width: 767px) {
    .login-signup-panel {
        width: auto;
        margin: 30px 20px 15px;
    }
}
