env
*.pyc
.vagrant
.#*
local_settings.py
/static
.coverage
.sass-cache
Guardfile
opentreemap/.idea
node_modules/
opentreemap/cloud_management
opentreemap/treemap/static/js/
prototype/css/.sass-cache

# .mo files are compiled, binary language files created
# by ``django-admin.py compilemessages``
*.mo

# the local directory is a place for keeping unversioned
# scripts, etc 
local/