go
env
*.pyc
.vagrant
.#*
local_settings.py
/static
.coverage
.sass-cache
Guardfile
opentreemap/.idea
node_modules/
opentreemap/beta
opentreemap/cloud_management
opentreemap/map_features
opentreemap/super_admin
opentreemap/treemap/static/js/
opentreemap/treemap/static/css/
prototype/css/.sass-cache

# .mo files are compiled, binary language files created
# by ``django-admin.py compilemessages``
*.mo

# the local directory is a place for keeping unversioned
# scripts, etc
local/

opentreemap/treemap/management/commands/extracollect.py

