boto==2.40.0
django-storages==1.4.1
Django==1.8.13  # rq.filter: >=1.8,<1.9
Pillow==3.2.0
gunicorn==19.5.0
psycopg2==2.6.1
django-hstore==1.4.2
wsgiref==0.1.2
pep8==1.4.6 # rq.filter: ==1.4.6
flake8==2.0 # rq.filter: ==2.0
python-omgeo==1.7.2
django-registration-redux==1.4
# Modgrammar-py2 has a 0.9.2 release on PyPi, but no artifacts for the release
modgrammar-py2==0.9.1 # rq.filter: !=0.9.2
django-celery-with-redis==3.0
# libsass==0.2.4
# We need libsass version 3.0, which fixes libsass issue #54
git+https://github.com/dahlia/libsass-python.git@4aa8fd3c2cef8c1
# Django comments are no longer bundled with django in
# 1.6 so we include them here
django-contrib-comments==1.7.1
django-threadedcomments==1.0.1
django-apptemplates==1.1.1
django-queryset-csv==0.3.3
python-dateutil==2.5.3
pytz==2016.4
django-tinsel==0.1.1
django-url-tools==0.0.8
django-redis==4.4.2
hiredis==0.2.0
rollbar==0.12.1
django-statsd-mozilla==0.3.16
