# For outdated module report see https://requires.io/github/OpenTreeMap/otm-core/requirements/?branch=develop
# Changelog URL shown below if not linked on above page

boto==2.42.0                             # http://docs.pythonboto.org/en/latest/releasenotes/v2.39.0.html
# https://docs.djangoproject.com/en/1.10/releases/#id2
Django==1.8.14  # rq.filter: >=1.8,<1.9
django-apptemplates==1.2
# django-celery requires celery, but is incompatible with celery
# 4.0. django-celery has added this restriction on the master branch,
# but it has not yet been released.
celery>=3.1.15,<4.0
django-celery-with-redis==3.0
django-contrib-comments==1.7.3
django-hstore==1.4.2
django-js-reverse==0.7.2
django-queryset-csv==0.3.3               # https://github.com/azavea/django-queryset-csv/commits/master
django-redis==4.4.4
django-registration-redux==1.4
django-statsd-mozilla==0.3.16
django-storages==1.5.1
django-threadedcomments==1.0.1
django-tinsel==0.1.1
django-url-tools==0.0.8
django-webpack-loader==0.3.3             # https://github.com/owais/django-webpack-loader/releases
flake8==2.0 # rq.filter: ==2.0
gunicorn==19.6.0                         # http://docs.gunicorn.org/en/stable/news.html
hiredis==0.2.0
libsass==0.11.1
# Modgrammar-py2 has a 0.9.2 release on PyPi, but no artifacts for the release
modgrammar-py2==0.9.1 # rq.filter: !=0.9.2
pep8==1.4.6 # rq.filter: ==1.4.6
Pillow==3.3.1
psycopg2==2.6.2                          # http://initd.org/psycopg/docs/news.html
python-dateutil==2.5.3                   # https://github.com/dateutil/dateutil/blob/master/NEWS
python-omgeo==1.9.0
pytz==2016.6.1                           # https://launchpad.net/pytz/+announcements
rollbar==0.13.8                          # https://github.com/rollbar/pyrollbar/blob/master/CHANGELOG.md
statsd==3.2.1
wsgiref==0.1.2
