boto==2.11.0
django-storages==1.1.8
Django==1.5
South==0.7.6
PIL==1.1.7
argparse==1.2.1
gunicorn==0.17.2
psycopg2==2.4.6
djorm-ext-hstore==0.5
wsgiref==0.1.2
numpy==1.7.1
git+https://github.com/azavea/eco.py.git
pep8==1.4.6
flake8==2.0
python-omgeo==1.5
git+https://github.com/azavea/django-registration.git
modgrammar-py2==0.9.1
django-celery-with-redis==3.0
libsass==0.2.4
# it is planned to add this to pyPi when it is more stable
git+https://github.com/steventlamb/django-queryset-csv.git
