coverage==4.2                # https://coverage.readthedocs.io/en/coverage-4.2/changes.html
PyVirtualDisplay==0.2        # https://github.com/ponty/PyVirtualDisplay/releases
selenium>=2.53.6,<3.0.0      # https://github.com/SeleniumHQ/selenium/blob/master/py/CHANGES
