@mixin buttons {
    .btn {
        @include button($button-default, $main-text-color);
        &.btn-primary   { @include button($primary-color, #FFF); }
        &.btn-info      { @include button($secondary-color, #FFF); }
        &.btn-success   { @include button($button-success, #FFF); }
        &.btn-warning   { @include button($button-warning, #FFF); }
        &.btn-danger    { @include button($button-danger, #FFF); }
        &.btn-inverse   { @include button($button-inverse, #FFF); }

        &.btn-otmprimary    { @include button($button-primary, #FFF); }
        &.btn-otmsecondary  { @include button($button-info, #FFF); }

        i {
            padding-right: 5px;
            margin-left: -5px;
        }
    }
}

@mixin button($bg-color: $button-default, $text-color: $main-text-color) {
    background: $bg-color;
    border: 1px solid darken($bg-color, 5%);
    color: $text-color;
    text-decoration: none;

    &:hover,
    &:focus {
    	box-shadow: 0 3px 5px darken($bg-color, 10%);
        box-shadow: 0 3px 5px rgba(0,0,0,.1) inset;
        background: darken($bg-color, 5%);
    }

    &.disabled,
    &:disabled {
        box-shadow: none;
        background: $bg-color;
        cursor: default;
    }

    @include button-size(1.4rem);
    &.btn-lg { 
        @include button-size(1.8rem);
        padding: 10px 16px;
    }
    &.btn-sm { 
        @include button-size(1.2rem);
        padding: 5px 10px;
    }
    &.btn-xs { 
        @include button-size(1.0rem);
        padding: 1px 5px;
    }
}

@mixin button-size($text-size: 1.2rem) {
	font-family: $base-font-family;
	font-size: $text-size;
	font-weight: 400;
}
