@mixin checkboxes {
    input[type='radio'],
    input[type='checkbox'] {
        opacity: 0;
        position: absolute;
        width: 0;

        & + label {
            margin: 0;
            clear: none;
            padding: 5px 0 8px 28px;
            font-size: 1.3rem;
            font-weight: 600;
            line-height: 1.6rem;
            color: $main-text-color;
            cursor: pointer;
            background: url(/static/img/off.png) left 3px no-repeat;
        }
        &.disabled + label {
            opacity: 0.4;
            cursor: default;
        }

        @include select-none;
    }
    input[type='radio']:checked + label {
        background-image: url(/static/img/radio.png);
    }
    input[type='checkbox']:checked + label {
        background-image: url(/static/img/check.png);
    }
}
