{% load i18n %}
{% load sort %}

<div class="page-header">
  <h1>Moderate Comments
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">
        {{ comments_filter }} <span class="caret"></span>
      </button>
      <ul data-comments-filter class="dropdown-menu" role="menu">
        {% if comments_filter == 'Active' %}
        <li class="active"><a>Active</a></li>
        {% else %}
        <li><a href="{{ comments_url_with_sort }}&archived=False&removed=None">Active</a></li>
        {% endif %}
        {% if comments_filter == 'Hidden' %}
        <li class="active"><a>Hidden</a></li>
        {% else %}
        <li><a href="{{ comments_url_with_sort }}&archived=None&removed=True">Hidden</a></li>
        {% endif %}
        {% if comments_filter == 'Archived' %}
        <li class="active"><a>Archived</a></li>
        {% else %}
        <li><a href="{{ comments_url_with_sort }}&archived=True&removed=None">Archived</a></li>
        {% endif %}
      </ul>
    </div>
    <button type="button" class="btn btn-sm" ><i class="icon-export"></i>Export All</button>
  </h1>
</div> <!--END OF PAGE HEADER -->
<div class="comments">
  <div class="row comment-table">
    <div class="col-lg-12">
      <table class="table table-hover">
        <thead>
          <tr data-comments-sort>
            <th class="selector">
              <div class="btn-group">
                <input type="checkbox">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-down-dir"></i></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Hide</a></li>
                  <li><a href="#">Unhide</a></li>
                  <li><a href="#">Archive</a></li>
                  <li><a href="#">Unarchive</a></li>
                  <li><a href="#">Unflag</a></li>
                </ul>
              </div>
            </th>
            <th>
              <a href="{{ comments_url_with_filter }}&sort={{ 'id'|reverse_if_current:comments_sort }}">ID</a>
            </th>
            <th>
              <a href="{{ comments_url_with_filter }}&sort={{ 'visible_flag_count'|reverse_if_current:comments_sort }}">Flag</a>
            </th>
            <th>
              <a href="{{ comments_url_with_filter }}&sort={{ 'user__username'|reverse_if_current:comments_sort }}">Comment</a>
            </th>
            <th>Actions</th>
            <th>
              <a href="{{ comments_url_with_filter }}&sort={{ 'submit_date'|reverse_if_current:comments_sort }}">Date</a>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
        {% include 'otm_comments/partials/moderation_row.html' %}
        {% endfor %}
        </tbody>
      </table> <!--END OF TABLE -->
    </div> <!--END OF TABLE COL-12 SECTION -->
  </div> <!--END OF COMMENT TABLE -->

  <div class="row center-block text-center"><!--PAGINATION -->
    <ul class="pagination">
      {% if comments.has_previous %}
        <li>
          <a href="{{ comments_url_without_page }}&page={{ comments.previous_page_number }}">&laquo;</a>
        </li>
      {% else %}
        <li class="disabled"><a>&laquo;</a></li>
      {% endif %}
      {% for page_num in comments.paginator.page_range %}
        {% if comments.number == page_num %}
          <li class="active">
            <a>{{ page_num }} <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li><a href="{{ comments_url_without_page }}&page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if comments.has_next %}
        <li>
          <a href="{{ comments_url_without_page }}&page={{ comments.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="disabled"><a>&raquo;</a></li>
      {% endif %}
    </ul>
  </div> <!--END OF PAGINATION -->

</div> <!--END OF COMMENT AREA -->
