{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load util %}

<tr data-comment-id="{{ comment.id }}">
    <td>
      <input data-batch-action-checkbox type="checkbox"
             {% if comment.id in comment_ids %}checked="checked"{% endif %} />
    </td>
    <td><a href="{{ comment.content_object|detail_link }}">{{ comment.id }}</a></td>
    <td><span class="label label-danger">{{ comment.visible_flag_count }}</span></td>
    <td>
      <div class="comment less">{{ comment.comment }}</div> <a data-less-more href="#">more</a>
      {% with visible_flags=comment.visible_flags %}
      {% if visible_flags %}
        <p><label>Flagged By: {% spaceless %}
        {% for flag in visible_flags %}
          <a href="{{ flag.user|detail_link }}">{{ flag.user.username }} ({{ flag.flagged_at|date:request.instance.short_date_format }})</a>,
        {% endfor %}
        {% endspaceless %}</label></p>
      {% endif %}
      {% endwith %}
      {% with hidden_flags=comment.hidden_flags %}
      {% if hidden_flags %}
        <p><label>Previously Flagged By: {% spaceless %}
        {% for flag in hidden_flags %}
          <a href="{{ flag.user|detail_link }}">{{ flag.user.username }} ({{ flag.flagged_at|date:request.instance.short_date_format }})</a>,
        {% endfor %}
        {% endspaceless %}</label></p>
      {% endif %}
    </td>
    {% spaceless %}
    <td>
      {# Moderators don't see flag, only unflag.  The "|" is inside the if for that reason #}
      {% if comment.visible_flag_count > 0 %}
      <a href="{% url 'hide-comment-flags' request.instance.url_name %}">Unflag</a>
      |
      {% endif %}
      {% if comment.is_removed %}
      <a href="{% url 'show-comments' request.instance.url_name %}">Unhide</a>
      {% else %}
      <a href="{% url 'hide-comments' request.instance.url_name %}">Hide</a>
      {% endif %}
      |
      {% if comment.is_archived %}
      <a href="{% url 'unarchive-comments' request.instance.url_name %}">Unarchive</a>
      {% else %}
      <a href="{% url 'archive-comments' request.instance.url_name %}">Archive</a>
      {% endif %}
    </td>
    {% endspaceless %}
    <td title="{{ comment.submit_date }}">{{ comment.submit_date|naturaltime }}</td>
</tr>
