{% extends "base.html" %}
{% load i18n %}

{% block search %}
{% comment %} Hide search options on error pages {% endcomment %}
{% endblock search %}

{% block subhead %}
{% comment %} Hide subhead on error pages {% endcomment %}
{% endblock subhead %}

{% block content %}
<div class="content">
  	<div class="well error-panel">
  		<div class="error-icon error-icon-img"><img src="/static/img/404.png"></div>
		<h2>{% trans "No trees here!" %}</h2>
		<p>{% trans "Uh oh! Looks like we couldn’t find what you’re looking for. How about " %}
			<a href="{% url 'map' instance_url_name=request.instance.url_name %}">{% trans "exploring trees" %}</a> 
			{% trans " or " %}
			<a href="javascript:;">{% trans "contacting support." %}</a>
		</p>
	</div>
</div>
{% endblock content %}

{% block scripts %}
{% comment %} This page has no interactivity {% endcomment %}
{% endblock scripts %}