{% load i18n %}
{% load l10n %}

<div id="benefit-values">
    {% for benefit in benefits %}
      <span class="benefit-label">{{ benefit.label }}</span>
      <br>
      <span class="content">{{ benefit.value }} {{ benefit.unit }}
        {% if benefit.currency_saved %}
        <br>
        {{ currency_symbol }}{{ benefit.currency_saved }}
        {% comment %}Translators: Money saved{% endcomment %}
        {% trans "saved" %}
        {% endif %}
      </span>
    <hr>
    {% endfor %}
    <div>
      {% blocktrans with used=basis.n_trees_used %}
        Based on {{ used }} out of {{ basis.n_trees_total }} total trees
      {% endblocktrans %}
    </div>
</div>
<div id="tree-and-planting-site-counts">
  {% localize on %}
  <span id="tree-count">
  {% blocktrans count basis.n_trees_total as tree_count %}
    {{ tree_count }}</span> tree,
  {% plural %}
    {{ tree_count }}</span> trees,
  {% endblocktrans %}

  <span id="planting-site-count">
  {% blocktrans count basis.n_plots as plot_count %}
    {{ plot_count }}</span> planting site
  {% plural %}
    {{ plot_count }}</span> planting sites
  {% endblocktrans %}
  {% endlocalize %}
</div>
