{# vim: set filetype=htmldjango : #}
{% load i18n %}
{% load instance_config %}

<div class="accordion" id="map-info">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#map-info" href="#tree-detail">{% trans "Tree Details" %} <span class="arrow pull-right"><i class="icon-right-open"></i></span></a>
    </div>
    <div id="tree-detail" class="accordion-body collapse">
      <div class="accordion-body-buttons" id="map-plot-details-button" style="display: none;">
        <a class="btn" data-class="display" id="full-details-button">{% trans "Full Details" %}</a>
        <button class="btn"
                data-class="display"
                id="edit-details-button"
                data-always-enable="{{ last_effective_instance_user|plot_is_writable }}"
                data-href="{{ request.get_full_path }}"
                data-disabled-title="{% trans "Editing of the tree details is not available to all users" %}"
                disabled="disabled">{% trans "Quick Edit" %}</button>
                <button class="btn btn-success" data-class="edit" id="save-details-button" style="display:none">Save</button>
                <button class="btn" data-class="edit" id="cancel-edit-details-button" style="display:none">Cancel</button>
      </div>
      <div class="accordion-inner" id="plot-accordion">
      </div>
      <div id="move-plot-buttons">
        <button class="btn btn-block"
                data-always-enable="{{ last_effective_instance_user|plot_field_is_writable:"geom" }}"
                data-href="{{ request.get_full_path }}"
                data-disabled-title="{% trans "Editing a plot's location is not available to all users" %}"
                style="display:none"
                id="edit-plot-location"
                disabled="disabled">Move Tree</button>
        <button class="btn btn-success btn-block"
                data-always-enable="{{ last_effective_instance_user|plot_field_is_writable:"geom" }}"
                data-href="{{ request.get_full_path }}"
                data-disabled-title="{% trans "Editing a plot's location is not available to all users" %}"
                style="display:none"
                id="cancel-edit-plot-location"
                disabled="disabled">Cancel Tree Move</button>
      </div>
    </div>
  </div>
  {% if request.instance_supports_ecobenefits %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#map-info" href="#yearlyEco">{% trans "Yearly Eco Benefits" %} <span class="arrow pull-right"><i class="icon-right-open"></i></span></a>
    </div>
    <div id="yearlyEco" class="accordion-body collapse in">
      <div class="accordion-inner" id="benefit-values"></div>
    </div>
  </div>
  {% endif %}
</div>
