{% load form_extras %}
{% load i18n %}

{% trans "Add a Photo" as upload_title %}
{% include "treemap/partials/upload_file.html" with title=upload_title panel_id="shape-photo-upload" label="shape" row_id="add-shape" checkbox_id="has-shape-photo" %}
{% include "treemap/partials/upload_file.html" with title=upload_title panel_id="bark-photo-upload" label="bark" row_id="add-bark" checkbox_id="has-bark-photo" %}
{% include "treemap/partials/upload_file.html" with title=upload_title panel_id="leaf-photo-upload" label="leaf" row_id="add-leaf" checkbox_id="has-leaf-photo" %}
{% include "treemap/partials/upload_file.html" with title=upload_title panel_id="empty-site-photo-upload" label="empty site" row_id="add-empty-site" checkbox_id="has-empty-site-photo"%}

{% with nsteps=3 %}
<div class="sidebar-inner">
    <a href="javascript:;" class="close cancelBtn small hidden-xs">×</a>
    <h3>{% trans "Add a Tree" %}</h3>
    <div class="add-step-container" id="add-tree-container">
        {% include "treemap/partials/step_set_location.html" with first=True feature_name="tree" %}

        <div class="add-step">
            <div class="add-step-header">
                {% trans "Add species and additional info" %}
                <a href="javascript:;" class="close cancelBtn small visible-xs-block">×</a>
            </div>
            <div class="add-step-content">
                <div id="tree-photos">
                    <label>* {% trans "Tree Photos" %}</label>
                    <table class="table table-hover">
                        <tbody>
                            <tr id="add-shape">
                                <td>Add photo of tree shape</td>
                                <td>
                                    <button data-toggle="modal"
                                        data-target="#shape-photo-upload"
                                        class="btn add-photos">{% trans "Add Shape" %}</button>
                                </td>
                            </tr>
                            <tr id="add-leaf">
                                <td>Add photo of tree leaf</td>
                                <td><button data-toggle="modal"
                                        data-target="#leaf-photo-upload"
                                        class="btn add-photos">{% trans "Add Leaf" %}</button>
                                </td>
                            </tr>
                            <tr id="add-bark">
                                <td>Add photo of tree bark</td>
                                <td><button data-toggle="modal"
                                        data-target="#bark-photo-upload"
                                        class="btn add-photos">{% trans "Add Bark" %}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="empty-site-photos">
                    <label>{% trans "Tree Photos" %}</label>
                    <table class="table table-hover">
                        <tbody>
                            <tr id="add-empty-site">
                                <td>Add photo of tree site</td>
                                <td>
                                    <button data-toggle="modal"
                                        data-target="#empty-site-photo-upload"
                                        class="btn add-photos">{% trans "Add Empty Site" %}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form id="add-tree-form" onsubmit="return false;">
                    <div style="display: none;">
                        <input name="has_shape_photo"
                            id="has-shape-photo"
                            type="checkbox" />
                        <input name="has_bark_photo"
                            id="has-bark-photo"
                            type="checkbox" />
                        <input name="has_leaf_photo"
                            id="has-leaf-photo"
                            type="checkbox" />
                    </div>

                    {# The "add-tree-species" label is used as an id prefix in "species_ul.html" #}
                    {% create "add-tree-species" from "Tree.species" in request.instance withtemplate "treemap/field/species_div.html" %}

                    {% trans "* Trunk Diameter" as diameter %}
                    {% create diameter from "Tree.diameter" in request.instance withtemplate "treemap/field/diameter_div.html" %}

                {% for group in field_groups %}
                    {% if group.model == "plot" %}
                        <h3>{% trans "Planting Site Information" %}</h3>
                        <table class="table table-hover">
                            <tbody>
                            {% for tuple in group.fields %}
                                {% with field=tuple.0 label=tuple.1 template=tuple.2 %}
                                    {% create label from field in request.instance withtemplate template %}
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>

                        {% for udf in group.collection_udfs %}
                            {% with title_prefix="Planting Site" %}
                                {% include "treemap/partials/collectionudf.html" with udf=udf title_prefix=title_prefix model=tree values=values %}
                            {% endwith %}
                        {% endfor %}

                    {% elif group.model == "tree" %}
                        <h3>{% trans "Tree Information" %}</h3>
                        <table class="table table-hover">
                            <tbody>
                            {% for tuple in group.fields %}
                                {% with field=tuple.0 label=tuple.1 template=tuple.2 %}
                                    {% create label from field in request.instance withtemplate template %}
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>

                        {% for udf in group.collection_udfs %}
                            {% with title_prefix=udf.model_type %}
                                {% include "treemap/partials/collectionudf.html" with udf=udf title_prefix=title_prefix model=tree values=values %}
                            {% endwith %}
                        {% endfor %}

                    {% endif %}

                {% endfor %}

                    {% include 'treemap/partials/hidden_address.html' with object_name='plot' %}
                </form>
            </div>
            {% include 'treemap/partials/step_controls.html' %}
        </div>
        <div class="add-step">
            <div class="add-step-header">
                {% trans "Finalize this tree" %}
                <a href="javascript:;" class="close cancelBtn small visible-xs-block">×</a>
            </div>
            <div class="add-step-content">
                <h3 class="summaryHead"></h3>
                <h6 class="summarySubhead"></h6>
                <h4 class="summaryAddress"></h4>
                <h6>{% trans "Nearby Address" %}</h6>
                <hr/>
                <label>{% trans "After I add this tree..." %}</label>
                <div>
                    <input type="radio" name="addFeatureOptions" value="copy" id="addtree-addsame"
                           data-event-category="add-tree" data-event-action="done-add-copy" /><label for="addtree-addsame">
                        {% trans "Add another tree with these details" %}
                    </label>
                </div>
                <div>
                    <input type="radio" name="addFeatureOptions" value="new" id="addtree-addnew" 
                           data-event-category="add-tree" data-event-action="done-add-new" /><label for="addtree-addnew">
                        {% trans "Add another tree with new details" %}
                    </label>
                </div>
                <div>
                    <input type="radio" name="addFeatureOptions" value="edit" id="addtree-viewdetails"
                           data-event-category="add-tree" data-event-action="done-edit" /><label for="addtree-viewdetails">
                        {% trans "Continue editing this tree" %}
                    </label>
                </div>
                <div>
                    <input type="radio" name="addFeatureOptions" value="close" id="addtree-done" checked
                           data-event-category="add-tree" data-event-action="done-close" /><label for="addtree-done">
                        {% trans "I'm done!" %}
                    </label>
                </div>
            </div>
            {% include 'treemap/partials/step_controls.html' with last=True feature_name="tree" %}
        </div>
    </div>
</div>
{% endwith %}
