{% extends "base.html" %}

{% block title %}Open Tree Map Test{% endblock title %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/openlayers.css">
<script>
(function(require) {
    var $ = require("jquery"),
        app = require("treemap");

    $(function(){
        app.init(otm.settings);
    })
})(require);
</script>
{% endblock scripts %}

{% block content %}
  <div>
    <h2>Selected: <span id="attrs"></h2>
    <h2>Search</h2>
    <div>
      Species:
      <input type="text" data-class="search" id="species-typeahead" />
      <input type="hidden" id="search-species" />
    </div>
    <div>
      Boundaries:
      <input type="text" data-class="search" id="boundary-typeahead" />
      <input type="hidden" id="boundary" />
    </div>
    <div>DBH Min: <input data-class="search" id="dbh-min"></div>
    <div>DBH Max: <input data-class="search" id="dbh-max"></div>
    <button id="perform-search">Go</button>
  </div>
  <div id="search-results"></div>
  <div>
    <h2>Search Result:</h2>
    <div id="search-results"></div>
  </div>
  <div id="map" style="width: 800px; height: 800px"></div>
{% endblock content %}

{% block templates %}
{% verbatim %}
<script id="species-element-template" type="text/x-mustache-template">
  <p>{{common_name}}</p>
  <p>{{scientific_name}}</p>
</script>
{% endverbatim %}
{% endblock templates %}
