{% extends "base.html" %}

{% block title %}Open Tree Map Test{% endblock title %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/openlayers.css">
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<script src="{{ STATIC_URL }}js/src/map.js"></script>
{% endblock scripts %}

{% block templates %}
<script type="text/template" id="template-search-results">
<div>
  <h2>Benefits</h2>
  <table>
    <tr><th>Benefit</th><th>Value</th></tr>
    <tr><td>Energy<td><%= search.benefits.energy %></td></tr>
    <tr><td>Air Quality<td><%= search.benefits.airquality %></td></tr>
    <tr><td>Storwater<td><%= search.benefits.stormwater %></td></tr>
  </table>
  <div>
    Search returned <%= search.basis.n_total_plots %> plots and
    <%= search.basis.n_total_trees %> trees
  </div>
</script>
{% endblock templates %}

{% block content %}
  <div>
    <h2>Selected: <span id="attrs"></h2>
    <h2>Search</h2>
    <div>
      Species:
      <select data-class="search" id="search-species">
        <option value="">None</option>
        {% for sp in species %}
        <option value="{{ sp.pk }}">{{ sp.scientific_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      Boundaries:
      <select data-class="search" id="boundary">
        <option value="">None</option>
        {% for boundary in bounds %}
        <option value="{{ boundary.pk }}">{{ boundary.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>DBH Min: <input data-class="search" id="dbh-min"></div>
    <div>DBH Max: <input data-class="search" id="dbh-max"></div>
    <button id="perform-search">Go</button>
  </div>
  <div id="search-results"></div>
  <div>
    <h2>Search Result:</h2>
    <div id="search-results"></div>
  </div>
  <div id="map" style="width: 800px; height: 800px"></div>
{% endblock content %}
