{% extends "base.html" %}

{% block title %}Open Tree Map Test{% endblock title %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/openlayers.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/otm.css">
{% endblock head_extra %}

{% block scripts %}
<script>
(function(require) {
    var $ = require("jquery"),
        app = require("treemap");

    $(function(){
        app.init(otm.settings);
    })
})(require);
</script>
{% endblock scripts %}

{% block content %}
{% load i18n %}
  <div>
    <h2>{% trans "Selected:" %} <span id="attrs"></h2>
    <h2>{% trans "Search" %}</h2>
    <div>
      {% trans "Species:" %}
      <input type="text" data-class="search" id="species-typeahead" />
      <input type="hidden" id="search-species" />
    </div>
    <div>
      {% trans "Boundaries:" %}
      <input type="text" data-class="search" id="boundary-typeahead" />
      <input type="hidden" id="boundary" />
    </div>
    <div>{% trans "DBH Min:" %}<input data-class="search" id="dbh-min"></div>
    <div>{% trans "DBH Max:" %}<input data-class="search" id="dbh-max"></div>
    <button id="perform-search">{% trans "Go" %}</button>
  </div>
  <div id="search-results"></div>
  <div>
    <h2>{% trans "Search Result:" %}</h2>
    <div id="search-results"></div>
  </div>
  <div id="map" style="width: 800px; height: 800px"></div>
{% endblock content %}

{% block templates %}
{% verbatim %}
<script id="species-element-template" type="text/x-mustache-template">
  <p>{{common_name}}</p>
  <p>{{scientific_name}}</p>
</script>
<script id="boundary-element-template" type="text/x-mustache-template">
  <p>{{name}}</p>
  <p>{{category}}</p>
</script>
{% endverbatim %}
{% endblock templates %}
