{% extends "instance_base.html" %}
{% load render_bundle from webpack_loader %}
{% load threadedcomments_tags %}
{% load instance_config %}
{% load i18n %}
{% load l10n %}
{% load form_extras %}
{% load util %}

{% block page_title %} | {{ feature.terminology.singular }} {{ feature.pk }}{% endblock %}

{% block head_extra %}
    {# Facebook & Google+ scrape these properties for their share dialogs #}
    <meta property="og:url" content="{{ share.url }}" />
    <meta property="og:title" content="{{ share.title }}" />
    <meta property="og:description" content="{{ share.description }}" />
    <meta property="og:image" content="{{ share.image }}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ request.instance.name }}" />
{% endblock head_extra %}

{% block map_query %}{{ map_query }}{% endblock %}

{% block subhead_exports %}
    {# Exporting is not available from the detail page #}
{% endblock subhead_exports %}

{% block content %}
    {% trans "Add a Photo" as upload_title %}
    {% include "treemap/partials/upload_file.html" with title=upload_title upload_url=upload_photo_endpoint %}

    {% if request.instance.is_public %}
        {% include "treemap/partials/photo_social_media_sharing.html" %}
    {% endif %}

    {# Modal for viewing and rotating photos #}
    <div id="photo-lightbox" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content lightbox">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="alert alert-danger delete-photo-prompt" data-class="delete">
                    {% trans "Are you sure you want to delete this photo?" %}
                </p>
                <img data-photo-image src="">
                <div class="lightbox-caption">
                    <div class="pull-right" data-class="view">
                        <button class="btn btn-small btn-danger" type="button" disabled="disabled"
                                data-photo-delete-start
                                data-disabled-title="{% trans 'Deleting of photos is not available to all users' %}"
                                >{% trans "Delete" %}</button>
                        <a class="btn btn-small" data-photo-edit>{% trans "Edit" %}</a>
                    </div>
                    <div class="pull-left" data-class="edit">
                        <a class="btn btn-small pull-left btn-rotate" data-class="edit" data-photo-rotate="-90"><i class="icon-ccw"></i></a>
                        <a class="btn btn-small pull-left btn-rotate" data-class="edit" data-photo-rotate="90"><i class="icon-cw"></i></a>
                    </div>
                    <button data-class="edit" disabled="disabled" class="btn btn-small pull-right"
                            data-photo-save="">{% trans "Save" %}</button>
                    <div class="pull-right" data-class="delete">
                        <button disabled="disabled" class="btn btn-small btn-danger" data-photo-confirm="">{% trans "Yes" %}</button>
                        <button class="btn btn-small" data-photo-keep="">{% trans "No" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="image-background"></div>
    <div class="container contained topper tree-details">
        <div class="row">
            <div class="col-md-3">
                <div class="photo-container">
                    <div id="photo-carousel" class="carousel slide" data-interval="">
                        {% include "treemap/partials/photo_carousel.html" %}
                    </div>
                    <button data-toggle="modal"
                            data-target="#upload-panel"
                            data-href="{{ request.get_full_path }}"
                            data-always-enable="{{ last_effective_instance_user|photo_is_addable:feature }}"
                            disabled="disabled"
                            {% if feature.is_plot %}
                            data-disabled-title="{% trans "Adding tree photos is not available to all users" %}"
                            {% else %}
                            data-disabled-title="{% trans "Adding resource photos is not available to all users" %}"
                            {% endif %}
                            class="btn btn-xs add-photos">{% trans "Add Photo" %}</button>
                </div>
                <div id="sidebar">
                    {% include "treemap/partials/sidebar.html" %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div id="mapFeaturePartial">
                        {% include map_feature_partial %}
                    </div>
                    <!-- Maps -->
                    <div class="col-md-4">
                        <div id="map" class="map-small"
                             data-has-boundaries="False"
                             data-has-polygons="{{ has_polygons }}">
                        </div>
                        {% if feature.is_editable %}
                            <button
                                    data-href="{{ request.get_full_path }}"
                                    style="display:none"
                                    id="edit-location"
                                    class="btn btn-block btn-sm btn-otmsecondary">{% trans "Move Location" %}</button>
                            <button class="btn btn-block btn-sm btn-alert" style="display:none" id="cancel-edit-location">{% trans "Cancel Move Location" %}</button>
                        {% endif %}
                        <br>
                        <div id="street-view" class="street-view-small" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script id="template-comment" type="template/underscore">
        {% get_comment_form for feature as form %}
        <form action="{% url 'comments-post-comment' %}" class="<%= classname %>" method="post">
            {% csrf_token %}
            {{ form.comment }}
            <input style="display: none" id="id_honeypot" name="honeypot" type="text">
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="parent" value="<%= parent %>">

            <input type="hidden" name="next" value="{{request.get_full_path}}" />
            <input type="hidden" name="markup" value="5">
            <div class="submit">
                <input disabled="disabled" type="submit" name="post" class="submit-post btn btn-primary" value="Post" />
            </div>
        </form>
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_API_KEY }}"></script>

    <script>
        {% localize off %}
            // This global variable is used in the JS entry module as a simple way to pass in static data
            window.otm.mapFeature = {
                startInEditMode: {% if editmode %}true{% else %}false{% endif %},
                isEditablePolygon: {% if feature.polygon and feature.is_editable %}true{% else %}false{% endif %},
                featureId: {{ feature.pk }},
                maxImageSize: {{ settings.MAXIMUM_IMAGE_SIZE }},
                location: {
                    polygon: {{ feature.polygon|lat_lng_coordinates_json|safe }},
                    point: {
                        x: {{ feature.geom.x }},
                        y: {{ feature.geom.y }}
                    }
                },
                isPlot: {% if feature.is_plot %}true{% else %}false{% endif %},
                useTreeIcon: {% if feature.is_plot %}true{% else %}false{% endif %},
                resourceType: "{{ feature.map_feature_type|to_object_name }}"
            };
            Object.freeze(window.otm.mapFeature);
        {% endlocalize %}
    </script>
    {% render_bundle 'js/treemap/mapFeatureDetail' %}
{% endblock scripts %}
