{% load i18n %}
{% load auth_extras %}

{% usercanread plot.current_tree "species" as species %}
<span class="plot-label">{{ species.common_name }}</span>
<br />
<span class="content"><em>{{ species.scientific_name }}</em></span>
<p />
{% endusercanread %}
{% usercanread plot "address_street" as addr %}
<span class="plot-label">{% trans "Nearby Address" %}</span>
<br />
<span class="content">{{ addr }}</span>
<p />
{% endusercanread %}
{% usercanread plot.current_tree "diameter" as diameter %}
<span class="plot-label">{% trans "Trunk Diameter" %}</span>
<br />
<span class="content">{{ diameter|floatformat }}</span>
<p />
{% endusercanread %}
{% usercanread plot.current_tree "height" as height %}
<span class="plot-label">{% trans "Height" %}</span>
<br />
<span class="content">{{ height }}</span>
{% endusercanread %}
