{% extends "treemap/map_feature_detail.html" %}
{% load i18n %}
{% load l10n %}
{% load auth_extras %}
{% load form_extras %}
{% load udf %}
{% load util %}

{% block page_title %} | {% trans "Planting Site" %} {{plot.pk}}{% endblock %}

{% block subclass_details %}

<h3>{% trans "Tree Information" %}</h3>

<!-- Add a Tree Section -->
<div id="add-tree-section" {{ has_tree|yesno:"style=display:none;," }}>
  <div class="alert alert-warning" id="no-tree-message">
    <p>{% trans "There is no tree for this planting site." %}</p>
    {% usercancreate tree %}
    <a href="javascript:;" id="add-tree" class="btn btn-warning" style="display: none;">{% trans "Add Tree" %}</a>
    <a href="javascript:;" id="cancel-add-tree" class="btn" style="display: none;">{% trans "Cancel Adding Tree" %}</a>

    {# Hidden id fields for use in creating a new tree #}
    {% create from "Tree.plot" for request.user in request.instance withtemplate "treemap/field/hidden.html" %}
    {% localize off %}
    {% field from "plot.id" for request.user withtemplate "treemap/field/hidden.html" %}
    {% endlocalize %}
    {% endusercancreate %}
  </div>
</div>

<!-- Tree Information -->
<div id="tree-details" {{ has_tree|yesno:",style=display:none;" }}>
  <table class="table table-hover">
    <tbody>
      {% usercanread tree "id" as value %}
      <tr>
        <td>{% trans "Tree Number" %}</td>
        <td id="tree-id-column"
            data-tree-id="{% if has_tree %}{{ value|unlocalize }}{% endif %}">
        {% if has_tree %}
          <a href="{% url 'tree_detail' instance_url_name=request.instance.url_name feature_id=plot.pk tree_id=tree.pk %}">{{ value|unlocalize }}</a>
        {% endif %}
        </td>
      </tr>
      {% endusercanread %}
      {# The "plot-species" label is used as an id prefix in "field/species_tr.html" #}
      {% field "plot-species" from "tree.species" for request.user withtemplate "treemap/field/species_tr.html" %}
      {% trans "Trunk Diameter" as diameter %}
      {% field diameter from "tree.diameter" for request.user withtemplate "treemap/field/diameter_tr.html" %}
      {% trans "Tree Height" as height %}
      {% field height from "tree.height" for request.user withtemplate "treemap/field/tr.html" %}
      {% trans "Canopy Height" as canopy %}
      {% field canopy from "tree.canopy_height" for request.user withtemplate "treemap/field/tr.html" %}
      {% trans "Date Planted" as planted %}
      {% field planted from "tree.date_planted" for request.user withtemplate "treemap/field/tr.html" %}
      {% trans "Date Removed" as removed %}
      {% field removed from "tree.date_removed" for request.user withtemplate "treemap/field/tr.html" %}
      {% for label, udf in tree.scalar_udf_names_and_fields %}
        {% field label from udf for request.user withtemplate "treemap/field/tr.html" %}
      {% endfor %}
    </tbody>
  </table>

  {# Render collection UDF fields for the Tree #}
  {% if tree %}
    {% for udf in tree.collection_udfs %}
      {% with values=tree.udfs|get:udf.name %}
          {% include "treemap/partials/collectionudf.html" with udf=udf model=tree values=values %}
        {% endwith %}
    {% endfor %}
  {% endif %}
</div>

<table class="table table-hover">
  <h3>{% trans "Planting Site Information" %}</h3>
  <tbody>
    {% trans "Width" as width %}
    {% field width from "plot.width" for request.user withtemplate "treemap/field/tr.html" %}
    {% trans "Length" as len %}
    {% field len from "plot.length" for request.user withtemplate "treemap/field/tr.html" %}
    {% trans "Address" as street %}
    {% field street from "plot.address_street" for request.user withtemplate "treemap/field/tr.html" %}
    {% trans "City" as city %}
    {% field city from "plot.address_city" for request.user withtemplate "treemap/field/tr.html" %}
    {% trans "Postal Code" as zip %}
    {% field zip from "plot.address_zip" for request.user withtemplate "treemap/field/tr.html" %}
    {% trans "Original Owner Id" as oid %}
    {% field oid from "plot.owner_orig_id" for request.user withtemplate "treemap/field/tr.html" %}
    <!-- Hiding readonly field temporarily -->
    <!-- See github #379 and #772 for more details -->
    <!-- {% trans "Read Only" as readonly %} -->
    <!-- {% field readonly from "plot.readonly" for request.user withtemplate "treemap/field/tr.html" with extra='style="display:none"' %} -->
    {% for label, udf in plot.scalar_udf_names_and_fields %}
      {% field label from udf for request.user withtemplate "treemap/field/tr.html" %}
    {% endfor %}
  </tbody>
</table>

{# Render collection UDF fields for the Plot  #}
{% for udf in plot.collection_udfs %}
  {% with values=plot.udfs|get:udf.name %}
    {% include "treemap/partials/collectionudf.html" with udf=udf model=plot values=values %}
  {% endwith %}
{% endfor %}

<!-- Ecosystem Benefits -->
<div id="ecobenefits">
<h3>{% trans "Yearly Ecosystem Services" %}</h3>
{% if request.instance_supports_ecobenefits %}
  {% include "treemap/partials/plot_eco.html" %}
{% else %}
  <div class="alert alert-info">
    <p>
      {% blocktrans %}
      Ecosystem benefits are not available for tree maps in locations outside the
      United States. More info is available on the <a href="https://opentreemap.org/faq/#03">OpenTreeMap FAQ page.</a>
      {% endblocktrans %}
    </p>
  </div>
{% endif %}
</div>

{% endblock subclass_details %}

{% block scripts %}

{{ block.super }}

<script>
{% localize off %}
(function(require, config, mapFeatureOptions) {
      var mapFeatureModule = require('treemap/mapFeature'),
          plot = require('treemap/plot');

      // mapFeatureOptions is defined in a script block of the super-template
      mapFeatureOptions.treeIdColumn = '#tree-id-column';
      mapFeatureOptions.useTreeIcon = true;
      var mapFeature = mapFeatureModule.init(mapFeatureOptions);

      plot.init({
          startInEditMode: {% if editmode %}true{% else %}false{% endif %},
          treeIdColumn: '#tree-id-column',
          ecoBenefits: '#ecobenefits',
          plotId: {{ plot.id }},
          addTree: '#add-tree',
          noTreeMessage: '#no-tree-message',
          cancelAddTree: '#cancel-add-tree',
          addTreeSection: '#add-tree-section',
          treeSection: '#tree-details',
          inlineEditForm: mapFeatureOptions.inlineEditForm,
          form: mapFeature.inlineEditForm,
          typeaheads: [{
              name: "species-edit",
              url: config.instance.url + "species/",
              input: "#plot-species-typeahead",
              template: "#species-element-template",
              hidden: "#plot-species-hidden",
              reverse: "id",
              forceMatch: true
          }]
      });
})(require, otm.settings, mapFeatureOptions);
{% endlocalize %}
</script>

{% endblock scripts %}
