{% extends "instance_base.html" %}
{% load i18n %}
{% load auth_extras %}
{% load form_extras %}

{% block page_title %} | {% trans "Planting Site" %} {{plot.pk}}{% endblock %}

{% block head_extra %}
{% endblock head_extra %}


{% block content %}
{% include "treemap/partials/upload_image.html" with panel_id="add-photo-modal" title="Add a Photo" endpoint=upload_tree_photo_url %}

<div class="image-background"></div>
<div class="container contained tree-details">
  <div class="row-fluid">
    <div class="span3">
      {% with photo=tree.most_recent_photo %}
      {% if photo %}
      <a href="{{ photo.image.url }}"><img id="tree-photo" src="{{ photo.thumbnail.url }}"></a>
      {% else %}
      <img src="{{ STATIC_URL }}img/tree.png">
      {% endif %}
      {% endwith %}
      {% if request.user.is_authenticated %}
      {% if request.instance_user.can_add_photos_to_tree %}
      <a id="toggle-add-photo-modal" data-toggle="modal" data-target="#add-photo-modal" class="btn btn-mini add-photos">{% trans "Add Photos" %}</a>
      {% else %}
      <a data-toggle="modal" disabled="disabled" class="btn btn-mini add-photos" title="{% trans "Adding tree photos is not available to all users" %}">{% trans "Add Photos" %}</a>
      {% endif %}
      {% else %}
      <a href="{% url 'django.contrib.auth.views.login' %}?next={{ request.get_full_path }}" class="btn btn-mini">{% trans "Add Photos" %}</a>
      {% endif %}
      <div id="upload-error" class="text-error" style="display: none"></div>
      <hr>
      <a class="btn add-favorite" href="javascript:;">{% trans "Add to Favorites" %}</a>
      <hr>
      <h3>{% trans "Latest Update" %}</h3>
      <p>{{ recent_activity.0.short_descr }}</p>
      <h5>20% {% trans "Complete" %}</h5>
      <div class="progress">
        <div class="bar" style="width: 20%;"></div>
      </div>
      <hr>
      <h3>{% trans "Recent Edits" %}</h3>
      <ul>
        {% for audit in recent_activity %}
        <li>{{ audit.short_descr }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="span6">
      <h1>{{ tree.species.common_name }}</h1>
      <h2>{{ tree.species.scientific_name }}</h2>
      <h3>{{ plot.address_full }}</h3>
      <form id="plot-form">
        <button id="edit-plot" data-class="display" class="btn"
           title="{% trans "Editing of the tree details is not available to all users" %}"
           disabled="disabled">{% trans "Edit" %}</button>
        <button id="save-edit-plot" data-class="edit" class="btn" style="display: none;">{% trans "Save" %}</button>
        <button id="cancel-edit-plot" data-class="edit" class="btn" style="display: none;">{% trans "Cancel" %}</button>

        <!-- General Tree Information -->
        <h5>{% trans "General Tree Information" %}</h5>
        <div id="add-tree-section" {{ has_tree|yesno:"style=display:none;," }}>
          {% trans "There is no tree for this plot." %}
          {% usercancreate tree %}
          <a href="javascript:;" id="add-tree" class="btn" style="display: none;">{% trans "Add Tree" %}</a>
          <a href="javascript:;" id="cancel-add-tree" class="btn"
            style="display: none;">{% trans "Cancel Adding Tree" %}</a>

          {# Hidden id fields for use in creating a new tree #}
          {% create from "tree.plot" for request.user in request.instance withtemplate "treemap/field/hidden.html" %}
          {% field from "plot.id" for request.user withtemplate "treemap/field/hidden.html" %}
          {% endusercancreate %}
        </div>
        <div id="tree-details" {{ has_tree|yesno:",style=display:none;" }}>
          <table class="table table-striped">
            <tbody>
              {% usercanread tree "id" as value %}
              <tr>
                <td>{% trans "Tree Number" %}</td>
                <td>
                {% if has_tree %}
                  <a href="{% url 'tree_detail' instance_url_name=request.instance.url_name plot_id=plot.pk tree_id=tree.pk %}">{{ value }}</a>
                {% endif %}
                </td>
              </tr>
              {% endusercanread %}
              {# The "plot-species" label is used as an id prefix in "field/species_tr.html" #}
{#               {% field "plot-species" from "tree.species" for request.user withtemplate "treemap/field/species_tr.html" %} #}
              {% trans "Trunk Diameter" as diameter %}
              {% field diameter from "tree.diameter" for request.user withtemplate "treemap/field/diameter_tr.html" %}
              {% trans "Tree Height" as height %}
              {% field height from "tree.height" for request.user withtemplate "treemap/field/tr.html" %}
              {% trans "Canopy Height" as canopy %}
              {% field canopy from "tree.canopy_height" for request.user withtemplate "treemap/field/tr.html" %}
              {% for label, udf in tree.scalar_udf_names_and_fields %}
                {% field label from udf withtemplate "treemap/field/tr.html" %}
              {% endfor %}
            </tbody>
          </table>

          {% if tree %}
          {% for udf in tree.get_user_defined_fields %}
            {% if udf.iscollection %}
              {% include "treemap/partials/collectionudf.html" with udf=udf %}
            {% endif %}
          {% endfor %}
          {% endif %}
        </div>

        <table class="table table-striped">
          <h5>{% trans "General Plot Information" %}</h5>
          <tbody>
            {% trans "Width" as width %}
            {% field width from "plot.width" for request.user withtemplate "treemap/field/tr.html" %}
            {% trans "Length" as len %}
            {% field len from "plot.length" for request.user withtemplate "treemap/field/tr.html" %}
            {% trans "Address" as street %}
            {% field street from "plot.address_street" for request.user withtemplate "treemap/field/tr.html" %}
            {% trans "City" as city %}
            {% field city from "plot.address_city" for request.user withtemplate "treemap/field/tr.html" %}
            {% trans "Postal Code" as zip %}
            {% field zip from "plot.address_zip" for request.user withtemplate "treemap/field/tr.html" %}
            {% trans "Original Owner Id" as oid %}
            {% field oid from "plot.owner_orig_id" for request.user withtemplate "treemap/field/tr.html" %}
            {% trans "Read Only" as readonly %}
            {% field readonly from "plot.readonly" for request.user withtemplate "treemap/field/tr.html" %}
            {% for label, udf in plot.udf_names_and_fields %}
              {% field label from udf withtemplate "treemap/field/tr.html" %}
            {% endfor %}
          </tbody>
        </table>
      </form>
      <hr>

      <!-- Yearly Ecosystem Services -->
      <h5>{% trans "Yearly Ecosystem Services" %}</h5>
      {% if benefits %}
      <table class="table table-striped">
        <tbody>
        {% for benefit in benefits %}
          <tr>
            <td>{{ benefit.label }}</td>
            <td>{{ benefit.value }} {{ benefit.unit}}</td>
            <td>{{ currency_symbol }}{{ benefit.currency_saved }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div>
        {% trans "Add the diameter of the tree and select a species to calculate the yearly ecosystem services." %}
      </div>
      {% endif %}
    </div>
    <div class="span3">
      <button class="btn" style="display:none" id="edit-plot-location">Move Tree</button>
        <button class="btn" style="display:none" id="cancel-edit-plot-location">Cancel Tree Move</button>
        <div id="map" class="map-small"></div>
        <div id="street-view" class="street-view-small" style="display: none;"></div>
      <h3>{% trans "Commments" %}</h3>

      {% if request.user.is_authenticated %}
        <form>
          <textarea rows=8></textarea><br>
          <button type="submit" class="btn">{% trans "Submit" %}</button>
        </form>
      {% else %}
      <p><a href="{% url 'registration_register' %}">{% trans "Sign Up" %}</a>
         {% trans "or" %} <a href="{% url 'auth_login' %}">{% trans "log in" %}</a>
         {% trans "to add comments" %}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<script>
(function(require, config) {
      var plot = require('plot');

      var updateUrl = window.location.href;
      var U = require('utility');
      if (U.endsWith(updateUrl, '/edit')) {
            updateUrl = updateUrl.substring(0, updateUrl.length - '/edit'.length);
      }

      plot.init({
          config: config,
          startInEditMode: {% if editmode %}true{% else %}false{% endif %},
          inlineEditForm: {
              updateUrl: updateUrl,
              form: '#plot-form',
              edit: '#edit-plot',
              save: '#save-edit-plot',
              cancel: '#cancel-edit-plot',
              displayFields: '[data-class="display"]',
              editFields: '[data-class="edit"]',
              validationFields: '[data-class="error"]'
          },
          addTree: '#add-tree',
          cancelAddTree: '#cancel-add-tree',
          addTreeSection: '#add-tree-section',
          treeSection: '#tree-details',
          typeaheads: [{
              name: "species",
              url: config.instance.url + "species",
              input: "#plot-species-typeahead",
              template: "#species-element-template",
              hidden: "#plot-species-hidden",
              reverse: "id"
          }],
          imageUploadPanel: {
              panelId: '#add-photo-modal',
              show: '#toggle-add-photo-modal',
              imageElement: '#tree-photo',
              error: '#upload-error'
          },
          plotLocation: {
              edit: '#edit-plot-location',
              cancel: '#cancel-edit-plot-location',
              location: {
                  x: {{ plot.geom.x }},
                  y: {{ plot.geom.y }}
              }
          },
          streetView: '#street-view',
          noStreetViewText: '{% trans "Could not load street view for this location" %}'
      });
})(require, otm.settings);
</script>
{% endblock scripts %}
