{% load i18n %}
<div><label>{% trans "ID:" %}</label>{{ plot.pk }}</div>
<div><label>{% trans "Species:" %}</label>{{ plot.current_tree.species }}</div>
<div><label>{% trans "Nearby Address:" %}</label>{{ plot.address_full }}</div>
<div><a href="{% url 'plot_detail' instance_url_name=request.instance.url_name plot_id=plot.pk %}">{% trans "View all details" %}</a></div>
<div><a href="{% url 'plot_detail' instance_url_name=request.instance.url_name plot_id=plot.pk %}#edit">{% trans "Edit details" %}</a></div>
