{% load i18n %}
{% load util %}

<table id="recent-user-edits" class="table table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Value Changed" %}</th>
            <th>{% trans "New Value" %}</th>
            <th>{% trans "Date" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for audit in audits %}
        <tr data-id="{{audit.id}}">
            <td>{{ audit.display_action }}</td>
            <td>{{ audit.model|display_name }}</td>
            <td>{{ audit.field_display_name }}</td>

            <td>
            {% if audit.field == 'plot' %}
                Planting Site {{ audit.clean_current_value }}
            {% else %}
                {{ audit.current_display_value|default_if_none:"" }}
            {% endif %}
            </td>

            <td>{{ audit.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pager">
    {% if prev_page %}
        <li class="previous">
            <a id="recent-user-edits-prev" href="{% url 'user_audits' username=user.username %}{{prev_page }}">
                &larr; {% trans "Previous" %}
            </a>
        </li>
    {% endif %}
    {% if next_page %}
        <li class="next">
            <a id="recent-user-edits-next" href="{% url 'user_audits' username=user.username %}{{ next_page }}">
                {% trans "Next" %} &rarr;
            </a>
        </li>
    {% endif %}
</ul>
