{% load i18n %}

<table id="recent-user-edits" class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Item" %}</th>
            <th>{% trans "Value Changed" %}</th>
            <th>{% trans "New Value" %}</th>
            <th>{% trans "Date" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for audit in audits %}
        <tr data-id="{{audit.id}}">
            <td>{{ audit.display_action }}</td>
            <td>{{ audit.model }}</td>
            <td>{{ audit.field }}</td>

            {% if audit.field == 'plot' %}
            <td>
                Plot {{ audit.clean_current_value }}
            </td>
            {% elif audit.field == 'species' %}
            <td>
                {{ audit.clean_current_value.display_name }}
            </td>
            {% elif audit.field == 'geom' %}
            <td>
              {{ audit.clean_current_value.x|floatformat:0 }},
              {{ audit.clean_current_value.y|floatformat:0 }}
            </td>
            {% else %}
            <td>
                {{ audit.clean_current_value }}
            </td>
            {% endif %}

            <td>{{ audit.created }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <td>
            {% if prev_page %}
            <a id="recent-user-edits-prev" href="{% url 'user_audits' username=user.username %}{{prev_page }}">
                &lt;&lt; {% trans "Previous" %}
            </a>
            {% endif %}
        </td>
        <td colspan="3"></td>
        <td>
            {% if next_page %}
            <a id="recent-user-edits-next" href="{% url 'user_audits' username=user.username %}{{ next_page }}">
                &gt;&gt; {% trans "Next" %}
            </a>
            {% endif %}
        </td>
    </tfoot>
</table>
