{% extends "base.html" %}
{% load i18n %}

{% block search %}
{% comment %} Hide search options when the browser is unsupported {% endcomment %}
{% endblock search %}

{% block subhead %}
{% comment %} Hide subhead when the browser is unsupported {% endcomment %}
{% endblock subhead %}

{% block content %}
<div class="content login-signup">
  	<div class="well login-signup-panel">
  		<div class="error-icon error-icon-sad">:(</div>
		<h3>{% trans "OpenTreeMap requires Internet Explorer 9+." %}</h3>
		<p>{% trans "If you cannot upgrade your version of Internet Explorer, try using one of these alternate web browsers:" %}</p>
		<ul>
		    <li><a href="http://www.google.com/chrome">Chrome</a></li>
		    <li><a href="http://www.mozilla.org/firefox">Firefox</a></li>
		</ul>
	</div>
</div>
{% endblock content %}

{% block scripts %}
{% comment %} This page has no interactivity {% endcomment %}
{% endblock scripts %}