{% extends "base.html" %}
{% load i18n %}

{% block search %}
{% comment %} Hide search options when the browser is unsupported {% endcomment %}
{% endblock search %}

{% block subhead %}
{% comment %} Hide subhead when the browser is unsupported {% endcomment %}
{% endblock subhead %}

{% block content %}
<div class="content">
        <div class="well error-panel">
                <div class="error-icon error-icon-sad">:(</div>
                <h3>{% trans "OpenTreeMap requires Internet Explorer version 11 or higher." %}</h3>
                <p>{% trans "If you cannot upgrade your version of Internet Explorer, we recommend using either" %}
                        <a href="http://www.google.com/chrome">Chrome</a>
                        {% trans " or " %}
                        <a href="http://www.mozilla.org/firefox">Firefox</a>.
                </p>
        </div>
</div>
{% endblock content %}

{% block scripts %}
{% comment %} This page has no interactivity {% endcomment %}
{% endblock scripts %}
