{% extends "base.html" %}

{% block page_title %} | {{ username }}{% endblock %}

{% block content %}
{% load i18n %}
<div>{% trans "Username:" %} {{ user.username }}</div>
<div>{% trans "Name:" %} {{ user.first_name }} {{ user.last_name }}</div>
<div>{% trans "Email:" %} {{ user.email }}</div>
{% if reputation %}
<div>{% trans "Reputation:" %} {{ reputation }}</div>
{% endif %}
<div>{% trans "Instance:" %} {{ instance_id }}</div>

<h3>{% trans "Recent Edits" %}</h3>
<div id="recent-user-edits-container">
  {% include 'treemap/recent_user_edits.html' %}
</div>
{% endblock content %}

{% block scripts %}
<script>
(function(require) {
    var $ = require('jquery'),
        user = require('user');

    user.init({
        container: '#recent-user-edits-container',
        prevLink: '#recent-user-edits-prev',
        nextLink: '#recent-user-edits-next'
    });
})(require);
</script>
{% endblock scripts %}
