{% extends "treemap/resource_add.html" %}
{% load i18n %}
{% load l10n %}
{% load form_extras %}

{% block resource_add_details %}
<div class="resource-question">
  {# Translators: singular means Bioswale #}
  {% trans "How large is the area that drains into the {singular}?" as drainage_area %}
  {% trans "Approximate size is fine. Do not include the area of the {singular} itself" as explanation %}
  {% create drainage_area from "Bioswale.drainage_area" in request.instance withtemplate "treemap/field/div.html" withhelp explanation %}
</div>
{% endblock resource_add_details %}
