/* Portrait tablet -------------------------- */

@media (max-width: 767px) {

	.logo {
		display: none;
	}
	.search-block-wrapper {
		top: 230px;
		right: 0;
		left: 0;
		width: 100%;
	}
	.search-block {
		padding: 4px 15px;
	}
	.search-options {
		position: absolute;
		float: none;
		top: 230px;
		right: 6px;
	}
	.content {
		margin-top: 120px;
	}

	.faq-nav {
		width: 300px;
		position: fixed;
	}
	.faq-content {
		left: 375px;
	}

	.right {
		width: 100%;
		clear: both;
		border-top: 1px solid #eee;
		margin-top: 50px;
		padding-bottom: 120px;
	}
	.right textarea {
		width: 98%;
	}

}

 
/* Landscape Phone and down ----------------- */

@media (max-width: 480px) {

}