{% load i18n %}

{% if field.is_visible %}
  <tr class="diameter-row">
    <td>{{ field.label }}</td>
    <td {% include "treemap/field/attrs.html" with class="display" %}>
      {{ field.display_value|default_if_none:"" }}
    </td>
    {% if field.is_editable %}
      <td style="display: none;"
          {% include "treemap/field/attrs.html" with class="edit" %}>
        <div style="display: none;">
          {% include "treemap/field/inputs.html" %}
        </div>
        {% include "treemap/partials/diameter_calculator.html" %}
      </td>
    <td style="display:none;"
        {% include "treemap/field/attrs.html" with class="error" %}></td>
  {% endif %}
  </tr>
{% endif %}
