{% if field.is_visible %}
    <div class="form-group">
        <label>{{ field.label|safe }}</label>
        <div class="field-view"
            {% include "treemap/field/attrs.html" with class="display" %}>
            {{ field.display_value|default_if_none:"" }}
        </div>
        {% if field.is_editable %}
            <div class="field-edit"
                style="display: none;"
                {% include "treemap/field/attrs.html" with class="edit" %}>
                {% block inputs %}
                {% include "treemap/field/inputs.html" %}
                {% endblock inputs %}
            </div>
            {% if field.explanation %}
                <p class="explanation">{{ field.explanation }}</p>
            {% endif %}
            <div class="alert alert-danger text-danger"
                style="display: none;"
                {% include "treemap/field/attrs.html" with class="error" %}></div>
            {% block diameter_video %}
            {% endblock diameter_video %}
        {% endif %}
    </div>
{% endif %}
