{% load l10n %}
{% load dateformat %}
{% load util %}
{% if field.data_type == 'bool' or field.search_type == 'ISNULL' %}
    <input name="{{ field.identifier }}"
          {% if field.value %}
           checked="checked"
          {% endif %}
           type="checkbox"
           class="{{ class|default_if_none:"" }}"
           value="{{ field.value }}"
           {{ extra|default:"" }} />
{% elif field.choices %}
    <select name="{{ field.identifier }}" {{ extra|default_if_none:"" }}
            {% if field.data_type == 'multichoice' %}multiple="multiple"{% endif %}
            class="{{ class|default_if_none:"" }} form-control">
        {% for option in field.choices %}
            <option value="{{ option.value }}"
                    {% if field.data_type == 'multichoice' %}
                    {% if option.value in field.value %}selected="selected"{% endif %}
                    {% else %}
                    {% ifequal option.value field.value %}selected="selected"{% endifequal %}
                    {% endif %}
                    >{{option.display_value}}</option>
        {% endfor %}
    </select>
{% elif field.data_type == 'date' or field.data_type == 'datetime' %}
    <input name="{{ field.identifier }}"
           type="text"
           class="{{ class|default_if_none:"" }} form-control"
           {% include "treemap/partials/date_picker_init.html" with date_picker_value=field.value %}
           {{ extra|default:"" }} />
{% elif field.data_type == 'long_string' %}
    <textarea name="{{ field.identifier }}"
           class="{{ class|default_if_none:"" }} form-control"
           value="{{ field.value|default_if_none:""|unlocalize }}"
           {{ extra|default:"" }} ></textarea>
{% elif field.typeahead_url %}
    {% include "treemap/partials/autocomplete.html" %}
{% else %}
  {% if field.units %}
  <div class="input-group">
    <input name="{{ field.identifier }}"
           type="text"
           class="{{ class|default_if_none:"" }} form-control"
           {% if field.data_type == 'float' %}
             value="{{ field.value|num_format|default_if_none:""|unlocalize }}"
           {% else %}
             value="{{ field.value|default_if_none:""|unlocalize }}"
           {% endif %}
           {{ extra|default:"" }} />
    <span class="input-group-addon" {{ unit_extra|default:"" }}>{{ field.units }}</span>
  </div>
  {% else %}
    <input name="{{ field.identifier }}"
           type="text"
           class="{{ class|default_if_none:"" }} form-control"
           value="{{ field.value|default_if_none:""|unlocalize }}"
           {{ extra|default:"" }} />
  {% endif %}
{% endif %}
