{% load l10n %}
{% load i18n %}
{% if field.is_visible %}
<div class="search-field-wrapper">
    {% if field.search_type == 'RANGE' %}
        <div class="search-range clearfix">
            <label>{{ field.label }}</label>
            {% with 'data-class=search data-search-type=MIN id=min'|add:field.id as extra %}
                {% include "treemap/field/inputs.html" %}
            {% endwith %}
            <span class="hidden-xs">
        {# Translators: This is in-between two date boxes for a range search #}
        {% trans "through" %}
      </span>
            <span class="visible-xs-inline">-</span>
            {% with 'data-class=search data-search-type=MAX id=max'|add:field.id as extra %}
                {% include "treemap/field/inputs.html" %}
            {% endwith %}
        </div>
    {% else %}
        <div class="form-group">
            {% if field.search_type != 'ISNULL' %}
                {# Label must precede input for most fields but must follow input for "missing data" checkboxes #}
                <label for="{{ field.id }}">{{ field.label }}</label>
            {% endif %}
            {% with 'data-class=search data-search-type='|add:field.search_type|add:' id='|add:field.id as extra %}
                {% include "treemap/field/inputs.html" %}
            {% endwith %}
            {% if field.search_type == 'ISNULL' %}
                <label for="{{ field.id }}">{{ field.label }}</label>
            {% endif %}
        </div>
    {% endif %}
    <div class="field-group-message field-disabled-message">
        {% trans "Disabled while other searches for this field are active" %}
    </div>
</div>
{% endif %}
