{% load l10n %}
{% load i18n %}
{% if field.is_visible %}
  {% if field.search_type == 'RANGE' %}
      {% with 'data-class=search data-search-type=MIN' as extra %}
        {% include "treemap/field/inputs.html" %}
      {% endwith %}
      <span>
        {# Translators: This is in-between two date boxes for a range search #}
        {% trans "through" %}
      </span>
      {% with 'data-class=search data-search-type=MAX' as extra %}
        {% include "treemap/field/inputs.html" %}
      {% endwith %}
  {% else %}
    <span>
    {% with 'data-class=search data-search-type='|add:field.search_type as extra %}
      {% include "treemap/field/inputs.html" %}
    {% endwith %}
      <label for="{{ field.id }}">
        {{ field.label }}
      </label>
    </span>
  {% endif %}
{% endif %}
