{% load i18n %}
{% load instance_config %}

<input type="hidden"
       data-typeahead-hidden
       id="{{ field.label }}-hidden"
       name="{{ field.identifier }}"
       value="{{ field.value.id }}"/>
<input type="text"
       data-typeahead-input="{{ field.identifier }}"
       id="{{ field.label }}-typeahead"
       class="form-control" 
       placeholder="Common or scientific name"
       value="{{ field.value.display_name }}"/>
<input type="hidden"
       value="{{ field.value.id }}"
       data-typeahead-restore="{{ field.identifier }}"
       data-datum="id" />
<p>
  <a class="external-help-link"
     target="_blank"
     href="{% include "treemap/partials/treekey_url.html" with linkData=request.instance|instance_config:"linkData" %}"
     >{% trans "Need help identifying the tree's species?" %}</a>
</p>
