{% load i18n %}
{% if field.is_visible %}
  <ul class="chunk" data-class="display" data-field="{{ field.identifier }}">
    <li class="chunk-content" data-typeahead="{{ field.identifier }}"
        data-datum="common_name">{{ field.value.common_name }}</li>
    <li class="chunk-content">
      <em data-typeahead="{{ field.identifier }}"
          data-datum="scientific_name">{{ field.value.scientific_name }}</em>
    </li>
  </ul>
  {% if field.is_editable %}
  <ul class="chunk" style="display: none;" data-class="edit"
      data-field="{{ field.identifier }}">
    <li class="chunk-label">{% trans "Species" %}</li>
    <li class="chunk-content">
      {% include "treemap/field/typeahead.html" %}
    </li>
    <li class="chunk-content text-error"
        style="display: none;"
        {% include "treemap/field/attrs.html" with class="error"%}>
    </li>
  </ul>
  {% endif %}
{% endif %}
