{# vim: set filetype=htmldjango : #}
{% if field.is_visible %}
  <tr class="{% if field.is_editable %}editable{% endif %}">
    <td>
      <div>{{ field.label }}</div>
      {% if field.is_editable %}
        <div style="display:none;"
             {% include "treemap/field/attrs.html" with class="error" css_class="alert alert-danger" %}></div>
      {% endif %}
    </td>
    <td {% include "treemap/field/attrs.html" with class="display" %}>
      {{ field.display_value|default_if_none:"" }}
    </td>
    {% if field.is_editable %}
      <td style="display: none;"
          {% include "treemap/field/attrs.html" with class="edit" %}>
        {% include "treemap/field/inputs.html" %}
      </td>
    {% endif %}
  </tr>
{% endif %}
