{# vim: set filetype=htmldjango : #}
{% if field.is_visible %}
  <tr>
    <td>{{ field.label }}</td>
    <td {% include "treemap/field/attrs.html" with class="display" %}>
      {{ field.display_value|default_if_none:"" }}
    </td>
    {% if field.is_editable %}
      <td style="display: none;"
          {% include "treemap/field/attrs.html" with class="edit" %}>
        {% include "treemap/field/inputs.html" %}
      </td>
      <td style="display:none;"
          {% include "treemap/field/attrs.html" with class="error" %}>
      </td>
    {% endif %}
  </tr>
{% endif %}
