{% if field.is_visible %}
    <label>{{ field.label }}</label>
    <div class="chunk-content"
        {% include "treemap/field/attrs.html" with class="display" %}>
        {{ field.display_value }}
    </div>
    {% if field.is_editable %}
        <div class="chunk-content"
            style="display: none;"
            {% include "treemap/field/attrs.html" with class="edit" %}>
            {% include "treemap/field/inputs.html" %}
        </div>
        <div class="chunk-content text-error"
            style="display: none;"
            {% include "treemap/field/attrs.html" with class="error" %}>
        </div>
    {% endif %}
{% endif %}
