{% extends "base.html" %}
{% load i18n %}

{% block search %}
{% comment %} Hide search options on error pages {% endcomment %}
{% endblock search %}

{% block subhead %}
{% comment %} Hide subhead on error pages {% endcomment %}
{% endblock subhead %}

{% block content %}
<div class="content">
  	<div class="well error-panel">
  		<div class="error-icon error-icon-img"><img src="/static/img/503.png"></div>
		<h2>{% trans "Service Unavailable" %}</h2>
		<p>{% trans "Looks like we're down for maintenance. We should be back online shortly." %}</a>
		</p>
	</div>
</div>
{% endblock content %}

{% block scripts %}
{% comment %} This page has no interactivity {% endcomment %}
{% endblock scripts %}