<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Open Tree Map Cloud{% endblock title %}</title>

    <meta charset="utf-8" />

    {% block head_extra %}
    {% endblock head_extra %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}

    {% block base_scripts %}
      <script src="{{ ROOT_URL }}/{{ request.instance.id }}/config/settings.js"></script>
      <script src="{{ STATIC_URL }}/js/treemap.js"></script>
    {% endblock base_scripts %}

    {% block scripts %}
    {% endblock scripts %}

    {% block templates %}
    {% endblock templates %}
  </body>
</html>
