{% load i18n %}
{% load instance_config %}

<!DOCTYPE html>
<!--
{{ header_comment }}-->
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}OpenTreeMap{% block instance_title %}{% endblock %}{% block page_title %}{% endblock %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% if settings.DEBUG %}
    <link href="{{ STATIC_URL }}css/vendor.css" rel="stylesheet">
    {% else %}
    <link href="{{ STATIC_URL }}css/vendor.min.css" rel="stylesheet">
    {% endif %}

    {% block application_css %}
    {% if settings.DEBUG %}
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    {% else %}
    <link href="{{ STATIC_URL }}css/main.min.css" rel="stylesheet">
    {% endif %}
    {% endblock application_css %}

    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    {% block head_extra %}
    {% endblock head_extra %}
  </head>
  <body>
    {% if settings.GOOGLE_ANALYTICS_ID %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-{{ settings.GOOGLE_ANALYTICS_ID }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-{{ settings.GOOGLE_ANALYTICS_ID }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <div {% block outermost_atts %}{% endblock outermost_atts %} class="wrapper">
      {% block topnav %}
      <!-- Top Nav -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse" id="otm-navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            {# Since the active style changes on a page-by-page basis we use nested blocks below. These nested blocks can then be overriden to change which tab is active. #}
            {% block instancetopnav %}
            {% if last_instance %}
              <li class="explore-trees {% block activeexplore %}active{% endblock %}"><a href="{% url 'map' instance_url_name=last_instance.url_name %}">{% trans "Explore Trees" %}</a></li>
              {% if last_instance|feature_enabled:'add_plot' and last_effective_instance_user %}
              <li data-feature="add_plot">
                <a data-class='add-tree'
                   data-always-enable='{{ last_effective_instance_user|plot_is_writable }}'
                   data-disabled-title='{% trans "Adding trees is not available to all users" %}'
                   data-href="{% url 'map' instance_url_name=last_instance.url_name %}?m=addTree"
                   disabled='disabled'>{% trans "Add a Tree" %}</a>
              </li>
              {% endif %}
            {% endif %}
            {% endblock instancetopnav %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li class="{% block activeuser %}{% endblock %}">
                <a href="{% url 'profile' %}">{% trans "My Account" %}
                  {% if last_instance %}
                    {% if reputation %}
                    <span class="reputation">({{ last_effective_instance_user.reputation }} rep)</span>
                    {% endif %}
                  {% endif %}
                </a>
              </li>
              <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
              <li class="user-img">
                <a href="{% url 'profile' %}">
                {% if request.user.thumbnail %}
                  <img src="{{ request.user.thumbnail.url }}">
                {% else %}
                  <img src="{{ STATIC_URL }}img/profile.png">
                {% endif %}
                </a>
              </li>
            {% else %}
              <li><a id="login" href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
              {% block signup %}
              <li><a href="{% url 'registration_register' %}">{% trans "Sign Up" %}</a></li>
              {% endblock signup %}
            {% endif %}
          </ul>
        </div>
      </div>
      {% endblock topnav %}

      {% block header %}
      <!-- Logo and Search -->
      <div class="header">

        {% block logo %}
        <div class="logo">
          <a href="{% if last_instance %}{% url 'map' instance_url_name=last_instance.url_name %}{% else %}/{% endif %}"
            ><img id="site-logo" src="{{ logo_url }}" alt="OpenTreeMap">
          </a>
        </div>
        {% endblock logo %}

        <div class="search-wrapper">
          {% block search %}
          {% endblock search %}
          {% block searchoptions %}
          {% endblock searchoptions %}
        </div>

      </div> <!-- end header -->
      {% endblock header %}

      {% block subhead %}
      {% endblock subhead %}

      {% block export %}
      {% endblock export %}

      {% block content %}
      {% endblock content %}

    </div>

    <footer>{% block footer %}{% endblock footer %}</footer>

    {% block config_scripts %}
      {% if request.instance %}
        <script src="{{ SITE_ROOT }}{{ request.instance.url_name }}/config/settings.js"></script>
      {% else %}
        <script src="{{ SITE_ROOT }}config/settings.js"></script>
      {% endif %}
    {% endblock config_scripts %}

    {% block global_scripts %}
      {% if settings.USE_JS_I18N %}
      <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
      {% endif %}
      {% if settings.DEBUG %}
      <script src="{{ STATIC_URL }}js/treemap.js"></script>
      {% else %}
      <script src="{{ STATIC_URL }}js/treemap.min.js"></script>
      {% endif %}
    {% endblock global_scripts %}

    {% block templates %}
    {% endblock templates %}

    {% verbatim %}
    <script id="geocode-results-template" type="text/x-mustache-template">
      <ul class="list-unstyled">
        {{#candidates}}
        <li><a href="javascript:;" data-class="geocode-result" data-x="{{x}}" data-y="{{y}}" data-srid="{{srid}}" data-address"{{address}}">{{address}}</a></li>
        {{/candidates}}
      </ul>
    </script>
    {% endverbatim %}

    {% block scripts %}
    {% endblock scripts %}

    {% block searchscripts %}
    {% endblock searchscripts %}

    {% block exportscript %}
    {% endblock exportscript %}

    <script type="text/javascript">
      (function(require) {
          require("treemap/buttonEnabler").run({ config: otm.settings });
      })(require);
    </script>

    {% block endbody %}
    {% endblock endbody %}

  </body>
</html>
