<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Open Tree Map Cloud{% endblock title %}</title>

    <meta charset="utf-8" />

    {% block head_extra %}
    {% endblock head_extra %}
    <style type="text/css">
      header {
        background-color: #dddddd;
        padding: 0.5em;
        margin: 0 0 0.5em 0;
      }
    </style>
  </head>
  <body>
    {% block header %}
    <header>
      {% if request.user.username %}
        <a href="{% url 'profile' %}">{{ request.user }}</a>
        <a href="{% url 'auth_logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'auth_login' %}">Login</a>
        <a href="{% url 'registration_register' %}">Sign Up</a>
      {% endif %}
    </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block config_scripts %}
      {% if request.instance %}
        <script src="{{ SITE_ROOT }}{{ request.instance.id }}/config/settings.js"></script>
      {% else %}
        <script src="{{ SITE_ROOT }}config/settings.js"></script>
      {% endif %}
    {% endblock config_scripts %}

    {% block global_scripts %}
      <script src="{{ STATIC_URL }}js/treemap.js"></script>
    {% endblock global_scripts %}

    {% block scripts %}
    {% endblock scripts %}

    {% block templates %}
    {% endblock templates %}
  </body>
</html>
