{% extends "base.html" %}
{% load i18n %}
{% load instance_config %}
{% load form_extras %}

{% block application_css %}
{% if request.instance.scss_variables %}
<link id="application-css" href="{% url 'scss' %}?{{ request.instance.scss_query_string }}" rel="stylesheet">
{% elif settings.TEMPLATE_DEBUG %}
<link id="application-css" href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
{% else %}
<link id="application-css" href="{{ STATIC_URL }}css/main.min.css" rel="stylesheet">
{% endif %}
{% endblock application_css %}

{% block instance_title %} | {{ request.instance.name }}{% endblock %}

{% block instancetopnav %}
<li class="{% block activeexplore %}active{% endblock %}"><a href="{% url 'map' instance_url_name=request.instance.url_name %}">{% trans "Explore Trees" %}</a></li>
{% if request.instance|feature_enabled:'add_plot' %}
<li data-feature="add_plot">
  <a data-action='addtree'
     data-always-enable='{{ request.instance_user|plot_is_writable }}'
     data-disabled-title='{% trans "Adding trees is not available to all users" %}'
     data-href="{% url 'map' instance_url_name=request.instance.url_name %}{{ settings.ADD_TREE_URL_HASH }}"
     disabled='disabled'>{% trans "Add a Tree" %}</a>
</li>
{% endif %}
{% if settings.MANAGEMENT_VIEW_NAME %}
{% if request.instance_user.admin %}
<li class="{% block activemanagement %}{% endblock %}"><a href="{% url settings.MANAGEMENT_VIEW_NAME instance_url_name=request.instance.url_name %}">{% trans "Manage Tree Map" %}</a></li>
{% endif %}
{% endif %}
<li class="{% block activerecentedits %}{% endblock %}"><a href="{% url 'recent_edits' instance_url_name=request.instance.url_name %}">{% trans "Recent Edits" %}</a></li>
{% endblock instancetopnav %}

{% block subhead %}
<div class="subhead">
  <div style="display: inline;" id="tree-and-planting-site-counts">
    <!-- This is what the counts will look like -->
    <!-- <span id="tree-count">4567</span> trees, <span id="planting-site-count">10,683</span> planting sites -->
  </div>
  {% block subhead_exports %}
    {% if request.instance|feature_enabled:'exports' %}
    <a href="javascript:;" class="btn btn-primary btn-mini exportBtn" id="exportbutton"><i class="icon-export"></i> Export Search Results</a>
    {% endif %}
  {% endblock subhead_exports %}
  {% if request.instance|feature_enabled:'add_plot' %}
  <a class="btn btn-primary addBtn"
     data-class="add-tree"
     data-action='addtree'
     data-feature="add_plot"
     data-always-enable="{{ request.instance_user|plot_is_writable }}"
     data-disabled-title="{% trans "Adding trees is not available to all users" %}"
     data-href="{% url 'map' instance_url_name=request.instance.url_name %}{{ settings.ADD_TREE_URL_HASH }}"
     disabled="disabled"><i class="icon-plus"></i> {% trans "Add a Tree" %}</a>
   {% endif %}
</div>
{% endblock subhead %}

{% block export %}
<div id="export-panel" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2></h2>
  </div>
  <div class="modal-body">
    <span class="prep-msg">{% trans "Preparing your export..." %}</span>
    <span style="display: none;" class="error-msg">{% trans "There was  an error while generating your export. Please try again later." %}</span>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn dismiss-cancel" data-dismiss="modal">{% trans "Cancel" %}</a>
    <a style="display: none;" href="#" class="btn dismiss-ok" data-dismiss="modal">{% trans "OK" %}</a>
  </div>
</div>
{% endblock export %}

{% block search %}
<div class="search-block-wrapper">
  <!--Species Search-->
  <div class="search-block visible-desktop">
    <h3>{% trans "Search by Species" %}</h3>
    <div class="search-field-group">
      <a class="typeahead-toggle" id="species-toggle"><i class="icon-menu"></i></a>
      <input type="text" data-class="search" id="species-typeahead" placeholder="Common or Scientific Name"/>
      <input name="species.id" data-search-type="IS" type="hidden" id="search-species" />
    </div>
  </div>

  <!-- Location Search -->
  <div class="search-block">
    <h3>{% trans "Search by Location" %}</h3>
    <div class="search-field-group">
      <a class="typeahead-toggle" id="boundary-toggle"><i class="icon-menu"></i></a>
      <input type="text" data-class="search" id="boundary-typeahead" placeholder="Address, City, State"/>
      <input name="plot.geom" data-search-type="IN_BOUNDARY" type="hidden" id="boundary" />
    </div>
  </div>
</div> <!-- end search block wrapper -->
{% endblock search %}

{% block searchoptions %}
<div class="search-options">
  <a id="perform-search" class="btn btn-primary btn-large btn-block">{% trans "Search" %}</a>
  <div class="btn-group">
    {% if request.instance|feature_enabled:'advanced_search_filters' %}
    <button id="search-advanced" class="btn">{% trans "Advanced" %}</button>
    <button id="search-reset" class="btn">{% trans "Reset" %}</button>
    {% else %}
    <button id="search-reset" class="btn btn-block">{% trans "Reset" %}</button>
    {% endif %}
  </div>
</div>
{% endblock searchoptions %}
{% block advancedsearch %}
<div id="advanced-search-pane" style="display: none;">
  <div id="standard-search">
  {% for json in request.instance.advanced_search_fields.standard %}
    {% search from json for request.user in request.instance withtemplate "treemap/field/search.html" %}
  {% endfor %}
  </div>
  <div id="missing-search">
  {% for json in request.instance.advanced_search_fields.missing %}
    {% search from json for request.user in request.instance withtemplate "treemap/field/search_missing.html" %}
  {% endfor %}
  </div>
</div>
{% endblock advancedsearch %}

{% block exportscript %}
<script type="text/javascript">
    (function(require) {
        require('export').init({
            trigger: '#exportbutton',
            panel: '#export-panel',
            cancel: '#export-panel * [data-dismiss]',
            startTreeExportUrl: '{% url 'start_export' instance_url_name=request.instance.url_name model='tree' %}',
            checkTreeExportUrl: '{{ SITE_ROOT }}{{ request.instance.url_name }}/export/check'
        });
    })(require);
</script>
{% endblock exportscript %}

{% block searchscripts %}
<script type="text/javascript">
    (function(require) {
        require("searchBar").init(otm.settings);
    })(require);
</script>
{% endblock searchscripts %}

{% block footer %}
<div class="footer-inner">
  <ul class="inline pull-left">
    {% with linkData=request.instance|instance_config:"linkData" %}
    <li><a href="{% if linkData.treekey %}{{ linkData.treekey }}{% else %}http://www.arborday.org/trees/whatTree/{% endif %}">{% trans "Tree Key" %}</a></li>
    <li><a href="{% url 'static_page' instance_url_name=request.instance.url_name page='Resources' %}">{% trans "Resources" %}</a></li>
    <li><a href="{% url 'static_page' instance_url_name=request.instance.url_name page='FAQ' %}">{% trans "FAQ" %}</a></li>
    <li><a href="{% url 'static_page' instance_url_name=request.instance.url_name page='About' %}">{% trans "About" %}</a></li>
    {% if linkData.contact %}
    <li><a href="mailto:{{ linkData.contact }}">{% trans "Contact" %}</a></li>
    {% endif %}
    {% endwith %}
  </ul>
  <a href="javascript:;" class="pull-right partners">Partners</a>
</div>
{% endblock footer %}

{% block templates %}
{% verbatim %}
<script id="species-element-template" type="text/x-mustache-template">
  <p>{{common_name}}</p>
  <p>{{scientific_name}}</p>
</script>
<script id="boundary-element-template" type="text/x-mustache-template">
  <p>{{name}}</p>
  <p>{{category}}</p>
</script>

<script id="geocode-results-template" type="text/x-mustache-template">
<ul class="unstyled">
{{#candidates}}
<li><a href="javascript:;" data-class="geocode-result" data-x="{{x}}" data-y="{{y}}" data-srid="{{srid}}" data-address"{{address}}">{{address}}</a></li>
{{/candidates}}
</ul>
</script>

{% endverbatim %}
{% endblock templates %}
