{% extends "base.html" %}
{% load render_bundle get_files from webpack_loader %}
{% load i18n %}
{% load instance_config %}
{% load form_extras %}
{% load exports %}

{% block application_css %}

{% if request.instance.scss_variables %}
  <link id="application-css" href="{% url 'scss' %}?{{ request.instance.scss_query_string }}" rel="stylesheet">
{% else %}
  {% get_files 'js/treemap/base' 'css' as css_files %}
  <link id="application-css" href="{{ css_files.0.url }}" rel="stylesheet">
{% endif %}

{% endblock application_css %}

{% block google_analytics_actions %}
{# for instance-specific pages, remove the url_name from the url for better tracking #}
var pathname = document.location.pathname;
pathname = pathname.replace(/\/[a-zA-Z]+[a-zA-Z0-9\-]*\//, '/<instance_url_name>/');

// Note: we're only removing the url_name on the app tracker, not the global tracker
// This way we can still see which instances get more traffic and look at usage differences between them
ga('set', 'page', pathname);
{{ block.super }}
{% endblock google_analytics_actions %}

{% block instance_title %} | {{ request.instance.name }}{% endblock %}

{% block header_class %}instance-header{% endblock %}

{% block instancetopnav %}
{% if request.instance|feature_enabled:'add_plot' and last_effective_instance_user %}
  {% if request.instance.has_resources %}
    <li class="add-menu dropdown" data-feature="add_plot">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-plus-circled"></i>
      </a>
      {% include "treemap/partials/add_feature_menu.html" with dropdown_class="dropdown-menu-left" include_tree=True %}
    </li>
  {% else %}
    <li data-feature="add_plot">
      <a data-always-enable='{{ last_effective_instance_user|plot_is_creatable }}'
         data-disabled-title='{% trans "Adding trees is not available to all users" %}'
         data-href="{% url 'map' instance_url_name=request.instance.url_name %}?m=addTree"
         {% if embed %}
         target="_blank"
         {% else %}
         data-event-category="add-tree" data-event-action="start-add-tree"
         data-action='addtree'
         {% endif %}
         disabled='disabled'>{% trans "Add a Tree" %}</a>
    </li>
  {% endif %}
{% endif %}

<li class="explore-map {% block activeexplore %}active{% endblock %}">
    <a href="{% url 'map' instance_url_name=request.instance.url_name %}{% block map_query %}{% endblock %}"
       {% if embed %}target="_blank"{% endif %}>
    <span class="hidden-xs">{% trans "Explore Map" %}</span>
    <!-- We hide the logo on mobile, so we show the instance name instead of "Explore Map" to give context about which map you are on -->
    <span class="visible-xs-inline">{{ request.instance.name }}</span>
  </a>
</li>

{% if settings.MODELING_VIEW_NAME %}
  {% if request.instance|feature_enabled:'modeling' %}
    {% if last_effective_instance_user|has_permission:'modeling' %}
      <li class="{% block activemodeling %}{% endblock %} hidden-xs">
        <a href="{% url settings.MODELING_VIEW_NAME instance_url_name=request.instance.url_name %}">
          <span>{% trans "Plan" %}</span>
        </a>
      </li>
    {% endif %}
  {% endif %}
{% endif %}
<!-- 2017.03.18 not to see recnt edits, find a smarter way
{% if request.instance|feature_enabled:'recent_edits_report' %}
<li class="hidden-xs {% block activerecentedits %}{% endblock %}">
  <a href="{% url 'edits' instance_url_name=request.instance.url_name %}">{% trans "View Edits" %}</a>
</li>
{% endif %}
-->
{% if settings.MANAGEMENT_VIEW_NAME and last_effective_instance_user.admin %}
<li class="hidden-xs {% block activemanagement %}{% endblock %}">
  <a href="{% url settings.MANAGEMENT_VIEW_NAME instance_url_name=request.instance.url_name %}">{% trans "Manage" %}</a>
</li>
{% endif %}
{% endblock instancetopnav %}

{% block signup %}
<li class="hidden-xs">
  <a href="{% url 'instance_registration_register' instance_url_name=request.instance.url_name %}">{% trans "Sign Up" %}</a>
</li>
{% endblock signup %}
{% block signup_small %}
<li>
  <a href="{% url 'instance_registration_register' instance_url_name=request.instance.url_name %}">{% trans "Sign Up" %}</a>
</li>
{% endblock signup_small %}

{% block subhead %}
<div class="subhead">
  {% if request.instance|feature_enabled:'advanced_search_filters' %}
  <div class="advanced-search">
    {# Define udfc variables here so we can hide the dropdown when empty #}
    {% with udfc_search_data=request.instance|get_udfc_search_fields:request.user %}
      {% with udfc=udfc_search_data.udfc %}
        {% if udfc %}
          {% include "treemap/partials/advanced_search/tree_care.html" with category='stewardship' align_left=1 fields=1 %}
        {% else %}
          &nbsp; {# Otherwise following dropdowns are cut off #}
        {% endif %}
      {% endwith %}
    {% endwith %}
    <div class="search-right">
      {% with fields=request.instance|get_advanced_search_fields:request.user %}
        {% include "treemap/partials/advanced_search/dropdown.html" with fields=fields.general category='mapFeature' title=_("General") %}
        {% include "treemap/partials/advanced_search/display.html" with fields=fields.display category='display' %}
        {% include "treemap/partials/advanced_search/dropdown.html" with fields=fields.Tree category='tree' feature='Tree' title=_("Trees") %}
        {% include "treemap/partials/advanced_search/dropdown.html" with fields=fields.Plot category='plot' feature='Plot' title=_("Planting Sites") %}
        {% include "treemap/partials/advanced_search/dropdown.html" with fields=fields.missing category='missing' title=_("Missing") %}
        {% include "treemap/partials/advanced_search/more.html" with fields=fields.more category='more' %}
      {% endwith %}
    </div>
  </div>
  {% endif %}

  <div class="stats-bar">
    <div class="stats-list">
      <!-- to pewnie bierze jakos z jsa i trzeba to odnalezc 2017.03.18
      <div id="tree-and-planting-site-counts">
      </div>
      -->
      {% if not embed %}
        {% block subhead_exports %}
          {% if request.instance|export_enabled_for:request.user %}
          <a href="javascript:;" class="btn btn-primary btn-xs exportBtn hidden-xs"
             data-export-start-url="{% url 'begin_export' instance_url_name=request.instance.url_name model='tree' %}">
            <i class="icon-export"></i> {% trans "Export Search Results" %}
          </a>
          {% endif %}
        {% endblock subhead_exports %}
      {% endif %}
    </div>
    <div class="addBtn hidden-xs">
      {% if request.instance|feature_enabled:'add_plot' and last_effective_instance_user %}
        {% if request.instance.has_resources %}
          <div class="btn-group">
            {% include "treemap/partials/add_plot_btn.html" %}
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            {% include "treemap/partials/add_feature_menu.html" with dropdown_class="dropdown-menu-right" %}
          </div>
        {% else %}
          {% include "treemap/partials/add_plot_btn.html" %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock subhead %}

{% if not embed %}
{% block export %}
{% include "treemap/partials/export.html" %}
{% endblock export %}
{% endif %}

{% block search %}
<div class="search-block-wrapper">
  {% include "treemap/partials/search_species.html" %}
  {% include "treemap/partials/search_location.html" %}
</div>
{% endblock search %}

{% block searchoptions %}
<div class="search-options">
  <div class="btn-group">
    <button id="search-advanced" class="btn btn-default btn-sm"
        data-event-category="search" data-event-action="toggle-advanced">
        <span class="hidden-xs">{% trans "Advanced" %}</span>
        <span class="visible-xs-inline">
            <span class="text">{% trans "Advanced" %}</span>
            <i class="icon-cancel"></i>
        </span>
    </button>
    <button id="search-reset" class="btn btn-default btn-sm"
        data-event-category="search" data-event-action="reset">{% trans "Reset" %}</button>
  </div>
  <a id="perform-search" class="btn btn-primary btn-lg btn-block"
        data-event-category="search" data-event-action="do-search">{% trans "Search" %}</a>
</div>
{% endblock searchoptions %}

{% block searchscripts %}
{% render_bundle 'js/treemap/searchBar' %}
{% endblock searchscripts %}

{% block footer %}
<div class="footer-inner">
  {% with linkData=request.instance|instance_config:"linkData" %}
  <ul class="list-inline pull-left">
    <li><a target="_blank"
           href="{% include "treemap/partials/treekey_url.html" %}"
           >{% trans "Tree ID" %}</a></li>
    {% for name in request.instance.static_page_names %}
    <li><a href="{% url 'static_page' instance_url_name=request.instance.url_name page=name %}">{{ name }}</a></li>
    {% endfor %}
    {% if 'contact' in linkData.keys and linkData.contact %}
    <li><a href="mailto:{{ linkData.contact }}">{% trans "Contact" %}</a></li>
    {% endif %}
  </ul>
  {% endwith %}
</div>
{% endblock footer %}

{% block templates %}
{% verbatim %}
<script id="species-element-template" type="text/x-mustache-template">
<div>
  <p>{{common_name}}</p>
  <p>{{scientific_name}}</p>
</div>
</script>
<script id="boundary-element-template" type="text/x-mustache-template">
<div>
  <p>{{name}}</p>
  <p>{{category}}</p>
</div>
</script>

<script id="geocode-results-template" type="text/x-mustache-template">
<ul class="list-unstyled">
{{#candidates}}
<li><a href="javascript:;" data-class="geocode-result" data-x="{{x}}" data-y="{{y}}" data-srid="{{srid}}" data-address"{{address}}">{{address}}</a></li>
{{/candidates}}
</ul>
</script>

<script id="updated_by-template" type="text/x-mustache-template">
<div>
  <p class="pull-right">{{first_name}} {{last_name}}</p>
  <p>{{username}}</p>
</div>
</script>

{% endverbatim %}
{% endblock templates %}
