{% load i18n %}
{% load instance_config %}

{# these with statements are rough, but it makes the markup easier to read #}
{% with udfc_search_data=request.instance|get_udfc_search_fields:request.user %}
{% with udfc=udfc_search_data.udfc %}
{% if udfc %}

<div class="udfc-search clearfix hidden-xs">
  <span>{% trans "I am looking for" %}</span>
  <label class="udfc-label">
    <select id="udfc-search-model">
      <option data-class="udfc-placeholder" selected />
      {% for model in udfc_search_data.models %}
      <option data-model="{{ model.search_slug }}">{{ model.search_display_name }}</option>
      {% endfor %}
    </select>
  </label>

  <label class="udfc-label">
    <select id="udfc-search-type">
      <option data-class="udfc-placeholder" selected />
      {% for udfd_name, udfd_data in udfc.items %}
      <option data-type="{{ udfd_name }}"
              data-udfd-ids="{{ udfd_data.ids|as_json }}"
              data-date-field-key="{{ udfd_data.range_field_key }}"
              data-action-field-key="{{ udfd_data.action_field_key }}"
              >{{ udfd_data.action_verb }}</option>
      {% endfor %}
    </select>
  </label>

  <div id="udfc-extra-clauses" style="display: none">
    {% if alerts in udfc %}
    <input id="alerts-resolved"
           data-type="alerts"
           data-field="Status"
           data-search-type="IS"
           value="Unresolved"/>
    {% endif %}
  </div>


  <label class="udfc-label">
    <select id="udfc-search-action" data-search-type="IS">
      <option data-class="udfc-placeholder" selected />
      {% for udfd_name, udfd_data in udfc.items %}
      {% for model_name, model_data in udfd_data.models.items %}
      {% for action in model_data.fields %}
      <option data-model="{{ model_name }}" data-type="{{ udfd_name }}">{{ action }}</option>
      {% endfor %}
      {% endfor %}
      {% endfor %}
    </select>
  </label>

  <span>{% trans "between" %}</span>
  <input id="udfc-search-date-from" data-search-type="MIN"
         class="udfc-selector"
         {% include "treemap/partials/date_picker_init.html" %}
         />
  <span>{% trans "and" %}</span>
  <input id="udfc-search-date-to" data-search-type="MAX"
         class="udfc-selector"
         {% include "treemap/partials/date_picker_init.html" %}
         />

</div>
{% endif %}

{% endwith %}
{% endwith %}
