{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <img src="/static/img/spinner.gif" class="spinner pull-right" style="display:none;">
        <h2>{% trans "Imports" %}</h2>
        <hr>
    </div>
</div>

<div id="import-tables">
    {% for table in tables %}
        <div class="row">
            <div class="col-md-12">
                <h4>{{ table.title }}</h4>
                <div class="import-table">
                    {% include 'importer/partials/import_table.html'%}
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
</div>
