{% load i18n %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "Uploaded Date" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Rows" %}</th>
            <th>{% trans "View" %}</th>
            <th>{% trans "Export" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for ie in things %}
        <tr>
            <td>{{ ie.created }}</td>
            <td>{{ ie.status_summary }}</td>
            <td>
                {% if ie.is_finished %}
                    {{ ie.row_count }}
                {% elif ie.is_loading %}
                    {{ ie.row_count }}
                {% elif ie.is_running %}
                    {{ ie.completed_row_count }} / {{ ie.row_count }}
                {% endif %}
            </td>
            <td>
              <a href="{% url 'importer:status' import_type=import_type import_event_id=ie.pk instance_url_name=request.instance.url_name %}">
                {%trans "View" %}
              </a>
            </td>
            <td>
              {% if ie.can_export %}
              <a href="javascript:" data-export-start-url="{% url 'importer:export_single_import' import_type=import_type import_event_id=ie.pk instance_url_name=request.instance.url_name %}">
                {% trans "Export" %}
              </a>
              {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
