{% load i18n %}
{% load staticfiles %}

<div class="contained topper">
  <div>
    <div class="col-md-12">
      <div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="well">
                <form id="import-trees-form">
                  {% csrf_token %}
                  <button class="btn btn-info pull-right" type="submit" disabled>{% trans "Import" %}</button>
                  <h4>{% trans "Tree Import" %}</h4>
                  <input type="hidden" name="type" value="tree">
                  <div class="input-group">
                    {% trans "CSV to Upload:" %} <input type="file" name="file" accept="text/csv,.csv">
                  </div><!-- /input-group -->
                  <div id="importer-tree-units" style="display: none; padding-top:10px">
                    {% with u=importer_instance_units %}
                    {% with pl=u.plot_length pw=u.plot_width td=u.tree_diameter th=u.tree_height tch=u.tree_canopy_height %}
                    {% blocktrans %}
                    <h5>Unit Warning</h5>
                    <p>The following units are used for your tree map.</p>
                    <p>Please ensure that your file contains measurements of the same unit.</p>
                    <p>Tree Diameter: {{ td }}</p>
                    <p>Tree Height: {{ th }}</p>
                    <p>Tree Canopy Height: {{ tch }}</p>
                    <p>Planting Site Length: {{ pl }}</p>
                    <p>Planting Site Width: {{ pw }}</p>
                    {% endblocktrans %}
                    {% endwith %}
                    {% endwith %}
                  </div>
                </form>
                <div class="instructions">
                  <p>Need help formatting your CSV?  We have formatting
                     <a href="{% static 'OpenTreeMap_Tree_Import_Guide.pdf' %}" target="_blank">instructions</a>
                     and a <a href="{% url 'importer:download_import_template' instance_url_name=request.instance.url_name import_type='tree' %}">template</a> to use.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="well">
                <form id="import-species-form">
                  {% csrf_token %}
                  <button class="btn btn-info pull-right" type="submit" disabled>{% trans "Import" %}</button>
                  <h4>{% trans "Species Import" %}</h4>
                  <input type="hidden" name="type" value="species">
                  <div class="input-group">
                    {% trans "CSV to Upload:" %} <input type="file" name="file" accept="text/csv,.csv">
                  </div><!-- /input-group -->
                </form>
                <div class="instructions">
                  <p>Need help formatting your CSV?  We have formatting
                     <a href="{% static 'OpenTreeMap_Species_Import_Guide.pdf' %}" target="_blank">instructions</a>
                     and a <a href="{% url 'importer:download_import_template' instance_url_name=request.instance.url_name import_type='species' %}">template</a> to use.
                  </p>
                </div>
              </div>
            </div>
          </div>

          {% include 'importer/partials/import_tables.html' %}

          <div class="row">
            <div class="col-md-12">
              <h2 class="top-pad-lg">{% trans "Export" %}</h2>
              <hr>
              <a href="javascript:" data-export-start-url="{% url 'importer:export_all_species' instance_url_name=request.instance.url_name %}" class="btn btn-info">
                {% trans "Export All Species" %}
                <i class="icon-forward"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- END CONTAINER -->
