{% load i18n %}

<div class="contained topper">
  <div>
    <div class="col-md-12">
      <div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <div class="well">
                <form id="import-trees-form">
                  {% csrf_token %}
                  <button class="btn btn-info pull-right" type="submit" disabled>Import</button>
                  <h4>Tree Import</h4>
                  <input type="hidden" name="type" value="tree">
                  <div class="input-group">
                    File to Upload: <input type="file" name="file">
                  </div><!-- /input-group -->
                  <div id="importer-tree-units" style="display: none;">
                    {% with u=importer_instance_units %}
                    {% with pl=u.plot_length pw=u.plot_width td=u.tree_diameter th=u.tree_height tch=u.tree_canopy_height %}
                    {% blocktrans %}
                    <h5>Unit Warning</h5>
                    <p>The following units are used for your tree map.</p>
                    <p>Please ensure that your file contains measurements of the same unit.</p>
                    <p>Plot Length: {{ pl }}</p>
                    <p>Plot Width: {{ pw }}</p>
                    <p>Tree Diameter: {{ td }}</p>
                    <p>Tree Height: {{ th }}</p>
                    <p>Tree Canopy Height: {{ tch }}</p>
                    {% endblocktrans %}
                    {% endwith %}
                    {% endwith %}
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="well">
                <form id="import-species-form">
                  {% csrf_token %}
                  <button class="btn btn-info pull-right" type="submit" disabled>Import</button>
                  <h4>Species Import</h4>
                  <input type="hidden" name="type" value="species">
                  <div class="input-group">
                    File to Upload: <input type="file" name="file">
                  </div><!-- /input-group -->
                </form>
              </div>
            </div>
          </div>

          {% include 'importer/partials/import_tables.html' %}

          <div class="row">
            <div class="col-md-12">
              <h2 class="top-pad-lg">Export</h2>
              <hr>
              <a href="{% url 'importer:export_all_species' instance_url_name=request.instance.url_name %}" class="btn btn-info">
                Export All Species
                <i class="icon-forward"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> <!-- END CONTAINER -->
