{% load i18n %}
{% load l10n %}

<tr class='js-merge-controls' style="display: none;">
    <td colspan="{{ panel.field_names|length }}">
        <table class="table table-condensed" style="width:auto">
            <thead>
                <tr>
                    <th>{% trans "Field" %}</th>
                  {% for column in row.columns_for_merge %}
                    <th>{{ column.title }}</th>
                  {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for field in row.fields_to_merge %}
                    <tr class="danger">
                        <td>{{ field.name }}</td>
                      {% for value in field.values %}
                        <td>
                            <input type="radio"
                                   id="{{ value.id }}"
                                   name="{{ field.id }}"
                                   value="{{ value.value }}"
                                   {% if value.checked %}checked{% endif %}>
                            <label for="{{ value.id }}">{{ value.value }}</label>
                        </td>
                      {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                      <button class="btn btn-sm js-hide">{% trans "Hide" %}</button>
                    </td>
                  {% for column in row.columns_for_merge %}
                    <td>
                      {% if column.species_id %}
                        <button class="btn btn-sm js-merge"
                                data-merge-field-names="{{ row.merge_field_names }}"
                                data-radio-group-names="{{ row.radio_group_names }}"
                                data-href="{% url 'importer:solve' instance_url_name=request.instance.url_name import_event_id=panel.import_event_id row_index=row.index %}?species={{ column.species_id|unlocalize }}">
                          {{ column.action_title }}
                        </button>
                      {% endif %}
                    </td>
                  {% endfor %}
                </tr>
            </tbody>
        </table>
    </td>
</tr>
