{% extends "importer/partials/status.html" %}
{% load i18n %}

{% block main %}
<div class="col-md-12">
    <ul class="nav nav-tabs">
    {% for panel in panels %}
      <li{% if panel.name == active_panel_name %} class="active"{% endif %}>
        <a href="#import-panel-{{ panel.name }}" data-toggle="tab">
          {{ panel.title }} ({{ panel.row_count }})
        </a>
      </li>
    {% endfor %}
    </ul>

    <div class="tab-content">
    {% for panel in panels %}
      <div class="tab-pane {% if panel.name == active_panel_name %}active{% endif %}"
          id="import-panel-{{ panel.name }}">
        {% include "importer/partials/status_table.html" %}
      </div>
    {% endfor %}
    </div>
</div>
{% endblock main %}

{% block extra_buttons %}
    {% if tree_limit_exceeded %}
        <div class="alert alert-danger">
          Your tree map currently contains {{ tree_count }} trees. This data upload will cause your tree map to exceed the {{ tree_limit }} number of trees allowed in your subscription level. Please upgrade to a larger subscription plan or upload {{ remaining_tree_limit }} or fewer trees.
        </div>
    {% elif ie.can_add_to_map %}
        <a data-action="commit" class="btn btn-info btn-large" href="{{ commit_url }}">
          <i class="icon-plus-circled"></i>
          {% trans "Add to Tree Map" %}
        </a>
    {% endif %}
{% endblock extra_buttons %}
