{% extends "treemap/partials/popover.html" %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Species Field Error" %}{% endblock title %}

{% block content %}
<p>{{ field.msg }}</p>
<input type="hidden"
       data-typeahead-hidden="true"
       class="species-resolver-typeahead-hidden popover-correction"
       value="{{ field.custom_resolver.suggestion.pk|unlocalize }}"/>
<input class="popover-correction species-resolver-typeahead"
       data-typeahead-url="{% url 'species_list_view' instance_url_name=request.instance.url_name %}"
       value="{{ field.custom_resolver.suggestion.display_name }}"/>
<p class="help_text">
    {% trans 'Click "Save" to accept the suggested species, or click in the text box to select from the species list. Use the species import tool to add new species to your map.' %}
</p>
{% endblock content %}

{% block extra_save_classes %}resolver-popover-accept{% endblock extra_save_classes %}

{% block extra_save_attributes %}
data-url="{% url 'importer:update_row' instance_url_name=request.instance.url_name import_type=panel.import_type row_id=field.row_id %}{{ panel.panel_and_page }}"
data-field-name="species"
{% endblock extra_save_attributes %}
