{% load i18n %}

<div  class="tab-contents">
     <table class="table{% if panel.name == 'merge_required' %} table-hover{% endif %}">
        <thead>
            <tr>
                {% for name in panel.field_names %}
                    <th>{{ name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if panel.rows %}
                {% for row in panel.rows %}
                    <tr class="js-import-row">
                        {% for field in row.fields %}
                            {% if field.show_resolver %}
                                {% if field.custom_resolver.is_species %}
                                    {% include "importer/partials/species_resolve_popover.html" %}
                                {% else %}
                                    {% include "importer/partials/resolve_popover.html" %}
                                {% endif %}
                            {% else %}
                                <td class="{{ field.css_class }}" data-field-name="{{ field.name }}">{{ field.value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% if panel.name == 'merge_required' %}
                        {% include 'importer/partials/merge_species.html' %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td class="no-rows" colspan="{{ panel.field_names|length }}">
                        {% trans 'No rows' %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% include 'treemap/partials/paging_controls.html' with paging=panel.rows url=panel.paging_url %}
