{% load i18n %}

<div class="contained topper">
  <div>
    <div class="col-md-12">
      <div>
        <div>
          <div class="row">
            <div class="col-md-12">
              <h2>{% trans "Import Status" %}</h2>
              <hr>
            </div>
          </div>
          <br>
          <div class="row">
            {% block main %}
            {% endblock main %}
          </div>

          {% block extra_buttons %}
          {% endblock extra_buttons %}

          <a class="btn btn-info btn-large pull-left" data-action="back"
              href="{% url 'importer:list_imports' instance_url_name=request.instance.url_name %}">
              <i class="icon-left-open"></i>
            {% trans "Back to Uploads" %}
          </a>
          {% if ie.can_cancel %}
            <a class="btn btn-info btn-large pull-right" data-toggle="modal" data-backdrop="false" data-target="#cancel-import">
              {% trans "Cancel Import" %}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancel-import" tabindex="-1" role="dialog" aria-labelledby="cancel-import-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cancel-import-label">{% trans "Cancel This Import" %}</h4>
      </div>
      <div class="modal-body">
      {% blocktrans %}
        Are you sure you want to cancel this import?
      {% endblocktrans %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
        <a data-action="cancel" href="{{ cancel_url }}" class="btn btn-primary" data-dismiss="modal">{% trans "Yes" %}</a>
      </div>
    </div>
  </div>
</div>
