// Partial: Footer

footer {
    position: relative;
    background: #FFF;
    width: 100%;
    font-size: 12px;
    height: 20px;
    padding: 10px 15px;

    a {
        color: $subtext-color;
        font-weight: 700;

        &:hover {
            color: $main-text-color;
            text-decoration: none;
        }
    }
}