{% extends "instance_base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block page_title %} | {% trans "Work Orders" %} {% endblock %}

{% block activeexplore %}{% endblock %}
{% block activeworkorders %}active{% endblock %}

{% block search %}{# hide search inputs #}{% endblock search %}
{% block searchoptions %}{# hide search buttons #}{% endblock searchoptions %}
{% block subhead %}{# hide search results #}{% endblock subhead %}

{% block content %}
    <div class="container contained">
        <h1>I order you to work!</h1>
        <h1>I order you to work!</h1>
        <h1>I order you to work!</h1>
    </div>
{% endblock content %}

{% block searchscripts %}{# omit code for searching the map #}{% endblock searchscripts %}

{% block scripts %}
    {% render_bundle 'js/works_management/workOrders' %}
{% endblock scripts %}
