// Partial: Admin

.management {
    min-height: 650px;

    .nav.nav-list {        
        li {
            padding: 0;

            &.nav-header {
                margin-bottom: 6px;
            }
            &.active {
                a {

                }
            }
            a {
                font-weight: 400;
            }
        }
    }

    .page-header {
        h1 {
            margin-bottom: 0.25em;
            
            small {
                top: -6px;
                position: relative;
                left: 10px;
            }
        }
    }
}

// Create Map Styles

.plan-selected {
    background-color: #bfffa3;
}

.error-on-tab {
    border-bottom: 8px solid red;
}
