// Partial: Admin

.management {
    min-height: 650px;

    .nav.nav-list {
        margin-top: 115px;

        li {
            padding: 0;

            &.nav-header {
            }
            &.active {
                a {
                    background: $secondary-color;
                }
            }
            a {
                font-weight: 400;
                padding: 5px 15px;
            }
        }
    }

    .page-header {
        margin: 0 0 30px;
        height: 75px;
        border: none;
        padding: 0;

        h1 {
            margin: 10px 0 0;

            small {
                top: -6px;
                position: relative;
                left: 10px;
            }
        }
    }

    .form-horizontal {
        .control-label {
            float: left;
            width: 190px;
            padding-top: 5px;
            text-align: left;
            padding-right: 10px;
            position: relative;
            top: 4px;
        }
    }

    .table {
        select {
            margin: 0;
        }
    }

    .field-view {
        margin-bottom: 20px;
        top: 4px;
        position: relative;
    }

    .tab-content {
        overflow: hidden;

        > .tab-pane {
            min-height: 650px;
        }
    }

    input {
        width: 80%;
    }

    textarea {
        width: 80%;
        height: 20em;
    }

    .messages,
    .text-error {
        &:empty {
            display: none !important;
        }

        > ul,
        > p {
            margin: 0;
        }
    }
}
