// Partial: Diameter Calculator

#diameter-calculator {
    width: 100%;
    margin: 0;

    & + a {
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 10px;
        display: block;

        > i {
            margin-right: 5px;
        }
    }

    th {
        font-size: 1em;
    }
    tr {
        td {
            width: 50%;
        }
    }
    input {
        margin: 0;
    }
}

#sidebar-add-tree {
    #diameter-calculator {
        tr {
            td {
                input {
                    max-width: 78px;
                }
            }
        }
    }
}

#diameter-calculator-total-row {
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    color: $subtext-color;
}

[data-field="tree.diameter"] {
    #diameter-video {
        font-size: 1.2rem;
        font-weight: 400;

        > i {
            margin-right: 6px;
        }
    }
}
