// Partial: Header

.header {
    padding: 59px 15px 15px;
    height: 85px;
    background: #fff;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    @media (max-width: 979px) {
        padding: 15px;
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    img {
        max-width: 225px;
        max-height: 65px;
    }
}

.search-wrapper {
    position: relative;
    float: right;
    display: inline-block;
}

.search-block-wrapper {
    display: inline-block;

    .search-block {
        padding: 12px 14px;
        background: $light-gray-color;
        border: 1px solid $well-color;
        border-radius: 6px;
        float: left;
        margin-left: 10px;

        h3 {
            font-size: em(14px);
            font-weight: 400;
            line-height: 1em;
            margin: 0 00 6px;
            color: $navbar-color;
        }

        .search-field-group {
            position: relative;
        
            input[type="text"] {
                font-size: 0.75em;
                margin: 0;
                text-indent: 24px;
            }

            .typeahead-toggle {
                padding: 10px 6px 7px;
                position: absolute;
                top: 0px;
                z-index: 9;
                background: none;
                border: none;
                cursor: pointer;
                color: $well-color;

                &:hover {
                    color: $main-text-color;
                }
            }
        }

        .dropdown-menu {
            width: 257px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        
            > li > a {
                padding: 3px 12px;
            }
        }
    }
}

.search-options {
    display: inline-block;
    margin-left: 15px;
    position: relative;
    vertical-align: top;

    #perform-search {
        margin-bottom: 7px;
        padding: 12px 0;
    }
}

#advanced-search-pane {
    position: absolute;
    z-index: 999;
    background: #FFF;
    border: 1px solid $well-color !important;
    box-shadow: 0px 3px 0px rgba(0, 3, 0, 0.3);
    padding: 15px 15px 12px;
    right: 0;
    border-radius: 6px;
    min-width: 320px;
    max-width: 767px;
    margin-top: 4px;

    &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $well-color;
        top: -10px;
        right: 95px;
    }
}

.subhead {
    padding: 10px 15px;
    border-left: 8px solid $primary-color;
    border-top: 1px solid lighten($primary-color, 35%);
    font-size: em(16px);
    background: lighten($primary-color, 50%);
    height: 24px;
    position: relative;
    z-index: 9;
    color: darken($primary-color, 25%);
    box-shadow: 0 6px 0 rgba(0,0,0,.15);

    span {
        font-weight: bold;
    }

    .exportBtn {
        margin-left: 10px;
        margin-top: -2px;
    }

    .addBtn {
        float: right;
        margin-top: -3px;
    }
}

.additional-searches {
    padding: 8px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.stewardship {
    right: 0;
}
