// Partial: Header

.header {
    padding: 59px 15px 15px;
    height: 75px;
    border-bottom: 1px solid $well-color;
    background: #fff;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    img {
        max-width: 225px;
        max-height: 65px;
    }
}

.search-wrapper {
    right: 15px;
    position: absolute;
    top: 56px;
}

.search-block-wrapper {
    display: inline-block;

    .search-block {
        padding: 8px;
        border: 1px solid #eee;
        border-radius: 3px;
        float: left;
        margin-left: 10px;

        input[type="text"] {
            font-size: 0.75em;
        }

        .dropdown-menu {
            width: 257px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        
            > li > a {
                padding: 3px 12px;
            }
        }
    }
}

.search-options {
    display: inline-block;
    margin-left: 15px;
    top: -18px;
    position: relative;

    #perform-search {
        margin-bottom: 6px;
        padding: 8px 0;
    }
}

#advanced-search-pane {
    position: relative;
    z-index: 999;
    background: #F1F2F2;
    padding: 20px;
}

.subhead {
    padding: 10px 15px;
    border-left: 8px solid $primary-color;
    border-bottom: 1px solid $well-color;
    font-size: em(16px);
    background: lighten($primary-color, 50%);
    height: 24px;
    position: relative;
    z-index: 9;
    color: darken($primary-color, 25%);
    box-shadow: 0 6px 0 rgba(0,0,0,.15);

    span {
        font-weight: bold;
    }

    .exportBtn {
        margin-left: 10px;
        margin-top: -2px;
    }

    .addBtn {
        float: right;
        margin-top: -3px;
    }
}

.additional-searches {
    padding: 8px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.stewardship {
    right: 0;
}

@media (max-width: 767px) {

}