// Partial: Layout

html,
body {
	height: 100%;
	background: #f1f1f2;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -40px;

	@include buttons;
	@include links;
}

.content {
	position: relative;
	overflow: auto;
	padding-bottom: 50px;

	&.map {
		position: absolute;
		overflow: hidden;
		padding-bottom: 40px;
		top: 204px;
		width: 100%;
		bottom: 0;
	}
}

.container.contained {
	padding: 25px;
	background: white;
	border-radius: 6px;
	box-shadow: 0 3px 0 gray;
	box-shadow: 0 3px 0 rgba(0,0,0,.35);
	margin: 50px auto 90px;
}

@media (max-width: 767px) {
	body {
		padding: 0;
	}
}