// Partial: Layout

html,
body {
	height: 100%;
	background: #f1f1f2;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -40px;

	@include buttons;
	@include links;
}

.image-background {
    //background-image: $background-image;
	background-image: none;
	height: 500px;
	position: absolute;
	z-index: 0;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
    position: relative;
    overflow: auto;
    margin-bottom: 40px;

    &.map {
        position: absolute;
        overflow: hidden;
        margin: 0;
        top: 252px;
        width: 100%;
        bottom: 40px;

        @media(min-width: 990px){
            top: 205px;
        }

        @media(max-width: 768px){
            top: 164px;
            overflow: auto;

            .map {
                height: 300px;
                overflow: auto;
            }
        }
	}
}

.container.contained {
	padding: 25px;
	background: white;
	border-radius: 6px;
	box-shadow: 0 3px 0 gray;
	box-shadow: 0 3px 0 rgba(0,0,0,.35);
	margin: 90px auto;
	position: relative;
	width: 920px;
    z-index: 98;

	@media (min-width: 1200px) {
		width: 1100px;
	}
	@media (max-width: 979px) and (min-width: 768px) {
		width: 710px;
	}
	@media (max-width: 767px) {
		width: auto;
		margin: 50px 10px 90px;
	}

    &.topper:before {
        content: '';
        position: absolute;
        top: 0;
        border-radius: 6px 6px 0 0;
        height: 110px;
        background: darken($light-gray-color, 10%);
        left: 0;
        right: 0;
        display: block;
        z-index: 0;
    }
    &.create-map {
        margin-top: 50px;
    }

    > div {
        z-index: 10;
        position: relative;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;

        > li {
            display: inline; // Remove list-style and block-level defaults
            > a,
            > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.42857143;
                text-decoration: none;
                color: #8aaa3e;
                background-color: #fff;
                border: 1px solid #eeeeee;
                margin-left: 2px;
                border-radius: 24px;

            }
            &:first-child {
                > a,
                > span {
                    margin-left: 0;
                }
            }
            &:last-child {
                > a,
                > span {
                }
            }
        }

        > li > a,
        > li > span {
            &:hover,
            &:focus {
                color: #fff;
                background-color: #8aaa3e;
                border-color: #8aaa3e;
            }
        }

        > .active > a,
        > .active > span {
            &,
            &:hover,
            &:focus {
                z-index: 2;
                color: #fff;
                background-color: #8aaa3e;
                border-color: #8aaa3e;
                cursor: default;
            }
        }

        > .disabled {
            > span,
            > span:hover,
            > span:focus,
            > a,
            > a:hover,
            > a:focus {
                color: #eeeeee;
                background-color: #f7f7f7;
                border-color: #f7f7f7;
                cursor: not-allowed;
            }
        }
    }
}

.alert {
    font-size: 1.4rem;
    line-height: 1.8rem;

    .btn {
        margin-bottom: 5px;
    }
    p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.progress {
    margin-bottom: 8px;

    .bar {
        background: $secondary-color;
    }
}

.well {
	border: 1px solid lighten($well-color, 10%);
	background: $light-gray-color;
	border-radius: 6px;

	> :last-child {
		margin-bottom: 0;
	}

	h4 {
		color: $secondary-color;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.1rem;
		margin-bottom: 8px;
	}
	h5 {
		margin-bottom: 6px;
        color: $secondary-color;
		font-size: 1.4rem;
		font-weight: 700;
	}
	p, li {
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 2.1rem;
        word-wrap: break-word;
	}
    p {
        clear: both;
    }
}

.datepicker {
    z-index: 1000 !important;
}

@media (max-width: 767px) {
	body {
		padding: 0;
	}
}
