// Partial: Layout

html,
body {
	height: 100%;
	background: #f1f1f2;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -40px;

	@include buttons;
	@include links;
}

.image-background {
	background-image: url(../img/default-background.jpg);
	height: 500px;
	position: absolute;
	z-index: 0;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	position: relative;
	overflow: auto;
	margin-bottom: 39px;

	&.map {
		position: absolute;
		overflow: hidden;
		padding-bottom: 40px;
		margin-bottom: 0;
		top: 203px;
		width: 100%;
		bottom: 0;
	}
}

.container.contained {
	padding: 25px;
	background: white;
	border-radius: 6px;
	box-shadow: 0 3px 0 gray;
	box-shadow: 0 3px 0 rgba(0,0,0,.35);
	margin: 50px auto 90px;
	position: relative;
	width: 920px;

	@media (min-width: 1200px) {
		width: 1100px;
	}
	@media (max-width: 979px) and (min-width: 768px) {
		width: 710px;
	}
	@media (max-width: 767px) {
		width: auto;
		margin: 50px 10px 90px;
	}

    &:before {
        content: '';
        position: absolute;
        top: 0;
        border-radius: 6px 6px 0 0;
        height: 110px;
        background: $light-gray-color;
        left: 0;
        right: 0;
        display: block;
        z-index: 0;
    }

    > div {
        z-index: 99;
        position: relative;
    }
}

.alert {
    .btn {
        margin-bottom: 5px;
    }
}

.progress {
    margin-bottom: 8px;

    .bar {
        background: $secondary-color;
    }
}

.well {
	border: 1px solid lighten($well-color, 10%);
	background: $light-gray-color;
	border-radius: 6px;
	
	> :last-child {
		margin-bottom: 0;
	}

	h4 {
		color: $secondary-color;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.1rem;
		margin-bottom: 8px;
	}
	h5 {
		margin-bottom: 6px;
        color: $secondary-color;
		font-size: 1.4rem;
		font-weight: 700;
	}
	p, li {
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 2.1rem;
	}
    p {
        clear: both;
    }
}

@media (max-width: 767px) {
	body {
		padding: 0;
	}
}