// Partial: Layout

html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -40px;

	@include buttons;
	@include links;
}

.content {
	position: relative;
	overflow: auto;

	&.map {
		position: absolute;
		overflow: hidden;
		padding-bottom: 40px;
		top: 195px;
		width: 100%;
		bottom: 0;
	}
}

@media (max-width: 767px) {
	body {
		padding: 0;
	}
}