// Partial: Map Page

.map {
    left: 0;
    background: $well-color;
    position: absolute;
    bottom: 40px;
    top: 0;
    right: 350px; 
}

.map-small {
    background: $well-color;
    width: 300px;
    height: 300px;
}

.olPopup {
    border-radius: 6px;
    margin-top: 20px;
    margin-left: -23px;
    border: 1px solid #d1d2d4 !important;
    overflow: visible !important;
    box-shadow: 0px 3px 0px rgba(0, 3, 0, 0.3);

    &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $well-color;
        top: -10px;
        left: 10px;
    }

    .olPopupContent {
        padding: 12px;
        margin: 0;
        width: auto !important;

        h4 {
            margin: 0 0 6px;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: $primary-color;
        }
        dl {
            margin: 0;
            clear: both;
            font-size: 14px;

            dt {
                text-align: left;
                width: 100px;
                color: $subtext-color;
            }
            dd {
                text-align: right;
                margin-left: 110px;
            }
        }
        address {
            font-size: em(14px);
            strong {
                display: block;
            }
        }
    }
    .olPopupCloseBox {
        background: none;
        margin-right: -6px;

        &:before {
            content: '\00d7';
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            color: #000000;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.2;
        }
        &:hover:before {
            opacity: 0.4;
        }
    }
}

span.tt-dropdown-menu {
    margin-top: 10px;
    padding: 0;
    width: 221px;
    font-size: 0.875em;
    position: relative;
    border: 1px solid $well-color;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 3px 0px rgba(0, 3, 0, 0.3);

    &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $well-color;
        top: -10px;
        left: 10px;
    }

    .tt-suggestions {
        max-height: 300px;
        overflow: auto;

        .tt-suggestion {
            padding: 8px 10px;
            border-bottom: 1px solid $light-gray-color;
            
            &:hover {
                background-color: $light-gray-color;
            }
            &:last-child {
                border: none;
            }

            p {
                line-height: 1.5em;
                margin: 0;
            }
        }
    }
}