// Partial: Map Page

#streetview {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 20px;
    bottom: 80px;
    background: gray;
    z-index: 10000;
}

#streetview img {
    border: none !important;
    max-width: none !important;
}

.map {
    left: 0;
    background: $well-color;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 350px;
}

.leaflet-control-container {
    @each $direction in right, left, top, bottom {
        .leaflet-#{$direction} {
            z-index: 99;

            .leaflet-control {
                margin-#{$direction}: 16px;
            }
        }
    }

    // Overrides Leaflet button in bottom-right
    .leaflet-bottom.leaflet-right {
        margin: 0 !important;

        .leaflet-control {
            margin-right: 0;
        }
    }
}

.leaflet-control-layers-toggle {
    background-image: url(/static/img/leaflet/layers.png) !important;
}

.leaflet-retina {
    .leaflet-control-layers-toggle {
        background-image: url(/static/img/leaflet/layers-2x.png) !important;
    }
}


.leaflet-control {

    &.leaflet-control-attribution {
        margin-bottom: 12px;
        margin-right: 0;
    }

    &.leaflet-control-zoom {

        > a {
            color: black;
        }
    }

    &.leaflet-control-layers {
        .leaflet-control-layers-list {
            margin: 0;
        }
        .leaflet-control-layers-base {

            label {
                font-size: 1.6rem;
                padding: 0 5px;

                .leaflet-control-layers-selector {
                    margin: 0 4px 0 0;

                    & + span {
                        top: 2px;
                        position: relative;
                    }
                }
            }
        }
    }
}

@keyframes pulse {
    0%  { opacity: 1; }
    30% { opacity: 0.5; }
    60% { opacity: 1; }
}
@-webkit-keyframes pulse {
    0%  { opacity: 1; }
    30% { opacity: 0.5; }
    60% { opacity: 1; }
}

.leaflet-marker-icon {

    &.animated {
        -webkit-animation: pulse 2s infinite;
        -moz-animation: pulse 2s infinite;
        -o-animation: pulse 2s infinite;
        animation: pulse 2s infinite;
    }
}

.leaflet-popup-close-button {
    margin-top: 6px;
    margin-right: 4px;
}

.leaflet-popup-content {
    margin: 18px 20px;

    h4 {
        margin: 0 0 0.5em;
    }
    address {
        margin-bottom: 15px;

        strong {
            clear: both;
            display: block;
        }
    }
}

span.tt-dropdown-menu {
    margin-top: 10px;
    padding: 0;
    width: 221px;
    font-size: 1.2rem;
    position: relative;
    border: 1px solid $well-color;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 3px 0px rgba(0, 3, 0, 0.3);

    &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $well-color;
        top: -10px;
        left: 10px;
    }

    .tt-suggestions {
        max-height: 300px;
        overflow: auto;

        .tt-suggestion {
            padding: 8px 10px;
            border-bottom: 1px solid $light-gray-color;

            &.tt-cursor,
            &:hover {
                background-color: $light-gray-color;
            }
            &:last-child {
                border: none;
            }

            p {
                line-height: 1.6rem;
                margin: 0;
                font-size: 1.2rem;
            }
        }
    }
}
