// Partial: Map Page

.map {
  left: 0;
  background: $well-color;
  position: absolute;
  bottom: 40px;
  top: 0;
  right: 350px; }

.map-small {
  background: $well-color;
  width: 300px;
  height: 300px;
}

.sidebar {
    width: 350px;
    background: #FFF;
    border-left: 1px solid $well-color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    
    .accordion-group {
        border-radius: 0;
        margin-bottom: 0;
        border: none;
        border-top: 1px solid $well-color;
    }
    .accordion-heading {
        background: $secondary-color;

        a {
            color: #f1f1f2;
            font-size: 1em;
            font-weight: 700;
            padding: 15px;
            
            &:hover {
                text-decoration: none;
                color: #FFF;
                box-shadow: 0 3px 6px darken($secondary-color, 15%);
                box-shadow: 0 3px 6px rgba(0,0,0,.2) inset;
                background: darken($secondary-color, 5%);
            }
        }
    }
    .chunk {
        list-style: none;
        padding: 5px 0 5px;
        margin: 0;
    }
}

.benefit-label {
    font-weight: 700;
}

span.tt-dropdown-menu {
    margin-top: 0;
    padding: 10px;
    width: 199px;
    font-size: em(13px) !important;
    border: 1px solid $well-color;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 3, 0, 0.3);
}
.tt-suggestion p {
    padding: 0px 7px;
    
    &:hover {
        background-color: $well-color;
        border-radius: 3px;
    }
}

.create_instance_map {
    width: 100%;
    height: 500px;
}