// Partial: Navbar

.navbar {
    font-size: 1em;

    @media (max-width: 979px) {
        margin-bottom: 0;
    }

    .navbar-inner {
        background: $navbar-color;
        border: none;
        height: 44px;
        box-shadow: none;
        padding: 0;
    }

    .nav {
        margin: 0 -15px;
        &.pull-left {
            margin-left: 15px;
        }
        &.pull-right {
            margin-right: 15px;
        }

        > li {
            margin-left: 20px;
            height: 44px;

            &:first-child {
                margin-left: 0;
            }
            &.active {
                > a {
                    background-color: $navbar-color;
                    border-bottom: 4px solid $primary-color;

                    &:hover,
                    &:focus {
                        background-color: $navbar-color;
                    }
                }
            }
            &.user-img {
                overflow: hidden;
                height: 30px;
                width: 30px;
                border-radius: 4px;
                top: 6px;
                position: relative;

                a {
                    padding: 0;
                    height: auto;
                    overflow: hidden;
                    border-radius: 4px;
                }
                img {
                    max-width: 105%;
                }
            }

            > a {
                padding: 12px 0 8px;
                height: 20px;
                font-size: 1em;
                font-weight: 400;

                > .reputation {
                    font-size: em(14px);
                    color: white;
                }

                &:hover,
                &:focus {
                    background-color: $navbar-color;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        margin: 0;
    }
}