// Partial: User Profile Page

.profile {
        margin-top: 50px !important;
}
        .profile .left,
        .profile .right {
                padding: 8px 15px;
        }
        .profile .left {
                width: 261px;
        }
        .profile .right {
                width: 648px;
                border-left: 1px solid #eee;
        }
        .quick-info {
                text-align: right;
        }
                .quick-info h1 {
                        line-height: 14px;
                        margin-top: 0;
                }
                .quick-info p {
                        color: #c2c2c2;
                }
                .quick-info ul {
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                }
                .quick-info li {
                        display: inline-block;
                        height: 100px;
                        padding-left: 50px;
                        vertical-align: middle;
                }
        .profile .chunk {
                list-style: none;
                padding: 5px 0 15px;
                margin: 0;
        }
                .profile .chunk .extra {
                        padding-top: 10px;
                }
                .chunk-label {
                        font-weight: bold;
                }

.user-photo {
        max-width: 85px;
}