// Partial: User Profile Page

.account-info {
    min-height: 85px;
    margin-bottom: 15px;

    h1 {
        line-height: 1.6rem;
        margin: 15px 0 10px;
        float: left;
        font-size: 2.4rem;
        width: auto;
        text-overflow: ellipsis;
        max-width: 250px;
        overflow: hidden;

        small {
            font-size: 0.8rem;
            color: #c2c2c2;
            display: block;
            line-height: 2.1rem;
        }
    }
    .user-photo-container {
        width: 85px;
        border-radius: 6px;
        overflow: hidden;
        height: 85px;
        position: relative;
        float: left;
        margin-right: 10px;

        > button {
            position: absolute;
            bottom: 0;
            opacity: 0;
            width: 100%;
            background: black;
            color: white;
            border: none;
            transition: opacity 0.3s;
        }
        &:hover > button {
            opacity: 0.85;
            background: black;
        }
    }
}

#user-form {
    margin: 10px 0;
    clear: both;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #EEE;

    input[type="text"] {
        width: 90%;
    }
    .field-view {
        margin-bottom: 10px;
    }
}

#recent-user-edits {
    font-size: 1.2rem;
}

.profile {
    .chunk {
        list-style: none;
        padding: 5px 0 15px;
        margin: 0;

        .extra {
            padding-top: 10px;
        }
    }
}
