// Partial: User Profile Page

.account-info {
    min-height: 85px;
    margin-bottom: 15px;

    h1 {
        line-height: 24px;
        margin: 15px 0 4px;
        float: left;
        font-size: 24px;
    }
    p {
        color: #c2c2c2;
        float: left;
    }
    .user-photo {
        max-width: 85px;
        float: left;
        margin-right: 10px;
        border-radius: 12px;
        overflow: hidden;
    }
}

#user-form {
    margin: 0;
    clear: both;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #EEE;
}

.profile {
    .chunk {
        list-style: none;
        padding: 5px 0 15px;
        margin: 0;

        .extra {
            padding-top: 10px;
        }
    }
}
.chunk-label {
        font-weight: bold;
}