// Partial: Registration Pages

.login-signup-panel {
    background-color: #fff;
    box-shadow: none;
    width: 540px;
    margin: 30px auto 15px;
}

.have-account {
    font-size: 14px;
}

.signup-option {
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: $navbar-color;
    color: #fff;
    margin-top: 15px;

    p {
        margin-bottom: 0;
    }
    a {
        margin-left: 20px;
    }
}

.profile-photo-upload {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 3px;
}

@media (max-width: 767px) {
    .login-signup-panel {
        width: auto;
        margin: 30px 20px 15px;
    }
}