// Partial: Map Page Sidebar

.sidebar {
    width: 350px;
    background: $navbar-color;
    border-left: 1px solid $well-color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    
    > div {
        height: 100%;
        overflow: auto;
    }
    .accordion {
        margin: 0;
    }
    .accordion-group {
        border-radius: 0;
        margin-bottom: 0;
        border: none;
        border-top: 1px solid darken($secondary-color, 25%);
    }
    .accordion-heading {
        background: $secondary-color;

        a {
            text-decoration: none;
            color: #FFF;
            box-shadow: 0 3px 6px darken($secondary-color, 15%);
            box-shadow: 0 3px 6px rgba(0,0,0,.2) inset;
            background: darken($secondary-color, 5%);
            padding: 15px;
            font-size: 1.6rem;
            font-weight: 700;

            &.collapsed {
                color: lighten($secondary-color, 35%);
                color: rgba(255,255,255,.5);
                box-shadow: none;
                background: $secondary-color;
            }

            &:hover {
                text-decoration: none;
                color: #FFF;
                box-shadow: 0 3px 6px darken($secondary-color, 15%);
                box-shadow: 0 3px 6px rgba(0,0,0,.2) inset;
                background: darken($secondary-color, 5%);
            }
        }
    }
    .accordion-inner {
        padding: 0;
    }

    .accordion-body {
        background: white;

        .accordion-body-buttons {
            padding: 10px 15px;
        }
        .tree-details-species {
            h3 {
                margin: 0 0 5px;
                line-height: 27px;
            }
        }
        .field-view {
            margin-bottom: 10px;
        }
    }

    .chunk {
        list-style: none;
        padding: 5px 0 5px;
        margin: 0;
    }
}

#sidebar-add-tree {
    background: white;

    > .sidebar-inner {
        padding: 20px;

        .add-step {
            margin: 0 -20px 5px;
            padding: 20px;
            border-bottom: 1px solid darken($light-gray-color, 10%);

            &:first-child {
                border-top: 1px solid darken($light-gray-color, 10%);
            }
            &:last-child {
                margin-bottom: 15px;
            }
        }
        .add-step-final {
            margin: 15px 0 0;
        }

        h3 {
            margin-bottom: 8px;
        }
        h4 {
            margin-bottom: 10px;
        }
        small {
            font-size: 1.2rem;
            color: $subtext-color;
            line-height: 2.0rem;
            margin-bottom: 10px;
            display: block;
        }
        form {
            margin: 0;
        }
        input[type='radio'] {
            margin-top: -1px;
            margin-right: 5px;
        }
    }

    .cancelBtn.small {
        position: relative;
        font-size: 2.4rem;
    }

    .form-search {
        margin: 0;
        }
        .geocode {
            padding: 8px 12px;
        }
        .geolocate {
            font-size: 1.2rem;
            color: $secondary-color;
            display: block;
            margin: 3px 0 3px -3px;
            cursor: pointer;
        }
}

#add-trunk-row {
    border-radius: 99px;
    padding: 2px 5px;
}

#details-form {
    padding: 10px 15px;
    margin-bottom: 0;
}

#move-plot-buttons {
    padding: 0 15px;

    > .btn {
        margin-bottom: 15px;
    }
}

#add-tree-address {
    width: 195px;
    font-size: 1.4rem;
}

#benefit-values {
    .benefit-value-row {
        border-bottom: 1px solid $light-gray-color;
        padding: 15px;

        &:hover {
            background: $light-gray-color;
        }

        .benefit-icon {
            padding: 7px 8px 7px 6px;
            background: $primary-color;
            width: 20px;
            height: 20px;
            border-radius: 999px;
            color: white;
            float: left;
            margin-right: 10px;

            > i {
                margin-top: 2px;
            }
        }
        .benefit-label {
            font-weight: 400;
            font-size: 1.8rem;
            float: left;
            margin: 0;
            line-height: 3.2rem;
            color: $primary-color;
        }
        .benefit-content {
            clear: both;
            margin: 0 0 0 46px;

            dt {
                text-align: left;
                font-weight: 700;
                color: $main-text-color;
                width: auto;

                @media (max-width: 767px) {
                    float: left;
                }
            }
            dd {
                text-align: right;
                font-size: 1.4rem;
                color: $subtext-color;
                margin-left: 5px;
                width: auto;
                display: inline-block;
                float: left;
            }
        }
    }
    .benefit-tree-count {
        padding: 10px 15px;
        font-size: 1.4rem;
        font-style: italic;
        color: $subtext-color;
    }
}