// Partial: Map Page Sidebar

.sidebar {
    width: 350px;
    background: #FFF;
    border-left: 1px solid $well-color;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    
    > div {
        height: 100%;
        overflow: auto;
    }
    .accordion {
        margin: 0;
    }
    .accordion-group {
        border-radius: 0;
        margin-bottom: 0;
        border: none;
        border-top: 1px solid $light-gray-color;
    }
    .accordion-heading {
        background: $secondary-color;

        a {
            color: lighten($secondary-color, 35%);
            color: rgba(255,255,255,.5);
            font-size: 1em;
            font-weight: 700;
            padding: 15px;
            
            &:hover {
                text-decoration: none;
                color: #FFF;
                box-shadow: 0 3px 6px darken($secondary-color, 15%);
                box-shadow: 0 3px 6px rgba(0,0,0,.2) inset;
                background: darken($secondary-color, 5%);
            }
        }
        &.in {
            a {
                text-decoration: none;
                color: #FFF;
                box-shadow: 0 3px 6px darken($secondary-color, 15%);
                box-shadow: 0 3px 6px rgba(0,0,0,.2) inset;
                background: darken($secondary-color, 5%);
            }
        }
    }
    .accordion-inner {
        padding: 0;
    }

    .chunk {
        list-style: none;
        padding: 5px 0 5px;
        margin: 0;
    }
}

#sidebar-add-tree {
    > .sidebar-inner {
        padding: 20px;
    }
}

#benefit-values {
    .benefit-value-row {
        border-bottom: 1px solid $light-gray-color;
        padding: 15px;

        .benefit-icon {
            padding: 7px;
            background: $primary-color;
            width: 20px;
            height: 20px;
            border-radius: 999px;
            color: white;
            float: left;
            margin-right: 10px;

            > i {
                margin-top: 2px;
            }
        }
        .benefit-label {
            font-weight: 400;
            font-size: 18px;
            float: left;
            margin: 0;
            line-height: 32px;
            color: $primary-color;
        }
        .benefit-content {
            clear: both;
            margin: 0 0 0 46px;

            dt {
                text-align: left;
                font-weight: 700;
                color: $main-text-color;

                @media (max-width: 767px) {
                    float: left;
                }
            }
            dd {
                text-align: right;
                font-size: em(14px);
                color: $subtext-color;
                margin-left: 150px;
            }
        }
    }
    .benefit-tree-count {
        padding: 10px 15px;
        font-size: 14px;
        font-style: italic;
        color: $subtext-color;
    }
}