// Partial: Advanced Search

.subhead {
    position: absolute;
    z-index: 99;
    width: 100%;
    border-top: 1px solid lighten($primary-color, 15%);
    transition: all 400ms cubic-bezier(0, 0, 0.1, 1);

    &.expanded {
        > .advanced-search {
            -webkit-transform: translate(0);
                    transform: translate(0);
            box-shadow: 0 6px 0 rgba(0,0,0,.15);
            transition-delay: .1s;

            + .stats-bar {
                -webkit-transform: translate(0,-101%);
                        transform: translate(0,-101%);
            }
        }
    }

    > .advanced-search {
        background: lighten($primary-color, 15%);
        position: absolute;
        -webkit-transform: translate(0,-110%);
                transform: translate(0,-110%);
        width: 100%;
        z-index: 11;
        transition: .2s ease-in-out -webkit-transform;
        transition: .2s ease-in-out transform;

        + .stats-bar {
            position: absolute;
            width: 100%;
            box-shadow: 0 6px 0 rgba(0,0,0,.15);
            transition: .2s ease-in-out -webkit-transform;
            transition: .2s ease-in-out transform;
        }

        .dropdown-toggle.filter-active {
            font-weight: bold;
            color: #fff;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 6px;
                height: 6px;
                background: $secondary-color;
                border-radius: 100%;
                left: 3px;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
            }
        }

        .field-group.disabled {

            label, input, select, textarea, span {
                pointer-events: none;
                opacity: 0.4;
            }

            .search-fields-title {
                display: none;
            }
        }

        .field-group-message {
            display: none;
            font-weight: 600;
            font-style: italic;
            margin-bottom: 10px;
            font-size: 1.3rem;
            min-width: 300px;
        }

        form {
            margin: 0 0 10px;
        }

        @include checkboxes;

        input[type="checkbox"] + label {
            color: lighten($primary-color, 45%);
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    // Tree Care Styling
    .udfc-search {
        min-width: 940px;

        @media #{$screen-sm} {
            min-width: 600px;
        }

        @media #{$screen-xs} {
            min-width: 350px;
        }

        > span, 
        > label, 
        > input {
            display: inline-block;
            float: none;
            vertical-align: middle;
        }

        span {
            color: lighten($primary-color, 45%);
        }

        .udfc-label {
            position: relative;
            overflow: hidden;
            width: 160px;

            &:after {
                content: '\25BC';
                font-size: 1rem;
                margin-left: 12px;
                position: absolute;
                opacity: 0.5;
                pointer-events: none;
                color: white;
                right: 13px;
                top: 7px;
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
        select, 
        input.udfc-selector {
            background: $primary-color;
            padding: 8px 33px 3px 15px;
            font-weight: 500;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-bottom: 1px dashed lighten($primary-color, 45%);
            outline: none;
            color: white;
            font-size: 1.4rem;
            border-radius: 0;
            cursor: pointer;
            margin: 0 5px;

            &:hover {
                background: darken($primary-color, 5%);
                border-color: #fff;
            }

            &[disabled] {
                opacity: .5;
                cursor: default;

                &:hover {
                    background: $primary-color;
                    border-color: 1px dashed lighten($primary-color, 45%);
                }
            }
        }
        
        input.udfc-selector {
            width: 110px;
        }

        select {
            width: 100%;

            option {
                color: black;
                background: white;

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    color: white;
                    background: transparent;
                }
            }
        }

        select::-ms-expand {
            display: none;
        }
    }

    > .stats-bar {
        padding: 10px 15px 10px;
        border-left: 8px solid $primary-color;
        font-size: 1.6rem;
        font-weight: 300;
        background: lighten($primary-color, 45%);
        height: 90px;
        position: relative;
        z-index: 9;
        color: darken($primary-color, 25%);

        @media(min-width: 990px){
            height: 42px;
        }
        span {
            font-weight: bold;
        }

        .half{
            position: relative;
            display: block;
            width: 100%;
            padding: 6px;

            @media (min-width: 990px){
                display: inline;
                width: inherit;
                padding: 0px;
            }

            label{
                float: right;
            }
        }

        .exportBtn {
            margin-left: 10px;
            margin-top: -2px;
        }

        .addBtn {
            float: right;
            margin-top: -6px;
            margin-left: 8px;

            i {
                position: relative;
                left: -4px;
                top: 0;
            }
        }
    }
}

.advanced-search {

    .dropdown {
        display: inline-block;
    }

    > .dropdown:first-child {
        border-right: 1px solid $primary-color;
    }
    

    // Dropdown Toggles
    .dropdown-toggle {
        background: none;
        border: none;
        border-radius: 0;
        color: lighten($primary-color, 45%);
        padding: 18px 12px;

        &:hover, &.hover,
        &:focus, &.focus,
        &:active, &.active {
            background: $primary-color;
            color: #fff;
        }
    }

    .open > .dropdown-toggle {
        background: $primary-color;
        color: #fff;

        &:hover, &.hover,
        &:focus, &.focus,
        &:active, &.active {
            background: $primary-color;
            color: #fff;
        }
    }

    // Dropdown Popups
    .dropdown-menu {
        border-radius: 0;
        margin: 0;
        border: none;
        padding: 15px;
        background: $primary-color;
        color: lighten($primary-color, 45%);
        min-width: 300px;
        max-height: 350px;
        overflow: auto;
    }

    .field-group {
        border-bottom: none;
    }

    // Labels
    label {
        color: lighten($primary-color, 45%);
        font-size: 1.4rem;
    }

    // Search Range
    .search-range {
        margin-bottom: 15px;
        clear: both;

        > label {
            display: block;
        }

        > .input-group,
        > input {
            float: left;
            width: 35%;

            @media #{$screen-xs} {
                width: 45%;
            }
        }
        
        > span {
            float: left;
            margin: 6px 0;
            font-size: 1.3rem;
            width: 30%;
            text-align: center;

            @media #{$screen-xs} {
                width: 10%;
            }
        }
    }

    .field-group + .field-group {
        padding-top: 10px;
        border-top: 1px solid lighten($primary-color, 15%);
    }

    .form-group:last-child {
        margin-bottom: 0;
    }

    .search-fields-title {
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

#missing-data,
#display-filters {
    span {
        display: block;
    }
}


#search-fields-Tree {
    min-width: 340px;
}