// Partial: Tree Detail Pages

.tree-details {
    h1 {
        margin-bottom: 10px;
    }
}

#plot-form {
    margin-top: 10px;

    table.table-striped {
        > tbody {
            > tr {
                > td:first-child {
                    width: 30%;
                    vertical-align: middle;
                }

                &.diameter-row {
                    td:first-child {
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

.map-small,
.street-view-small {
    background: $well-color;
    width: auto;
    height: 220px;
    min-width: 100%;
    margin-bottom: 10px;
}

// Needed because bootstrap breaks street view on firefox
// by setting max-width: 100% on all <img> tags
.street-view-small img {
    max-width: none;
}

#tree-photo-thumbnails {
    height: 50px;

    > div {
        overflow: hidden;
        height: 50px;

        .carousel-indicators {
            display: inline-block;
            position: static;
            margin: 0 ;
            white-space: nowrap;
            height: 50px;

            li {
                text-indent: 0;
                border: none;
                width: 50px;
                height: 50px;
                border-radius: 4px;
                margin-left: 0;
                margin-right: 5px;
                overflow: hidden;
                opacity: 0.65;
                cursor: pointer;
                float: none;
                display: inline-block;

                &.active {
                    opacity: 1;
                }
                &:hover {
                    opacity: 0.9;
                }

                img {
                    width: auto;
                    height: 100%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}

#tree-photo-carousel {
    .carousel-inner {
        margin-bottom: 10px;
        height: 250px;
        overflow: hidden;
        border: none;

        .item {
            img {
                width: auto;
                height: auto;
                margin: 0 auto;
            }
        }
    }
    > a.carousel-control {
        left: 0;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        font-size: 4.0rem;
        line-height: normal;
        text-align: center;
        background: transparent;
        border: none;
        display: block;
        border-radius: 0;
        opacity: 0.5;
        color: #42424a;

        &.right {
            left: auto;
            right: 5px;
        }
        &:hover {
            opacity: 0.9;
            color: #42424a;
        }
        &.disabled {
            opacity: 0.15;

            &:hover {
                opacity: 0.15;
                color: #42424a;
            }
        }

        > i {
            display: block;
        }
    }

    + button {
        position: absolute;
        margin-top: -104px;
        opacity: 0.25;
        width: auto;
        background: black;
        color: white;
        border: none;
        transition: opacity 0.3s;
        padding: 2px 8px;
        border-radius: 0;

        &:hover {
            opacity: 0.85;
            background: black;
        }
    }
    &:hover + button {
        opacity: 0.85;
        background: black;
    }
}
