// Partial: Tree Detail Pages

.tree-details {
	h1 {
		margin-bottom: 10px;
	}
}

#plot-form {
	margin-top: 10px;
}

.map-small,
.street-view-small {
	background: $well-color;
	width: auto;
	height: 220px;
	min-width: 100%;
	margin-bottom: 10px;
}

// Needed because bootstrap breaks street view on firefox
// by setting max-width: 100% on all <img> tags
.street-view-small img {
    max-width: none;
}
