// Partial: Typography

html {
    font-size: $base-font-size;
}

body {
	font-family: $base-font-family;
	font-size: 1.6rem;
}

h1, h2, h3, h4, h4, h5 {
	font-family: $base-font-family;
	font-weight: 300;
	margin: 0 0 1.2rem;
}

p, li {
	line-height: 2.1rem;
	font-size: 1.4rem;

	label {
		font-size: 1.4rem;
	}
}

label {
	color: $subtext-color;
	font-size: 1.2rem;
	font-weight: 400;

	&.radio.inline,
	&.checkbox.inline {
		padding-top: 0;
		margin-bottom: 10px;
	}
}

.text-info {
	color: lighten($subtext-color, 5%);
	font-size: 1.2rem;
	margin: -2px 0 16px;
}

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
textarea, 
.uneditable-input {
	font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.25px;
	padding: 8px 8px;
	color: $subtext-color;
	border-radius: 6px;
	box-shadow: 0 2px 0 #DDD inset;
	box-shadow: 0 2px 0 rgba(0,0,0,.1) inset;

	&:focus {
		color: $main-text-color;
		box-shadow: 0 2px 0 rgba(0,0,0,.15) inset,
					0 1px 1px rgba(0, 0, 0, 0.075) inset, 
					0 0 8px rgba(82, 168, 236, 0.6);
	}
}

.input-append {
	input {
		border-radius: 6px 0 0 6px;
		font-size: 1.4rem;
	}
	span.add-on {
		padding: 8px;
	}
}

textarea {
	resize: none;
}

.table {
	font-size: 1.4rem;
}

.btn-mini [class^="icon-"], 
.btn-mini [class*=" icon-"] {
	margin-top: 0;
}

.text-separator {
	display: inline-block;
	margin: 0 5px;
	color: $subtext-color;
}
