// Partial: Typography

// Convert ems to pixels
// -- 16px = 1em, this converts appropriately
@function em($px, $base: $base-font-size) {
	@return ($px / $base) * 1em;
}

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
}

h1, h2, h3, h4, h4, h5 {
	font-family: $base-font-family;
	font-weight: 300;
	margin: 1em 0 0.5em;
}


p,
li {
	line-height: 1.25em;
	font-size: em(14px);
	color: $main-text-color;
}

label {
	color: $subtext-color;
	font-size: em(14px);
	font-weight: 400;
}

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
textarea, 
.uneditable-input {
	font-size: 1em;
	padding: 8px 8px;
	color: $subtext-color;
	box-shadow: 0 2px 0 #DDD inset;
	box-shadow: 0 2px 0 rgba(0,0,0,.1) inset;
	height: auto;

	&:focus {
		color: $main-text-color;
		box-shadow: 0 2px 0 rgba(0,0,0,.15) inset,
					0 1px 1px rgba(0, 0, 0, 0.075) inset, 
					0 0 8px rgba(82, 168, 236, 0.6);
	}
}

.btn-mini [class^="icon-"], 
.btn-mini [class*=" icon-"] {
	margin-top: 0;
}
