// Partial: Typography

// Convert ems to pixels
// -- 16px = 1em, this converts appropriately
@function em($px, $base: $base-font-size) {
	@return ($px / $base) * 1em;
}

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
}

h1, h2, h3, h4, h4, h5 {
	font-family: $base-font-family;
	font-weight: 300;
	margin: 0 0 0.75em;
}

p, li {
	line-height: 1.25em;
	font-size: em(14px);
}

label {
	color: $subtext-color;
	font-size: em(12px);
	font-weight: 400;

	&.radio.inline,
	&.checkbox.inline {
		padding-top: 0;
		margin-bottom: 10px;
	}
}

.text-info {
	color: lighten($subtext-color, 35%);
	font-size: 0.75em;
	margin: -2px 0 16px;
}

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
textarea, 
.uneditable-input {
	font-size: 1em;
	padding: 8px 8px;
	color: $subtext-color;
	border-radius: 6px;
	box-shadow: 0 2px 0 #DDD inset;
	box-shadow: 0 2px 0 rgba(0,0,0,.1) inset;
	height: auto;

	&:focus {
		color: $main-text-color;
		box-shadow: 0 2px 0 rgba(0,0,0,.15) inset,
					0 1px 1px rgba(0, 0, 0, 0.075) inset, 
					0 0 8px rgba(82, 168, 236, 0.6);
	}
}

.input-append {
	input {
		border-radius: 6px 0 0 6px;

		&.span2 {
			width: 92px;
			font-size: 16px;
		}
	}
	span.add-on {
		padding: 8px;
	}
}

textarea {
	resize: none;
}

.btn-mini [class^="icon-"], 
.btn-mini [class*=" icon-"] {
	margin-top: 0;
}

.text-separator {
	display: inline-block;
	margin: 0 5px;
	color: $subtext-color;
}
