// Partial: Header

.header {
    padding: 59px 15px 15px;
    height: 153px;
    background: #fff;
    position: relative;
    z-index: 100;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    img {
        max-width: 300px;
        max-height: 78px;
    }
}

.toolbar-wrapper {
    position: absolute;
    top: 60px;
    display: inline-block;
}

.search-wrapper {
    position: absolute;
    right: 15px;
    top: 60px;
    display: inline-block;
}

.search-block-wrapper {
    display: inline-block;

    .search-block {
        padding: 12px 0;
        float: left;
        margin-left: 10px;
        width: 245px;

        @media #{$screen-xs} {
            width: 185px;
        }

        @media(max-width: 358px) {
            display: none;
        }

        label {
            display: block;
            margin-top: -2px;
        }

        .search-field-group {
            position: relative;

            input[type="text"] {
                margin: 0;
                padding-left: 32px;
                font-size: 1.2rem;
            }

            .twitter-typeahead {
                display: block !important;
            }
            .typeahead-toggle {
                padding: 9px 4px 7px;
                position: absolute;
                top: 0px;
                z-index: 9;
                background: none;
                border: none;
                cursor: pointer;
                color: $well-color;
                font-size: 1.8rem;
                line-height: 1.6rem;

                &.active, 
                &:hover {
                    color: $main-text-color;
                }
            }
        }

        .dropdown-menu {
            width: 257px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;

            > li > a {
                padding: 3px 12px;
            }
        }
    }
}

.search-options {
    display: inline-block;
    margin-left: 15px;
    position: relative;
    vertical-align: top;
    min-width: 100px;

    #perform-search {
        margin-top: 2px;
        padding: 5px 0;
    }

    #search-advanced.filter-active {
        font-weight: bold;
        color: $secondary-color;
    }

    .btn-group {
        width: 100%;
    }

    .btn-default {

        &:hover, 
        &:focus, 
        &:active, &.active {
            box-shadow: none;
            background: darken($button-default, 5%);
            border-color: darken($button-default, 15%);
        }
    }
}

.additional-searches {
    padding: 8px;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.udfc {
    right: 0;
}
