// Partial: Layout

html,
body {
    height: 100%;
    background: #f1f1f2;
}

.content {
    position: relative;
    overflow: auto;
}

.autocomplete-group {
    position: relative;

    .twitter-typeahead {
        display: block !important;
    }

    input[type="text"] {
        margin: 0;
        font-size: 1.2rem;

        &::placeholder {
            text-overflow: ellipsis !important;
        }

        &.no-hamburger {
            padding-left: 8px;
        }

    }
    #boundary-typeahead {
        padding-right: 28px;
    }

    a {
        padding: 9px 4px 7px;
        position: absolute;
        top: 0px;
        z-index: 9;
        background: none;
        border: none;
        cursor: pointer;
        color: $well-color;
        font-size: 1.8rem;
        line-height: 1.6rem;
    }
}
