@mixin color-modal($color) {

    ul {
        margin-top: 10px;
    }

    ~ .modal-backdrop {
        background: $dark-secondary;
        opacity: 0.8;
    }

    .modal-content {
        border: 2px solid $color;
    }

    .modal-header {
        background: $color;
        color: $paper;
    }

    .modal-footer {
        background: lighten($color, 25%);
    }
}

.modal.modal-warning {
    @include color-modal(#f0ad4e);
}

.modal.modal-danger {
    @include color-modal(#df4425);
}

.modal.modal-primary {
    @include color-modal($primary-color);
}
