$blue-to-red: #2791c3 10%,
              #5da1ca 10%, #5da1ca 20%,
              #83b2d1 20%, #83b2d1 30%,
              #a8c5d8 30%, #a8c5d8 40%,
              #ccdbe0 40%, #ccdbe0 50%,
              #e9d3c1 50%, #e9d3c1 60%,
              #dcad92 60%, #dcad92 70%,
              #d08b6c 70%, #d08b6c 80%,
              #c66e4b 80%, #c66e4b 90%,
              #bd4e2e;

#modeling {
    overflow: hidden;

    .content.map {
        top: 0;
        bottom: 0;
        right: 0;

        .sidebar {
            right: auto;
            left: 0;
            border: none;
            bottom: 0;

            > .panel-group {
                border-radius: 0;
                border: none;
                z-index: 9;

                .panel-heading {
                    border-radius: 0;

                    + .panel-collapse {
                        .panel-body {
                            border: none;
                        }
                    }
                }
            }
            .panel {
                border-radius: 0;

                + .panel {
                    margin: 0;
                }

                div.slider {
                    // Fix slider width defaulting to 100px when it is
                    // rendered in a hidden container.
                    width: 100% !important;
                }
            }
        }
        .map {
            right: 0;
            left: 350px;

            .options {
                position: absolute;
                top: 16px;
                right: 70px;
                z-index: 1000;

                &:hover, &:active {
                    .options-toggle {
                        border-radius: 6px 6px 0 0;
                    }
                    .options-content {
                        display: block;
                        border-radius: 6px 0 6px 6px;
                    }
                }

                .options-toggle {
                    background: white;
                    padding: 7px 12px 8px;
                    width: auto;
                    display: inline-block;
                    position: absolute;
                    font-size: 1.4rem;
                    right: 0;
                    font-weight: 700;
                    border-radius: 6px;
                    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
                }
                .options-content {
                    background: white;
                    width: 260px;
                    padding: 20px 20px 15px;
                    position: absolute;
                    top: 32px;
                    right: 0;
                    border-radius: 6px;
                    display: none;
                    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);

                    label {
                        clear: both;
                        display: block;
                        text-align: center;
                        margin: 0;
                    }
                    input.slider {
                        display: none;
                    }
                    div.slider {
                        width: 100% !important;
                    }
                    div.slider-handle {
                        width: 18px;
                        height: 18px;
                        opacity: 1;
                        margin-top: -4px;
                        border: 2px solid white;
                    }
                    small {
                        font-size: 1.1rem;
                        font-weight: 700;
                        color: $subtext-color;
                        margin: 0;
                    }
                }
            }
        }
    }

    .color-ramp {
        width: 100%;
        height: 20px;
        display: inline-block;

        &.blue-to-red {
            background: linear-gradient(90deg, $blue-to-red);
        }
    }

    .leaflet-loading-control {
        background: #fff;
        padding: 5px 10px;
        font-size: 12pt;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
        border-radius: 4px;

        img {
            margin-right: 4px;
            margin-bottom: 4px;
        }
    }

    .leaflet-legend-control {
        min-width: 300px;
        margin-bottom: 40px;
        padding: 10px;
        background: #fff;
        font-size: 8pt;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
        border-radius: 4px;

        h5 {
            font-size: larger;
            font-weight: bold;
            margin-bottom: 0;
        }

        .legend-label {
            white-space: nowrap;
        }
    }
}

#sidebar-prioritization {
    @include checkboxes;

    background: #f3f3f3;

    .panel {
        position: relative;
    }

    .panel-title a {
        font-size: 1.9rem;
        font-weight: 500;
        position: relative;
        line-height: 1.3;

        &:after {
            content: '\e970';
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
            position: absolute;
            right: 15px;
            top: 20px;
        }

        &.collapsed {
            opacity: .8;
            &:after {
                content: '\e972';
            }
        }
    }

    .layer-group {
        .panel-heading {
            padding: 15px 40px 15px 15px;
            background: $light-gray-color;
            border-bottom: 1px solid darken($light-gray-color, 10%);
            font-size: 1.6rem;
            font-weight: 700;
            position: relative;
            box-shadow: 0 4px 0 0 rgba(0, 0, 0, .2);

            input.slider {
                display: none;
            }

            a {
                box-shadow: none;
                background: transparent;
                color: $main-text-color;
                padding: 0 0 10px;
                position: relative;
                font-size: 1.4rem;
                font-weight: 700;

                &:after {
                    font-size: 1.9rem;
                    right: -25px;
                    top: 15px;
                }

                &.collapsed {
                    opacity: .8;
                }
            }
        }
    }

    .presets {
        padding: 15px;
        border-bottom: 2px solid #ddd;
        background: #f8f8f8;

        h4 {
            display: inline;
            font-weight: 700;
            font-size: 1.4rem;
            color: $primary-color;
            padding-right: 3px;
        }

        .presets-dropdown {
            display: inline;

            .dropdown-toggle {
                width: 75%;
                text-align: left;

                .caret {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -1px;
                }
            }
        }
    }

    .layer {
        padding: 15px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ddd;
        background: #f8f8f8;

        &:last-child {
            border-bottom: none;
        }

        h4 {
            font-weight: 700;
            margin: 0;
            font-size: 1.4rem;
            color: $main-text-color;
        }
        .layer-controls {
            display: none;
            margin-top: 5px;
        }
        .layer-controls-inner {
            display: flex;
            flex-direction: row;
        }
    }

    .btn {
        background: #fff;
    }

    .polarity-dropdown,
    .weight-dropdown {
        display: inline-block;

        .dropdown-toggle {
            width: 100%;
            text-align: left;
        }
        .dropdown-label {
            display: inline-block;
            width: 100%;
            font-size: 10pt;
            text-align: left;
            margin-right: -3px;  // Fix caret position
        }

        .dropdown-menu > li > a {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .weight-dropdown {
        flex: 3;
        margin-right: 6px;
    }

    .polarity-dropdown {
        flex: 2;

        .dropdown-label {
            color: #fff;
        }
        .dropdown-label-left {
            margin-left: 5px;
        }
        .dropdown-label-right {
            margin-right: 5px;
            float: right;
        }
        .dropdown-menu .color-ramp {
            .dropdown-label-left {
                float: left;
            }
            .dropdown-label-left,
            .dropdown-label-right {
                margin-top: -20px;
            }
        }
        .dropdown-menu a {
            width: 240px;
            padding-top: 25px;
        }
    }
}

#masks {
    @include checkboxes;

    .mask-header {
        padding: 10px 15px;
        background: $light-gray-color;
        border-top: 1px solid darken($light-gray-color, 10%);
        border-bottom: 1px solid darken($light-gray-color, 10%);
        font-size: 1.6rem;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, .25);
        position: relative;
        z-index: 1;

        &:first-of-type {
            border-top: none;
        }
        & + .mask-row {
            border-top: none;
        }
        &:after {
            content: '\e970';
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
            position: absolute;
            right: 15px;
            top: 12px;
        }
        &.collapsed {
            box-shadow: none;
            &:after {
                content: '\e972';
            }
        }
    }
    .mask-row {
        padding: 10px 15px 9px;
        border-top: 1px solid $light-gray-color;
        position: relative;

        &:hover {
            background: lighten($light-gray-color, 2%);
        }

        label {
            font-weight: 400;
            font-size: 1.4rem;
        }
    }

    #boundary-masks {
        .mask-chooser {
            padding: 18px 14px 16px;
        }

        label {
            display: block;
            margin-top: -2px;
            font-size: 1.2rem;
        }

        .dropdown-menu {
            width: 257px;
            border-radius: 3px;

            > li > a {
                padding: 3px 12px;
            }
        }

        #chosen-masks {
            .mask-name {
                font-size: 1.3rem;
                font-weight: 600;
                color: $main-text-color;
            }
            .mask-category {
                font-size: 1.1rem;
            }
            .remove-mask {
                position: absolute;
                cursor: pointer;
                font-size: 2rem;
                right: 18px;
                top: 14px;
                opacity: .5;
            }
        }
    }
}
