// Partial: Advanced Search

.subhead {
    position: absolute;
    z-index: 99;
    width: 100%;
    border-top: 1px solid lighten($primary-color, 15%);
    transition: all 400ms cubic-bezier(0, 0, 0.1, 1);

    @media #{$screen-xs} {
        border-top: none;
        position: relative;

        > .advanced-search > .dropdown {
            position: absolute;
            bottom: 0;
            height: 300px;
        }
        > .advanced-search .dropdown {
            width: 100%;

            .dropdown-menu {
                display: block;
                position: static;
                width: 100%;
                max-height: initial;
                min-width: 0;
            }
            .dropdown-toggle {
                &:hover, &:focus, &:active, .active {
                    background: none !important;
                    cursor: initial;
                }
            }
        }
    }
    &.expanded {
        > .advanced-search {
            transform: translate(0);
            box-shadow: 0 6px 0 rgba(0,0,0,.15);

            + .stats-bar {
                transform: translate(0,-101%);
            }
            @media #{$screen-xs} {
                padding-top: 150px;
                padding-bottom: 300px;
            }
            @media #{$screen-gtxs} {
                transition-delay: .1s;
            }
        }
    }

    > .advanced-search {
        background: lighten($primary-color, 15%);
        position: absolute;
        transform: translate(0,-110%);
        width: 100%;
        z-index: 11;

        @media #{$screen-xs} {
            span.caret {
                display: none;
            }
        }
        @media #{$screen-gtxs} {
            transition: .2s ease-in-out transform;
        }
        .search-block-wrapper {
            display: none;
        }
        .dropdown {
            display: inline-block;
        }

        > .dropdown:first-child {
            border-right: 1px solid $primary-color;
        }
        .search-right {
            @media #{$screen-gtxs} {
                float: right;
            }
        }

        // Dropdown Toggles
        .dropdown-toggle {
            background: none;
            border: none;
            border-radius: 0;
            color: lighten($primary-color, 45%);
            padding: 18px 12px;

            &:hover, &.hover,
            &:focus, &.focus,
            &:active, &.active {
                background: $primary-color;
                color: #fff;
            }
        }

        .open > .dropdown-toggle {
            background: $primary-color;
            color: #fff;

            &:hover, &.hover,
            &:focus, &.focus,
            &:active, &.active {
                background: $primary-color;
                color: #fff;
            }
        }

        // Dropdown Popups
        .dropdown-menu {
            border-radius: 0;
            margin: 0;
            border: none;
            padding: 15px;
            background: $primary-color;
            color: lighten($primary-color, 45%);
            min-width: 300px;
            max-height: 350px;
            overflow: auto;
        }

        .field-group {
            border-bottom: none;
        }

        // Labels
        label {
            color: lighten($primary-color, 45%);
            font-size: 1.4rem;
        }

        // Search Range
        .search-range {
            margin-bottom: 15px;
            clear: both;

            > label {
                display: block;
            }

            > .input-group,
            > input {
                float: left;
                width: 35%;

                @media #{$screen-xs} {
                    width: 45%;
                }
            }

            > span {
                float: left;
                margin: 6px 0;
                font-size: 1.3rem;
                width: 30%;
                text-align: center;

                @media #{$screen-xs} {
                    width: 10%;
                }
            }
        }

        .field-group + .field-group {
            padding-top: 10px;
            border-top: 1px solid lighten($primary-color, 15%);
        }

        .form-group:last-child {
            margin-bottom: 0;
        }

        .search-fields-title {
            display: block;
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .dropdown-toggle.filter-active {
            font-weight: bold;
            color: #fff;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 6px;
                height: 6px;
                background: $secondary-color;
                border-radius: 100%;
                left: 3px;
                top: 28px;
                transform: translate(0, -50%);
            }
        }

        form {
            margin: 0 0 10px;
        }

        @include checkboxes;

        input[type="checkbox"] + label {
            color: lighten($primary-color, 45%);
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    // Tree Care Styling
    .udfc-search {
        min-width: 940px;

        @media #{$screen-sm} {
            min-width: 600px;
        }

        @media #{$screen-xs} {
            min-width: auto;

            .udfc-label, .udfc-label select {
                width: 100% !important;
                text-align: center;
                margin: 0 !important;
            }
            .udfc-selector {
                width: calc(75% - 14px) !important;
                text-align: center;
                margin: 0 !important;
                margin-left: 10px !important;
            }
            span:not(:first-child) {
                padding-top: 15px;
            }
            .udfc-date-label {
                width: 25%;
                text-align: right;
                padding-bottom: 10px;
            }
        }

        > span,
        > label,
        > input {
            display: inline-block;
            float: none;
            vertical-align: middle;
        }

        span {
            color: lighten($primary-color, 45%);
        }

        .udfc-label {
            position: relative;
            overflow: hidden;
            width: 160px;

            &:after {
                content: '\25BC';
                font-size: 1rem;
                margin-left: 12px;
                position: absolute;
                opacity: 0.5;
                pointer-events: none;
                color: white;
                right: 13px;
                top: 7px;
            }
            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }
        select,
        input.udfc-selector {
            background: $primary-color;
            padding: 8px 33px 3px 15px;
            font-weight: 500;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            border-bottom: 1px dashed lighten($primary-color, 45%);
            outline: none;
            color: white;
            font-size: 1.4rem;
            border-radius: 0;
            cursor: pointer;
            margin: 0 5px;

            &:hover {
                background: darken($primary-color, 5%);
                border-color: #fff;
            }

            &[disabled] {
                opacity: .5;
                cursor: default;

                &:hover {
                    background: $primary-color;
                    border-color: 1px dashed lighten($primary-color, 45%);
                }
            }
        }

        input.udfc-selector {
            width: 110px;
        }

        #udfc-search-date-from, #udfc-search-date-to {
            padding: 8px 15px 3px;
        }

        select {
            width: 100%;

            option {
                color: black;
                background: white;
            }
        }

        select::-ms-expand {
            display: none;
        }
    }

    > .stats-bar {
        padding: 10px 15px 10px;
        border-left: 8px solid $primary-color;
        font-size: 1.6rem;
        font-weight: 300;
        background: lighten($primary-color, 45%);
        height: 42px;
        position: relative;
        z-index: 9;
        color: darken($primary-color, 25%);
        width: 100%;
        box-shadow: 0 6px 0 rgba(0,0,0,.15);

        @media #{$screen-xs} {
            background: #FFF;
            border-left:none;
            padding: 0px 10px 0 13px;
            height: auto;
            font-size: 1.2rem;
        }
        @media #{$screen-gtxs} {
            transition: .2s ease-in-out transform;
        }
        span {
            font-weight: bold;
        }
        .stats-list {
            display: block;
            width: 100%;
            padding: 0px;

            .exportBtn {
                margin-left: 10px;
                margin-top: -12px;
                width: 135px;
                display: inline-block;
            }
            #tree-and-planting-site-counts {
                height: 22px;
                // 305px is approximately the size of the export button + the add tree button group + margins
                // as determined from trial-and-error.
                max-width: calc(100% - 305px);
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @media #{$screen-xs} {
                    max-width: 100%;
                }
            }
        }
        .addBtn {
            display: inline;
            float: right;
            margin-top: -33px;
        }
    }
}

.field-group.disabled,
.search-field-wrapper.disabled {
    label, input, select, textarea, span {
        pointer-events: none;
        opacity: 0.5;
    }
    &.field-group {
        .search-fields-title {
            display: none;
        }
    }
    .field-disabled-message {
        margin-top: -15px;
        &.field-checkbox-message {
            margin-left: 28px;
        }
    }
}

.field-group-message {
    display: none;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 1.3rem;
    min-width: 300px;
}

.search-block-wrapper .field-group-message {
    color: #799397;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: -17px;
}

#missing-data,
#display-filters {
    span {
        display: block;
    }
}

#search-fields-Tree {
    @media #{$screen-gtxs} {
        min-width: 340px;
    }
}
