{% extends "manage_treemap/dashboard_base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load instance_config %}

{% block content %}
    <div id="roles-pane" class="tab-content management-content">
        <div class="page-header">
            <div class="page-header-title">
                <h1>{% trans "Dashboard" %}</h1>
            </div>
        </div>

        <div class="content">
            <div id="group-info">
                {% include "manage_treemap/partials/reports.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block endbody %}
    <!-- this is where a modal would go for things like parameters -->
{% endblock endbody %}

{% block scripts %}
    {% render_bundle 'js/manage_treemap/reports' %}
{% endblock scripts %}
