// Partial: Admin
#management,.management-container {

    .management-container {
        display: block;
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background-color: $body-management!important;

        @media(min-width: 768px) {
            top: 44px;
        }

        .management-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 40px;
            background-color: $dark-primary;
            overflow: hidden;
            width: 250px;
            transition: width 500ms ease-in-out;

            td:first-child {
                min-width: 47px;
            }
            td:not(:first-child) {
                width: 200px;
                transition: width 500ms ease-in-out;
            }

            .full-section {
                overflow: hidden;
            }
            .table-scroll {
                overflow-y: auto;
                overflow-x: hidden;
                height: calc(100% - 49px);
            }

            .map-switcher {
                background-color: $secondary-color;
                height: 49px;
                width: 100%;

                .brand-icon-container {
                    width: 47px;

                    .brand-icon {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        padding: 4px;
                        margin-left: 6px;
                        background-color: $primary-color;

                        i {
                            color: $paper;
                        }
                    }
                }

                td:not(:first-child) {
                    max-width: 200px;
                }
                .brand {
                    color: $paper;
                    padding: .5em .5em .5em 4px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .nav.nav-list {
                width: 100%;

                .label-notification {
                    background-color: $secondary-color;
                    border-radius: 9px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: -3px;
                    padding: .3em .6em;

                    &:empty {
                        display: none;
                    }
                    &.role-label {
                        background-color: #D8C161;
                    }
                }

                ul {
                    padding-left: 16px;


                    li.active > a {
                        color: $paper;
                    }

                    li > a {
                        padding: 10px 0 0 0;
                        white-space: nowrap;

                        &:hover {
                            background-color: transparent;
                            color: $paper;
                        }

                        .label-notification {
                            position: static;
                        }
                    }
                    li:last-child > a {
                        padding-bottom: 10px;
                    }
                }

                tr {
                    padding: 0;
                    display: block;
                    width: 100%;
                    position: relative;

                    &:hover {
                        background-color: rgba(255,255,255,.1);
                        i.link-icon, a.section-title {
                            color: $paper;
                        }
                    }

                    &.active {
                        i.link-icon, a.section-title {
                            color: $paper;
                        }
                    }

                    td:first-child {
                        vertical-align: top;
                        padding: 10px 0;
                    }

                    .section-title {
                        cursor: pointer;
                        width: 100%;
                        display: block;
                        padding: 12px 0;
                        white-space: nowrap;

                        i {
                            position: absolute;
                            right: 0;
                        }
                    }

                    a {
                        font-weight: 400;
                        font-size: 1.3rem;
                        padding: 12px 0;
                        color: rgba(255,255,255,.6);
                    }

                    i {
                        color: rgba(255,255,255,.5);
                        padding: 0 12px;
                    }

                    .label-notification {
                        position: absolute;
                        left: 18px;
                        top: 28px;
                    }
                }
            }
        }

        .management-content {
            position: absolute;
            top: 0;
            left: 250px;
            bottom: 0;
            right: 0;
            transition: left 500ms ease-in-out;

            .page-header {
                background-color: $dark-secondary;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 50px;
                margin: 0;
                color: $paper;
                line-height: 50px;
                border-bottom-color: #83848B;

                .toggle {
                    cursor: pointer;
                }

                h1 {
                    display: inline-block;
                    margin: 0 auto;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 100;
                }

                .spinner {
                    background: #fff;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }

            .content {
                position: absolute;
                top: 50px;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;
                padding: 16px 16px 0;
                margin-bottom: 40px;

                &:after {
                    content: '';
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 16px;
                }

                @media (max-width: 768px) {
                    top: 105px;
                }
            }
        }

        #embed {
            $native-width: 900px;
            .hidden {
                display: none;
            }
            .frame-size-choice {
                input[type="number"] {
                    display: inline-block;
                    width: 80px;
                }
                .width-height-group {
                    display: none;
                }
                input[type="radio"] + span {
                    line-height: 3rem;
                }
                #frame-size-custom:checked {
                    + span {
                        line-height: auto;
                        + .width-height-group {
                            display: inline;
                        }
                    }
                }
            }
            .reduced {
                font-size: 1.1rem;
                padding-left: .5rem;
                padding-right: .5rem;
            }
            .alert {
                width: $native-width;
            }
            #snippet {
                // Add 2px to account for the iframe border,
                // given that the iframe uses content-box.
                width: $native-width + 2px;
            }
            #iframe-container {
                margin-top: 20px;
                height: 0;
                width: 0;
                iframe {
                    border: $well-color solid 1px;
                    // Use content-box because we can't assume
                    // the customer's website will style the
                    // border or padding the same way.
                    box-sizing: content-box;
                }
            }
            #preview {
                &:focus {
                    border: 0 none;
                    outline: 0;
                }
            }
        }
    }

    &.slim {
        vertical-align: top;

        .tab-list, .brand-icon {
            width: 25px;

            .full-section:not(.brand) {
                height: 22px;
                width: 0%;
                transition: width 500ms ease-in-out;
            }
        }
        .management-content {
            left: 50px;
            transition: left 500ms ease-in-out;
        }

        .management-sidebar {
            width: 50px;
            transition: width 500ms ease-in-out;
        }
    }

    .role-table-fixed {
        width: 25%;
        float: left;
        clear: left;
        border-right: 1px solid #EEE;
        margin-bottom: 10px;

        td {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .role-table {
        table-layout: fixed;
        tr {

            &.active,
            &.active:hover {
                background-color: $warning-color;
                background-color: rgba($warning-color, .75);

                > td {
                    background: none;
                }
            }

            th {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .role-table-scroll {
        width: 75%;
        float: left;
        overflow-x: scroll;
        margin-bottom: 10px;

        .role-table {
            min-width: 100%;
            width: auto !important;
        }
        th {
            min-width: 200px;
            max-width: 200px;
        }
        .codename-radio {
            font-weight: normal;
            text-transform: none;
        }
        .boolean-radio {
            margin: 0;
            input[type="radio"] {
                margin: 0;
            }
        }
    }

    .admin-table {
        th {
            background: $table-gray;
            text-transform: uppercase;
            padding: 20px 10px 20px 15px;
            font-size: 1.3rem;

            > a {
                color: darken($primary-color, 5%);
                text-decoration: none;

                &:after {
                    content: '\e9e8';
                    font-family: "fontello";
                    font-style: normal;
                    font-weight: normal;
                    display: inline-block;
                    text-decoration: inherit;
                    width: 1em;
                    margin-right: .2em;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1em;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }

            &.disabled > a {
                opacity: 0.5;
            }

            .dropdown-menu {
                text-transform: none;
            }
        }

        tr {
            background-color: $paper;

            &:hover {
                background-color: $light-gray-color;
            }
        }

        td {
            padding: 12px 10px 12px 15px;
            vertical-align: middle;
        }

        select {
            margin: -2px 0;
        }

        .field-view {
            color: inherit;
            margin: inherit;
            top: inherit;
        }
    }

    .messages,
    .text-danger {
        &:empty {
            display: none !important;
        }

        > ul,
        > p {
            margin: 0;
        }
    }

    #photo-review-container {
        .photo-review-item {
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

            .thumbnail {
                display: inline-block;
                margin-bottom: 0;
                width: 150px;
                height: 150px;
                position: relative;

                img {
                    width: auto;
                    height: auto;
                    max-width: 140px;
                    max-height: 140px;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }

    .alert{
        padding: 15px;
        .role-fields-alert {
            line-height: 40px;
        }
    }

    .field-view {
        margin-bottom: 20px;
        top: 4px;
        position: relative;
        color: $subtext-color;
    }

    #payment-form{
        select{
            margin-left: 1px;
        }
    }

    .well {
        .well-header {
            margin: 0 0 20px;
            height: auto;
            padding-bottom: 9px;
            border-bottom: 1px solid #DDD;
        }
        h4 {
            color: #333;
            font-size: 1.75rem;
            font-weight: 500;
            margin: 0 0 10px 0;

            > .btn {
                margin-left: 6px;
            }
        }
        .choice-title {
            label {
                margin-top: 2px;
            }
        }
        .choice-options {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #DDD;
        }
    }

    label:not(.checkbox) {
        color: $navbar-color;
        font-weight: 600;
        text-transform: uppercase;
    }

    .management-header {
        color: darken($secondary-color, 5%);
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 30px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .form-horizontal {

        > .form-group:last-of-type {
            margin-bottom: 0;
        }
    }

    .management-nav {
        margin: -16px;
        margin-bottom: 16px;
        padding-left: 16px;
        padding-top: 4px;
        background-color: #65656d;

        li > a {
            color: #fff;
            border-bottom: none;
        }
        li.active > a, li:hover > a {
            color: #555;
            background-color: #f1f4f9;
        }
    }

    .management-toggle {
        background-color: #64656D;
        margin: -16px;
        margin-bottom: 16px;

        .management-toggle-section {
            padding: 16px;

            .close {
                color: #FFF;
            }
            .management-search {
                border-bottom: solid 1px white;
                width: calc(100% - 30px);
                position: relative;

                input {
                    border: none;
                    background: none;
                    box-shadow: none;
                    color: #FFF;
                }
                button {
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    color: #ddd;
                    font-size: 14px;
                    background: none;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.management {
    min-height: 650px;

    .table {
        select {
            margin: 0;
        }
    }

    #instances {
        table {
            > tbody {
                > tr {
                    > td:first-child, th:first-child {
                        max-width: 140px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                    }
                }
            }
        }
    }

    input {
        width: 50%;
        margin-bottom: 8px;
    }

    textarea {
        width: 80%;
        height: 20em;
    }
}

.management-content .page-header {

    @media (max-width: 768px) {
        height: auto;
        z-index: 1;
        padding-bottom: 0;
    }

    .page-header-title {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;

        @media (max-width: 768px) {
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            float: left;
            position: relative;
        }
    }

    .page-header-toggles {
        float: left;
        left: 10px;
        z-index: 1;
        position: relative;

        @media (max-width: 768px) {
            left: 0;
            padding: 0 10px;
        }
    }

    .page-header-actions {
        position: relative;
        right: 10px;
        float: right;
        z-index: 1;

        @media (max-width: 768px) {
            float: none;
            right: 0;
            padding-left: 10px;
            padding-right: 10px;
            clear: both;
            background: #fff;
        }
    }
}

// .field-group and .field-row-container are not nested under anything, because they are
// cloned by dragula when dragging and would lose their styling otherwise
.field-group {
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC;

    > label {
        color: $secondary-color;
        font-size: 1.4rem;
    }

    &.edit {
        border: 1px dashed #DDD;
        background-color: $paper;

        .field-row {
            border: 1px dashed #DDD;
        }
        .enabled-fields .field-row {
            background-color: #F7F3DF;
        }
        .field-list-wrapper:not(:last-child) {
            border-bottom: 1px solid #ccc;
            margin-bottom: 8px;
        }
    }
    &:not(.edit) {
        .field-list-wrapper:not(:first-child) {
            margin-top: -0.5rem;
        }
    }
    .group-header {
        background-color: #CCC;
        padding: 3px;

        .group-controls {
            display: inline-block;
            border-right: 1px solid #BBB;
            margin-right: 10px;
            padding: 5px;
        }
    }
    .disabled-fields .field-controls {
        display: none !important;
    }
    .handle {
        cursor: move;
    }
    .field-list-wrapper {
        margin: 0 0.5rem;
    }
}
.field-controls,.group-controls {
    i {
        opacity: 0.8;
        font-size: 1.2rem;

        &:hover {
            opacity: 1;
        }
    }
}

.field-row {
    background-color: $paper;
    border-radius: 5px;
    color: #424242;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0;

    .field-controls {
        display: inline-block;
    }
    input {
        width: auto;
    }

    label.checkbox {
        margin: 0;
    }
}

.field-row-container {
    list-style-type: none;
    clear: right;
}

.view-module-icon {
    width: 40px;
    margin-right: 15px;
}

.active-modules .field-row:not(.active-module) {
    opacity: 0.5;
    .module-added {
        display: none;
    }
}

.module-added {
    display: inline-block;
    background-color: #ACD043;
    color: white;
    padding: 5px 10px;
    width: 90px;
    margin-top: 5px;
    text-align: center;
    border-radius: 4px;
}

// In order to fix the spacing issue on billing plan modal
#modal-preview {

    label + p {
        margin-top: -3px;
    }
}

#add-udf-panel {
    .col-xs-12,.col-xs-6,.col-xs-0 {
        transition: width 0.5s ease, margin 0.5s ease, padding 0.5s ease;
    }
    #udf-create-choices {
        overflow: hidden;
        &.col-xs-0 {
            width: 0;
        }
        & > * {
            min-width: 200px;
        }
    }
}

.choice-item {
    position: relative;

    input {
        opacity: 0.9;
        &:focus {
            box-shadow: none;
            opacity: 1 !important;
        }
        &.error {
            background-color: #F2D5C5;
            border: none;
        }
    }
    &:last-child input {
        opacity: 0.5;
    }
    button {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
        color: #DB6161;
        font-size: 14px;
        background: none;
        border: none;

        &:focus {
            outline: none;
        }
    }
    &:not(:last-child) button {
        display: block;
    }
    div.error {
        color: #DB6161;
        padding-top: 7px;
        font-style: italic;
        font-weight: 600;
        font-size: 13px;
    }
}

.choice-container {
    background-color: #f8f3df;
    padding: 12px;
    border-radius: 4px;
    min-height: 195px;
    position: relative;

    .choice-item {
        input {
            border: 1px dashed #ccc;
            box-shadow: none;
        }
        margin-bottom: 4px;
        // Error messagees normally hidden
        div.error {
            display: none;
        }
        &.empty-error {
            [data-item="empty"] {
                display: block;
            }
        }
        &.whitespace-error {
            [data-item="whitespace"] {
                display: block;
            }
        }
        &.blank-error {
            [data-item="blank"] {
                display: block;
            }
        }
        &.no-double-quotes-error {
            [data-item="no-double-quotes"] {
                display: block;
            }
        }
        &.reused-error {
            [data-item="reused"] {
                display: block;
            }
            // Only display one message at a time
            [data-item="blank"] {
                display: none;
            }
        }
        &.duplicate-error {
            [data-item="duplicate"] {
                display: block;
            }
            // Only display one message at a time
            [data-item="reused"], [data-item="blank"] {
                display: none;
            }
        }
    }
    &:after {
        position: absolute;
        left: 0;
        top: 159px;
        margin-left: -10px;
        content: '';
        width: 0;
        height: 0;
        border-right: solid 10px #f8f3df;
        border-top: solid 10px transparent;
        border-bottom: solid 10px transparent;
    }
}

// When editing a choice custom field,
// hide the choice trash-can button on the sole remaining pre-existing choice.
.udf-choices .choice-item:first-child:nth-last-child(2) [data-action="delete"] {
    display: none;
}

// Requires all this specificity to override base style
#management .admin-table tr[data-udf] {
    td {
        vertical-align: top;
    }
    .choice-udf-choices {
        padding-left: 0;
        margin: 0;
        li {
            display: block;
        }
        a.show-all {
            font-weight: 400;
            color: darken($secondary-color, 5%);
            &:nth-child(-n+4) {
                display: none;
            }
        }
        &.less {
            li.less-more:nth-child(n+4) {
                display: none;
            }
            .show-all .more {
                display: none;
            }
        }
        &.more {
            .show-all .less {
                display: none;
            }
        }
    }
}

#save-udf-panel ul {
    padding-left: 0;
    margin: 0;
    li {
        display: block;
    }
}
