// Partial: Static Content Pages

.static-page {
  font-size: 1.4rem;
  line-height: 1.8rem;

  ul.static-menu {
    float: right;
    margin-left: 30px;
    width: 25%;
    padding: 10px 20px 20px;
    background: $light-gray-color;
    border: 1px solid ($light-gray-color, 10%);

    li {
      margin-left: 20px;
      line-height: 2.1rem;
      font-size: 1.3rem;

      &:hover {
        text-decoration: underline;
      }
      &.title {
        list-style: none;
        margin-top: 10px;

        a {
          font-weight: 700;
        }
      }

      a {
        font-weight: 400;
        font-size: 1.3rem;
      }
    }
  }
  dt {
    float: left;
    margin-right: 20px;
    font-weight: bold;
  }
  dd {
    margin: 0 0 20px 30px;
  }
}
