// Partials: Lightbox/Modals

.lightbox {
    height: 598px;

    .close {
        top: 4px;
        right: 8px;
        position: absolute;
        z-index: 1060;
    }

    .lightbox-caption {
        padding: 15px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid $light-gray-color;
        text-align: center;
        font-size: 14px;
        line-height: 18px;

        .btn-rotate {
            margin-right: 5px;
            padding: 4px 7px 1px 4px;
        }
    }

    img {
      vertical-align: bottom;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
}
