#modeling {
    overflow: hidden;

    .header {
        height: 135px;
        border-bottom: 1px solid #ddd;
        padding-top: 55px;

        .logo {
            img {
                max-height: 68px;
            }
        }

        .toolbar-wrapper {
            top: 50px;

            @media (max-width: 991px) {
                left: initial;
                width: 60%;

                #toolbar {
                    width: 100%;
                }
            }
        }

        .search-wrapper {
            top: 55px;

            @media (max-width: 991px) {
                left: 62%;
            }
        }

        .action-block {
            height: 78px;
            padding: 10px 14px;
            border-left: #ddd;
            border-left-width: 1px;
            border-left-style: solid;
            margin-left: 10px;

            .visibility {
                font-size: 1.0rem;
                font-weight: bold;
                padding: 10px
            }

            .actions {
                margin: 10px 0 0 0;

                span {
                    padding-right: 7px;
                }
            }

            .private {
                color: lighten($main-text-color, 70%);
            }

            #autosave-message {
                font-size: 1.2rem;
                color: lighten($main-text-color, 70%);
            }

            @media (max-width: 991px) {
                margin: 0;
                border: none;
                padding-left: 0;
                padding-right: 0;
                border-right: 1px solid #ddd;
            }
        }

        .search-block-wrapper {
            margin-top: -5px;

            .search-block {
                height: 78px;
                padding: 10px 4px;

                &.search-block-large {
                    width: 325px;
                }

                h4 {
                    font-size: 2.1rem;
                    margin: 4px 0 6px;

                    i {
                        font-size: 1.6rem;
                        margin-left: 5px;
                        outline: none;
                    }
                }
                h6 {
                    font-style: italic;
                    font-weight: 400;
                    color: $subtext-color;
                    margin: 0;

                    > a {
                        font-weight: 700;
                        color: $subtext-color;
                    }
                }
                label {
                    margin-top: -2px;
                }
            }

            .btn {
                margin-top: 30px;
                padding: 6px 0 6px 9px;
                color: $subtext-color;
            }

            @media (max-width: 991px) {
                width: 100%;

                .search-block {
                    width: 70%;
                }
            }
        }
    }

    #view-switcher {
        padding-top: 4px;
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0.15);
        position: relative;

        .btn {
            border: none;
            color: $subtext-color;
            font-weight: 600;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &.active {
                color: $primary-color;
                background-color: #fff;
                box-shadow: 0 0 0 1px #ddd;
            }

            &:focus {
                outline: none;
            }
        }

        #scenario-dropdown {
            position: absolute;
            z-index: 998;
            top: 0;
            left: 0;
            border-right: 1px solid #ddd;

            > .btn {
                padding: 9px 13px;
                border-radius: 0;
                border-left: 2px solid #ddd;
                border-left: 2px solid #ddd;
                height: 37px; // equal to height of scenario toolbar

                i {
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .scenario-button-container {
            padding-left: 50px;
            position: relative;
            white-space: nowrap;
            margin-top: -2px;
            padding-bottom: 1px;

            .prioritization-link {
                position: absolute;
                right: 2px;
                top: 0;
            }
        }

        #scenario-buttons {
            display: inline-block;

            > .btn-group.js-scenario {
                display: inline-block;
                border: 1px solid #ddd;
                margin-right: 5px;

                .btn {
                    background: transparent;
                }

                &.active .btn {
                    color: $primary-color;
                    background-color: #fff;
                }

                .dropdown-toggle {
                    border-left: 1px solid #ddd;
                }
            }
        }
    }

    .content.map {
        top: 173px;
        bottom: 0;
        right: 0;

        .sidebar {
            right: auto;
            left: 0;
            border: none;
            bottom: 0;

            > .panel-group {
                border-radius: 0;
                border: none;
                z-index: 9;

                .panel-heading {
                    border-radius: 0;

                    + .panel-collapse {
                        .panel-body {
                            border: none;
                        }
                    }
                }
            }
            .panel {
                border-radius: 0;

                + .panel {
                    margin: 0;
                }
            }
            .scenario-trees-total {
                position: fixed;
                bottom: 37px;
                right: initial;
                left: 350px;
                background: white;
                padding: 2px 10px;
                font-size: 1.4rem;
                border-radius: 4px;
                box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
                z-index: 10;
                margin: 10px;

                p {
                    color: darken($subtext-color, 10%);
                    margin: 5px;
                    font-weight: 600;
                    font-size: 13px;
                    display: inline-block;

                    > span {
                        color: $primary-color;
                        float: right;
                        margin-left: 5px;
                    }
                }
            }
        }
        .map {
            right: 0;
            left: 350px;
        }
    }

    #tree-mortality-container {
        .col-sm-12 {
            padding: 10px;

            label {
                width: 50%;
                float: left;
                padding-top: 0;
                font-size: 1.2rem;
            }
            .btn,
            .form-group {
                width: 46%;
                float: left;
                margin-left: 4%;
            }
        }
    }

    #mortality-rate-table {
        th, td {
            vertical-align: middle;
        }
    }

    .remove-tree-button {
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #e84f4f;
        color: #e84f4f;
        opacity: 1;
        display: block;
        margin: auto;
        text-align: center;
    }

    #mortality-rate-dropdown .dropdown-menu {
        max-height: 200px;
        overflow: auto;
    }
}

#planDetails {
    .modal-dialog {
        margin: 100px auto 30px;
    }
    .modal-header {
        padding: 15px 20px 0;
        border-bottom: none;

        h4 {
            font-size: 3rem;
            margin-top: 10px;
            text-align: center;
        }
        h5 {
            font-size: 2.1rem;
            margin-top: 10px;
            text-align: left;
        }
    }
    .modal-body {
        padding: 12px 20px;

        p {
            color: $subtext-color;
            font-weight: 700;
            font-size: 1.4rem;
        }
    }
    .modal-footer {
        .btn-link {
            font-weight: 700;
            color: $primary-color;
            background: none;
            border: none;

            &:hover {
                box-shadow: none;
                color: darken($primary-color, 10%);
            }
        }
    }
}

#stale-revision-dialog {
    @include checkboxes;
}

#plan-list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transition: .5s ease transform;

    &.slideUp {
        transform: translate(0, -100%)
    }

    .close {
        position: absolute;
        right: -80px;
        margin-top: -30px;
        opacity: .6;
        background: $main-text-color;
        text-shadow: none;
        color: #fff;
        transition: .2s ease-in-out opacity;
        &:hover {
            opacity: 1;
        }
        @media #{$screen-xs} {
            right: 20px;
            margin-top: -50px;
        }
    }

    .new-plan {
        float: left;
        margin-top: 21px;
        margin-left: 30px;
        background-color: $button-primary;
        border-color: $button-primary;
        color: $paper;
    }

    .plans-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #fff;
        opacity: .75;
        z-index: 1;
    }

    .plans-content {
        display: block;
        width: 80%;
        min-width: 340px;
        margin: 100px auto 30px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        position: relative;
        z-index: 1;
    }

    .plans-header {
        display: block;
        padding: 30px 30px 15px;
        border-bottom: 1px solid darken($light-gray-color, 10%);

        h3 {
            display: inline-block;
        }
    }

    #plan-filters {
        float: right;
        display: inline-block;
        text-align: right;

        .filter-toggle {
            display: inline-block;
            padding: 15px 0 26px;
            margin-top: -10px;
            font-weight: 400;
            transition: .2s ease-in-out color;
            &:first-child {
                margin-right: 15px;
            }
            &:hover {
                color: $button-primary;
            }
        }

        .active {
            color: $button-primary;
            box-shadow: inset 0 -4px 0 0;
        }
    }

    .plans-body {
        padding: 30px 30px 15px;   
        max-height: 45vh;
        overflow: auto;
    }

    table {

        thead {
            font-size: 1.3rem;
            color: lighten($subtext-color, 15%);
            tr th {
                border-bottom: none;
                padding-left: 15px;
            }
            a {
                color: lighten($subtext-color, 15%);
            }
            .ascending, .descending {
                color: $main-text-color;
            }
        }

        tbody {
            tr td {
                padding: 15px;
            }

            a {
                text-decoration: underline;
            }
        }

        p {
            font-size: 1.3rem;
            margin: 5px 0;
        }
    }

    .pagination {
        .active a,
        .active a:hover,
        .active a:focus {
            background-color: $button-primary;
            border-color: $button-primary;
        }
    }
}
