// Partial: Registration Pages

.login-signup-panel {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 0 gray;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.35);
    width: 540px;
    margin: 30px auto 15px;

    @media screen and (max-width: 767px) {
        width: auto;
        margin: 30px 20px 15px;
    }

    p {
        &.margin-top {
            margin-top: 15px;
        }
        &.margin-bottom {
            margin-bottom: 15px;
        }
    }
    legend {
        padding: 0 20px 0 20px;
        font-size: 2.4rem;
        font-weight: 300;
        color: $main-text-color;
        margin: 0 -20px 20px -20px;
        box-sizing: content-box;

        > a {
            font-size: 1.4rem;
            color: $primary-color;
            line-height: 4.4rem;
            width: 100%;
            display: block;

            &:hover {
                color: darken($primary-color, 10%);
            }
        }
        @media screen and (min-width: 766px) {
            padding-bottom: 15px;

            > a {
                float: right;
                width: auto;
            }
        }
    }
    form {
        div.field {
            margin-bottom: 10px;

            > a {
                font-size: 1.4rem;
                color: $primary-color;
            }
            > label {
                &:after {
                    content: '';
                }
            }
            > input {
                clear: both;
                width: 100%;
            }
        }
        div.required {
            > label {
                &:after {
                    content: ' *';
                }
            }
        }
        @media screen and (min-width: 766px) {
            div.field-left {
                display: inline-block;
                width: 49%;
                padding-right: 8px;

                .errorlist {
                    position: absolute;
                }
            }
            div.field-right {
                display: inline-block;
                width: 50%;
                padding-left: 8px;

                .errorlist {
                    position: absolute;
                }
            }
        }
        div.section-header {
            font-size: 1.6rem;
            font-weight: bold;
            margin-top: 15px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 10px;
            padding-bottom: 5px;
            color: $primary-color;
        }
        button.btn {
            margin: 0 auto;
            display: block;
            padding: 10px 26px !important;
        }
    }
}

.have-account {
    font-size: 1.4rem;
}

.signup-option {
    text-align: center;
    vertical-align: middle;
    border: none;
    background-color: $navbar-color;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 63px;

    h3 {
        margin-bottom: 0;
        color: #FFF;
        text-align: left;
        display: inline-block;
        top: 3px;
        position: relative;
    }
    a {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.profile-photo-upload {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 3px;
}

label[for="id_allow_email_contact"] {
    width: 85%;
    margin-bottom: 15px;
}
label[for="id_make_info_public"] {
    width: 85%;
    margin: 15px 0 5px;
}

#id_allow_email_contact, #id_make_info_public {
    float: left;
    width: 15px;
    clear: none;
    margin: 2px 10px 0 0;
}
#id_make_info_public {
    margin-top: 17px;
}

@media (max-width: 767px) {
    .login-signup-panel {
        width: auto;
        margin: 30px 20px 15px;
    }
}
