#sidebar-scenarios {
    background: #f3f3f3;
    padding-bottom: 65px;

    > .sidebar-inner {

        > h3 {
            padding: 18px 16px 16px;
            margin: 0;
            font-size: 1.9rem;
            font-weight: 500;
            background: $secondary-color;
            color: white;
            position: relative;
            cursor: pointer;
            text-transform: capitalize;

            &:before {
                content: counter(steps) ". ";
                counter-increment: steps;
                font-size: 1.6rem;
                margin-right: 5px;
            }

            &:after {
                content: '\e970';
                font-family: "fontello";
                font-style: normal;
                font-weight: normal;
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                margin-right: .2em;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                line-height: 1em;
                margin-left: .2em;
                position: absolute;
                right: 15px;
                top: 20px;
            }

            &.collapsed {
                opacity: .8;
                &:after {
                    content: '\e972';
                }
            }
        }

        #distribution-land-use {
            .row.controls {
                text-align: right;

                .reset {
                    font-size: 1.2rem;
                    text-decoration: underline;
                }
            }
        }

        @include checkboxes;
    }

    .sidebar-container {
        padding: 0 20px;
        background: #fff;

        .content-header {
            margin: 0 -20px;
            background: $light-gray-color;
            color: darken($subtext-color, 10%);
            padding: 8px 16px;
            font-size: 1.2rem;
            font-weight: 700;

            a {
                border-bottom: 1px dotted;
            }
        }

        .content-empty {
            padding: 30px 0 30px;
            margin: 0;

            a {
                text-decoration: underline;
                font-weight: bold;
                font-style: italic;
            }
        }

        .content-row {
            border-bottom: 1px solid $light-gray-color;
            margin: 0 -20px;
            padding: 15px 20px 25px;

            > .row {
                margin-left: -10px;
                margin-right: -10px;

                > div {
                    padding-left: 5px;
                    padding-right: 5px;

                    a {
                        float: right;
                        padding: 6px 0;
                        margin-top: 24px;
                        text-align: right;
                    }

                    label {
                        font-size: 1.1rem;
                        font-weight: 700;

                        > em {
                            margin-left: 5px;
                            color: $main-text-color;
                            font-style: normal;
                        }
                    }
                    
                    input.form-control {
                        font-size: 1.2rem;
                    }
                }
            }

            .form-group {
                margin-bottom: 0;
            }
        }

        .collapsible-header {
            font-size: 1.2rem;
            padding: 10px;

            > a {
                display: block;
            }
        }
    }

    #tree-mortality-container {

        .more-options {
            font-size: 13px;
            font-weight: 400;
            text-decoration: underline;

            &:before {
                content: 'Less ';
            }
            
            &.collapsed:before {
                content: 'More ';
            }
        }

        .more-options-content {
            
            label {
                margin-top: 10px;
            }

            > .row {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    #replanting-growth-container {
        
        .form-group {
            margin-top: 5px;
        }
    }

    #canopy-forecast-container .content-row > .row {
        margin-bottom: 10px;
    }

    .sidebar-footer {
        padding: 15px 20px;
        position: fixed;
        width: 350px;
        bottom: 40px;
        left: 0;
        background-color: #fff;
        box-shadow: 0 -6px 0 rgba(0, 0, 0, 0.15);
        z-index: 10;
        height: auto;

        .btn {
            border-radius: 50px;
        }
    }
}

#map {
    .map-popover {
        background: black;
        background: rgba(0,0,0,0.85);
        max-width: 600px;
        position: absolute;
        bottom: 60px;
        left: 50%;
        margin-left: -300px;
        padding: 8px 36px 10px 16px;
        font-size: 1.2rem;
        color: white;
        border-radius: 6px;
        z-index: 100;
        // Hidden by default.
        display: none;

        .close, .cancel-action, .done {
            margin-right: -20px;
        }
    }

    .marker-popup {
        width: 200px;

        h4, h5 {
            font-weight: bold;
        }

        h5 {
            margin: 5px 0;
        }

        .text-gray {
            color: #555;
        }
    }

    .polygon-popup {
        width: 250px;
        color: #000;

        h4, h5 {
            font-weight: bold;
        }

        h5 {
            margin: 5px 0;
        }

        a {
            text-decoration: underline;
        }

        .land-use {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 5px 0 10px 0;
            padding: 5px 0;
        }

        .text-gray {
            color: #555;
        }
    }
}

#scenarioResults {
    #eco-chart {
        margin-bottom: 25px;
    }

    .charts-header {
        margin-bottom: 10px;
    }

    .total-eco {
        margin-bottom: 1.5em;
    }

    .category-label {
        margin: .7em 0 .1em 0;
        text-decoration: underline;
        font-weight: bold;
    }
}
