{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
  {% if account %}
    <legend>{% trans "Account successfully activated" %}</legend>
    <p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a> {% trans "to start exploring trees!" %}</p>
  {% else %}
    <legend>{% trans "Account Activation Issue" %}</legend>
    {% url 'auth_login' as login_url %}
    {% blocktrans with settings.SUPPORT_EMAIL_ADDRESS as support_email %}
    <p>You may have clicked on the activation link twice or did not copy the entire URL into your web browser.  Please try <a href="{{ login_url }}">logging in.</a></p>
    <p>If you cannot login successfully, <a href="mailto:{{ support_email }}">contact support</a> for assistance.</p>
    {% endblocktrans %}
  {% endif %}
  </div>
</div>
{% endblock %}
