{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    {% if validlink %}
        <h2>Reset your Password</h2>

        <p>{% trans "Please enter and confirm a new password for your account." %}</p>

        <form method="post" action=".">
          {% csrf_token %} 
          {{ form.as_p }}

          <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}" />
        </form>
    {% else %}
        <p>{% trans "Password reset failed" %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
    {% render_bundle 'js/treemap/simpleForm' %}
{% endblock scripts %}
