{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block content %}
<div class="content login-signup">
  <div class="well login-signup-panel">
    <legend>{% trans "Reset your Password" %}</legend>
    <p>{% trans "Forgot the password for your tree map account? Enter your email address and click \"Send\" to receive info on resetting your password." %}</p>
    <form method="post" action=".">
      {% csrf_token %} 
      {{ form.as_p }}
    
      <input type="submit" class="btn btn-primary" value="{% trans 'Send' %}" />
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
    {% render_bundle 'js/treemap/simpleForm' %}
{% endblock %}