{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block content %}
<div class="content login-signup">
    <div class="well login-signup-panel">
        <legend>{% trans "Reset your Password" %}</legend>
        <p>{% trans "Forgot the password for your tree map account? Enter your email address and click \"Send\" to receive info on resetting your password." %}</p>
        <form method="post" action="{% url 'auth_password_reset' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <ul class='errorlist'>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% for key, key_errors in form.errors.as_data.items %}
                {% for error in key_errors %}
                    {% if error.code == 'inactive'%}
                        {% url 'resend_activation_email' as url %}
                        {% blocktrans %}
                        <p>
                            Your account will remain inactive until your email address has been verified.
                            To resend your verification email, <a href="{{ url }}">click here.</a>
                        </p>
                        {% endblocktrans %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <label>
                {% trans "Email Address" %}
            </label>
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    {{ form.email }}
                </div>
                <div class="col-sm-12 col-md-3">
                    <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Send' %}" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% render_bundle 'js/treemap/simpleForm' %}
{% endblock %}
