<h2>About</h2>
<p>This tree map enables the general public and local tree organizations to collaboratively create an accurate and informative inventory of the trees in the community. Search for trees by location, species, and other criteria and click on a dot on the map to view more information and photos.</p>
<p>The tree map can also be accessed via the OpenTreeMap apps for Android and iOS devices.</p>

<a href="https://itunes.apple.com/us/app/opentreemap/id898428451">
    <img src="https://s3.amazonaws.com/origin.static.opentreemap.org/app-store-badge.png" alt="OpenTreeMap iOS App" style="width: 200px;"/>
</a>

<a href="https://play.google.com/store/apps/details?id=org.azavea.otm2.prod&amp;hl=en">
    <img src="https://s3.amazonaws.com/origin.static.opentreemap.org/google-play-badge.png" alt="OpenTreeMap Android App" style="width: 200px;"/>
</a>
