{% load i18n %}
{% load l10n %}

<div class="benefit-value-row">
  {% if benefit.label == 'Energy' %}
  <div class="benefit-icon"><i class="icon-flash-1"></i></div>
  {% elif benefit.label == 'Stormwater' %}
  <div class="benefit-icon"><i class="icon-tint"></i></div>
  {% elif benefit.label == 'Air Quality' %}
  <div class="benefit-icon"><i class="icon-cloud"></i></div>
  {% else %}
  <div class="benefit-icon"><i class="icon-sun-filled"></i></div>
  {% endif %}
  <h3 class="benefit-label">{{ benefit.label }} {% trans "Benefits" %}</h3>
  <span class="benefit-content">
    {{ benefit.value }} {{ benefit.unit }}
    {% if benefit.currency_saved %}
      {% comment %}Translators: Money saved{% endcomment %}
      {% trans "saved" %} {{ benefit.currency_saved }}
    {% endif %}
  </span>
</div>
