{% load i18n %}
{% load l10n %}
{% load util %}

<div>
  <h4>{{ udf.model_type|display_name }} {{ udf.name }}</h4>
  <table class="table table-hover" data-udf-id="{{ udf.pk|unlocalize }}" data-udf-name="{{ udf.model_type.lower }}.{{ udf.canonical_name }}">
    <tr class="headerrow" style="{{ values|default:"display:none" }}">
      {% for field in udf.datatype_dict %}
      <td>{{ field.name }}</td>
      {% endfor %}
    </tr>
    <tr class="editrow" style="display: none">
      {% for field in udf.datatype_dict %}
      <td>
        {% include 'treemap/partials/udf_edit_field.html' with field=field %}
        {% if forloop.last %}<a data-udf-id="{{ udf.pk|unlocalize }}" class="btn">+</a>{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% for value in udf.userdefinedcollectionvalue_set.all %}
    {% include 'treemap/partials/collection_udf_row.html' with field=field value=value %}
    {% empty %}
    <tr class="placeholder"><td>{% trans "No entries yet!" %}</td>
    {% endfor %}
  </table>
</div>
