{% load i18n %}
{% load l10n %}

<table id="diameter-calculator" class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>{% trans "Diameter" %}</th>
      <th>{% trans "Circumference" %}</th>
    </tr>
  </thead>
  <tbody id="diameter-worksheet">
    <tr id="trunk-row">
      <td>
        <div class="input-group">
          <input class="input-sm form-control"
                 data-class="diameter-input"
                 type="text"
                 data-value="{{ field.value|unlocalize }}"
                 data-digits="{{ field.digits }}"
                  />
          <span class="input-group-addon" {{ unit_extra|default:"" }}>{{ field.units }}</span>
        </div>
      </td>
      <td>
        <div class="input-group">
          <input class="input-sm form-control"
                 data-class="circumference-input"
                 type="text"
                  />
          <span class="input-group-addon" {{ unit_extra|default:"" }}>{{ field.units }}</span>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <a id="add-trunk-row" href="javascript:;">{% trans "Add another trunk?" %}</a>
      </td>
    </tr>
  </tfoot>
</table>
<p id="diameter-calculator-total-row" style="display: none">
  {% trans "Combined Diameter:" %} <span id="diameter-calculator-total-reference" class="inline"></span>{% if field.units %} {{ field.units }}{% endif %}
</p>

