{% load i18n %}
{% load l10n %}

{% if request.instance_supports_ecobenefits %}
<div id="benefit-values" class="benefit-values accordion-inner">
    {% for benefit in benefits %}
    {% include "treemap/partials/benefit_value_row.html" %}
    {% endfor %}
    <div class="benefit-tree-count">
      {% blocktrans with used=basis.n_trees_used total=basis.n_trees_total %}
        Based on {{ used }} out of {{ total }} total trees
      {% endblocktrans %}
    </div>
</div>
{% endif %}
<div id="tree-and-planting-site-counts">
  {% localize on %}
  <span id="tree-count">
  {% blocktrans count basis.n_trees_total as tree_count %}
    {{ tree_count }}</span> tree,
  {% plural %}
    {{ tree_count }}</span> trees,
  {% endblocktrans %}

  <span id="planting-site-count">
  {% blocktrans count basis.n_plots as plot_count %}
    {{ plot_count }}</span> planting site
  {% plural %}
    {{ plot_count }}</span> planting sites
  {% endblocktrans %}
  {% endlocalize %}
</div>
