{% load i18n %}
{% load l10n %}

{% if request.instance_supports_ecobenefits %}
<div id="benefit-values" class="benefit-values accordion-inner">
    {% with plot_benefits=benefits.plot %}
    {% if not hide_summary and plot_benefits %}
    <div class="benefit-value-title">{% trans "General Eco Benefits"%}</div>
    {% endif %}

    {% for benefit in plot_benefits %}
    {% include "treemap/partials/benefit_value_row.html" %}
    {% endfor %}
    {% endwith %}

    {% with resource_benefits=benefits.resource %}
    {% if not hide_summary and request.instance.supports_resources and resource_benefits %}
    <div class="benefit-value-title">{% trans "Watershed Solution Benefits"%}</div>
    {% endif %}

    {% for benefit in resource_benefits %}
    {% include "treemap/partials/benefit_value_row.html" %}
    {% endfor %}
    {% endwith %}

    {% if not hide_summary and not hidecounts %}
    <div class="benefit-tree-count">
      {% with plot_only=request.instance.stores_plot_only plot_basis=basis.plot resource_basis=basis.resource %}
      {% blocktrans with used=plot_basis.n_objects_used total=plot_basis.n_total %}
      Based on {{ used }} out of {{ total }} total trees
      {% endblocktrans %}
      {% if plot_only %}.{% endif %}
      {% if not plot_only %}
      {% blocktrans with used=resource_basis.n_objects_used total=resource_basis.n_total %}
        and {{ used }} out of {{ total }} total watershed solutions.
      {% endblocktrans %}
      {% endif %}
      {% endwith %}
    </div>
    {% endif %}
</div>
{% endif %}
{% if not hidecounts %}
<div id="tree-and-planting-site-counts">
  {% localize on %}
  <span id="tree-count">
  {% blocktrans count basis.plot.n_total as tree_count %}
    {{ tree_count }}</span> tree,
  {% plural %}
    {{ tree_count }}</span> trees,
  {% endblocktrans %}

  <span id="planting-site-count">
  {% blocktrans count basis.plot.n_plots as plot_count %}
    {{ plot_count }}</span> planting site
  {% plural %}
    {{ plot_count }}</span> planting sites
  {% endblocktrans %}

  {% comment %}
  unhide me when the backend is implemented
  {% endcomment %}
  <span class="hidden">
  <span id="resource-count">
  {% blocktrans count resource_basis.n_resources as resource_count %}
    {{ resource_count }}</span> watershed solution
  {% plural %}
    {{ resrouce_count }}</span> watershed solutions
  {% endblocktrans %}
  </span>

  {% endlocalize %}
</div>
{% endif %}
