<h2>FAQ</h2>
<h3 class="P10">How do I use the tree map?</h3>

<p>There are several ways that you can explore and use the tree map.</p>

<dl>
    <dt>Find Trees:</dt>
    <dd>Use the tree map to search for trees near a specific address or in a general neighborhood using the Search by Location search box located at the top of the page.
    Type an address, city, and state or select a location by clicking the three lines in the search box.
    Click the "Search" button to find trees near that location.
    You can also search by a tree's species using the Search by Species box.
    Discover which trees are near your home!
    </dd>
    <dt>Add Trees:</dt>
    <dd>Do you know of a tree that isn't in the map?
    If the organization that manages the map is working to create a full inventory of the urban forest,
    you may be able to add trees after <a href="https://www.opentreemap.org/accounts/register/">creating a free OpenTreeMap account</a>.
    Once you've logged in, click the "Add a Tree" button to enter information about your tree.
    Fill out the requested information in the three simple steps and then click "Done."
    We recommend first searching the map to confirm that the tree you want to add is not already on the map.
	<p>Adding trees may be limited to user accounts with certain privileges.
	If you are unsure whether you should have the ability to add trees,
	contact the map owner by clicking the “Contact” button in the bar at the bottom of the map.
	</p>
    </dd>
    <dt>View Tree Details:</dt>
    <dd> After searching for a tree, click a dot on the map to view the tree’s species, diameter, and location.
    You can click “More Details” to view other information and photographs for the tree.
    </dd>
    <dt>Edit Trees:</dt>
    <dd>Many trees in the tree map may need to be updated with new information.
    After viewing the existing information about the tree, you can click the "Edit” button on the tree’s detail page to add or edit information about the tree,
    leave comments, or upload photos.
	<p>Editing tree information may be limited to user accounts with certain privileges.
	If you are unsure whether you should have the ability to edit tree details,
	contact the map owner by clicking the “Contact” button in the bar at the bottom of the map.
	</p>
    </dd>
</dl>

<h3>How do I find out the species of my tree?</h3>

<p>If you’re unsure about the species of a tree, click the Tree ID link in the bar at the bottom of the map.
The <a href="https://www.arborday.org/trees/whattree/">What Tree Is That?</a> website is also a helpful resource for identifying a tree’s species.</p>

<h3>What if the species of my tree is not available in the species list on the map?</h3>

<p>If your tree’s species is not listed in the species list on the tree map, click the “Contact” button in the bar at the bottom of the map to contact the map organizers.</p>

<h3>How do I measure the diameter of my tree’s trunk?</h3>

<p>Entering the diameter of a tree is crucial for helping track that tree’s growth and environmental benefits.
Measuring the diameter can be a bit tricky though.
The following video from the people at <a href="http://www.urbanforestmap.org/"><span class="T19">UrbanForestMap.org</span></a> provides a quick tutorial on an easy way to measure your tree’s diameter.</p>

<p><a href="https://vimeo.com/11119129">https://vimeo.com/11119129</a></p>

<h3>My community has a lot of tree data. Is there a way to upload many trees at once?</h3>

<p>If you have an existing tree inventory you would like to add to the tree map, please click the “Contact” button in the bar at the bottom of the map to contact the map organizers.</p>

<h3>How do I report an issue with a tree or a hazardous or dead tree?</h3>

<p>Tree maps generally do not include options for reporting hazardous or dead trees. Please contact your local government to determine the best way to report tree issues.</p>

<h3>What is the source of the eco impact data?</h3>

<p>
We calculate the economic benefits and environmental impacts of the trees using protocols that are part of the <a href="http://www.itreetools.org/">i-Tree software</a> provided by the <a href="http://www.fs.fed.us/">USDA Forest Service</a>.
This software provides options for calculating benefits by assigning a dollar value to the impact of trees in a number of ecological areas including electricity, natural gas, carbon dioxide, particulate matter, nitrogen dioxide, sulfur dioxide, volatile organic compounds, and stormwater interception.
</p>
<p>To complete the calculations, we need to have the species and diameter for each tree. You can help us more accurately calculate eco data by entering the species and diameter that are missing for trees in your neighborhood.</p>
<p>Ecobenefit data is not available for most tree maps located outside the continental United States.
</p>
