{% load i18n %}

<div class="page-header-actions">
    <img class="spinner" src="{{ STATIC_URL }}img/spinner.gif" style="display: none;">
    {% block other_buttons %}
    {% endblock other_buttons %}
    <button data-class="display" class="btn btn-info editBtn">
        <i class="icon-pencil"></i>{% trans "Edit" %}
    </button>
    <button data-class="edit" class="btn cancelBtn" style="display: none;">
        <i class="icon-cancel-1"></i>{% trans "Cancel" %}
    </button>
    <button data-class="edit" class="btn btn-primary saveBtn" style="display: none;">
        <i class="icon-check-1"></i>{% trans "Save" %}
    </button>
</div>
