{% load i18n %}
{% load auth_extras %}
{% load form_extras %}

<form id="details-form" data-location-x="{{ plot.geom.x }}" data-location-y="{{ plot.geom.y }}"
      data-map-feature-type="{% if feature.is_plot %}plot{% else %}resource{% endif %}">

    {% if feature.is_plot %}
    {% if tree %}
    {# The "edit-tree-species" label is used as an id prefix in "species_div.html" #}
    {% field "edit-tree-species" from "tree.species" for request.user withtemplate "treemap/field/species_div.html" %}

    {% trans "Trunk Diameter" as diameter %}
    {% field diameter from "tree.diameter" for request.user withtemplate "treemap/field/diameter_div.html" %}

    {% trans "Tree Height" as height %}
    {% field height from "tree.height" for request.user withtemplate "treemap/field/div.html" %}
    {% endif %}

    <input type="hidden" name="plot.address_street" value="{{ plot.address_street}}">
    <input type="hidden" name="plot.address_city" value="{{ plot.address_city}}">
    <input type="hidden" name="plot.address_zip" value="{{ plot.address_zip}}">

    {% else %}
    <label>{{ term.Resource }}</label>
    <div class="field-view">{{ title }}</div>
    {% endif %}

    {% include "treemap/partials/eco_benefits.html" with hidecounts=True %}
</form>
