{% load form_extras %}
{% load i18n %}

{% with nsteps=5 %}
<div class="sidebar-inner">
    <a href="javascript:;" class="close cancelBtn small">×</a>
    <h3>{% trans "Add a" %} {{ term.Resource }}</h3>
    <div class="add-step-container">
        <div class="add-step active">
            <div class="add-step-header">
              {% blocktrans with Resource=terms.Resource%} Select {{ Resource }} Type {% endblocktrans %}
            </div>
            <div class="add-step-content">
                <label>{{ term.Resource }} {% trans "Type" %}</label>
                {% for cls in resource_classes %}
                    <input type="radio"
                           name="addResourceType"
                           value="{{ cls.feature_type }}"
                           id="resourceType{{ cls.feature_type }}"
                           data-area-field-name="{{ cls.area_field_name|default_if_none:"" }}"
                    /><label for="resourceType{{ cls.feature_type }}">
                        {{ cls.display_name }}
                    </label>
                {% endfor %}
            </div>
            {% include 'treemap/partials/step_controls.html' with first=True %}
        </div>
        {% include "treemap/partials/step_set_location.html" with feature_name=term.resource %}
        <div class="add-step">
            <div class="add-step-header">{% trans "Indicate Nearby Roof Area" %}</div>
            <div class="add-step-content">
                <div class="alert alert-info">Drag and outline the nearby roof area that would drain into your {{ term.resource }}.</div>
            </div>
            {% include 'treemap/partials/step_controls.html' %}
        </div>
        <div class="add-step">
            <div class="add-step-header">{% trans "About this" %} {{ term.Resource }}</div>
            <div class="add-step-content">
                <form id="add-resource-form" onsubmit="return false;">
                  {# Added dynamically when resource type is chosen #}
                </form>
            </div>
            {% include 'treemap/partials/step_controls.html' %}
        </div>
        <div class="add-step">
            <div class="add-step-header">{% trans "Finalize this" %} {{ term.Resource }}</div>
            <div class="add-step-content">
                <h3 class="summaryHead"></h3>
                <h6 class="summarySubhead">{{ term.Resource }}</h6>
                <h4 class="summaryAddress"></h4>
                <h6>Nearby Address</h6>
                <hr/>
                <span>
                    <input type="radio" name="addResourceOptions" value="new" id="addresource-addnew" /><label for="addresource-addnew">
                        {% trans "Add another" %} {{ term.resource }}
                    </label>
                </span>
                <span>
                    <input type="radio" name="addResourceOptions" value="edit" id="addresource-viewdetails" disabled class="disabled"/><label for="addresource-viewdetails">
                        {% trans "Continue editing this" %} {{ term.resource }}
                    </label>
                </span>
                <span>
                    <input type="radio" name="addResourceOptions" value="close" id="addresource-done" checked /><label for="addresource-done">
                        {% trans "I'm done" %}
                    </label>
                </span>
            </div>
            {% include 'treemap/partials/step_controls.html' with last=True %}
        </div>
    </div>
</div>
{% endwith %}
