{% load form_extras %}
{% load i18n %}

{% with nsteps=4 %}
<div class="sidebar-inner">
    <a href="javascript:;" class="close cancelBtn small">×</a>
    <h3>{% trans "Add a Resource" %}</h3>
    <div class="add-step-container">
        <div class="add-step active">
            <div class="add-step-header">{% trans "Select Resource Type" %}</div>
            <div class="add-step-content">
                <label>{% trans "Resource Type" %}</label>
                {% for type in resource_types %}
                    <input type="radio" name="addResourceType" value="{{ type.name }}" id="resourceType{{ type.name }}"
                    /><label for="resourceType{{ type.name }}">
                        {{ type.display }}
                    </label>
                {% endfor %}
            </div>
            {% include 'treemap/partials/step_controls.html' with first=True %}
        </div>
        {% include "treemap/partials/step_set_location.html" with feature_name="resource" %}
        <div class="add-step">
            <div class="add-step-header">{% trans "Indicate Nearby Roof Area" %}</div>
            <div class="add-step-content">
                <div class="alert alert-info">Drag and outline the nearby roof area that would drain into your resource.</div>
            </div>
            {% include 'treemap/partials/step_controls.html' %}
        </div>
        <div class="add-step">
            <div class="add-step-header">{% trans "About this Resource" %}</div>
            <div class="add-step-content">
                <form id="add-resource-form" onsubmit="return false;">
                  {# Added dynamically when resource type is chosen #}
                </form>
            </div>
            {% include 'treemap/partials/step_controls.html' %}
        </div>
        <div class="add-step">
            <div class="add-step-header">{% trans "Finalize this resource" %}</div>
            <div class="add-step-content">
                <h3 class="summaryHead"></h3>
                <h6 class="summarySubhead"></h6>
                <h4 class="summaryAddress"></h4>
                <h6>Nearby Address</h6>
                <hr/>
                <span>
                    <input type="radio" name="addResourceOptions" value="new" id="addresource-addnew" /><label for="addresource-addnew">
                        {% trans "Add another resource" %}
                    </label>
                </span>
                <span>
                    <input type="radio" name="addResourceOptions" value="edit" id="addresource-viewdetails" disabled class="disabled"/><label for="addresource-viewdetails">
                        {% trans "Continue editing this resource" %}
                    </label>
                </span>
                <span>
                    <input type="radio" name="addResourceOptions" value="close" id="addresource-done" checked /><label for="addresource-done">
                        {% trans "I'm done" %}
                    </label>
                </span>
            </div>
            {% include 'treemap/partials/step_controls.html' with last=True %}
        </div>
    </div>
</div>
{% endwith %}
