{% load i18n %}

<div id="social-media-sharing-photo-upload-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2>{% trans "Photo Added!" %}</h2>
      </div>
      <div class="modal-body">
        <p>{% trans "Would you to label this photo?" %}</p>
        <img id="label-photo-upload-preview"/>
      </div>
      <div class="modal-footer">
        <label class="pull-left" for="photo-label">Choose a photo label</label>
        <select class="pull-left" id="photo-label">
            <option value=""></value>
            <option value="leaf">Leaf</value>
            <option value="bark">Bark</value>
            <option value="shape">Shape</value>
        </select>
        <a href="javascript:;" class="btn" data-dismiss="modal">{% trans "Done" %}</a>
      </div>
    </div>
  </div>
</div>
