{% load i18n %}

{# JS stuffs the next photo into [data-photo-container], so it should be the container around each photo.html #}
<div class="row" data-photo-container>
  {% for photo in photos %}
  {% include "treemap/partials/photo.html" %}
  {% endfor %}
</div>

<div class="text-center">
<ul class="pagination pagination-sm">
    <li class="{% if not prev_page %}disabled{% endif %}">
        <a data-page="{{ prev_page|default_if_none:"" }}">&laquo;</a>
    </li>
    {% for page in pages %}
    <li class="{% if cur_page == page %}active{% endif %}"><a data-page="{{ page }}">{{ page }}</a></li>
    {% endfor %}
    <li class="{% if not next_page %}disabled{% endif %}">
        <a data-page="{{ next_page|default_if_none:""}}">&raquo;</a>
    </li>
</ul>
</div>
