{% load i18n %}
{# Template meant to be included as the contents of a Bootstrap Carousel #}
{# Expects to be given - photos: a list of MapFeaturePhoto objects, error: an optional error message #}

<div class="carousel-inner">
{% for photo in photos %}
  <div class="item {{ forloop.first|yesno:"active," }}">
    <a data-toggle="lightbox" href="#photo-lightbox-{{ forloop.counter0 }}">
      <img src="{{ photo.thumbnail }}" alt="">
    </a>
  </div>
{% empty %}
  {% if feature.is_plot %}
  <div class="item active">
    <img id="tree-photo-placeholder" src="{{ STATIC_URL }}img/tree.png">
  </div>
  {% endif %}
{% endfor %}
</div>
<div id="tree-photo-thumbnails">
  <div>
    <ol class="carousel-indicators">{% for photo in photos %}
      <li data-target="#photo-carousel" data-slide-to="{{ forloop.counter0 }}"
            class="{{ forloop.first|yesno:"active," }}">
        <img src="{{ photo.thumbnail }}" alt="">
      </li>
    {% endfor %}</ol>
  </div>
</div>
{% for photo in photos %}
  <div id="photo-lightbox-{{ forloop.counter0 }}" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
    <div class="lightbox-content">
      <img data-photo-image src="{{ photo.image }}">
      <div class="lightbox-caption">
        <a class="btn btn-small pull-right" data-class="view" data-photo-edit>{% trans "Edit" %}</a>
        <a class="btn btn-small pull-left btn-rotate" data-class="edit" data-photo-rotate="-90"><i class="icon-ccw"></i></a>
        <a class="btn btn-small pull-left btn-rotate" data-class="edit" data-photo-rotate="90"><i class="icon-cw"></i></a>
        <button data-class="edit" disabled="disabled" class="btn btn-small pull-right"
            data-photo-save="{% url 'rotate_photo' instance_url_name=request.instance.url_name feature_id=photo.map_feature photo_id=photo.id %}">{% trans "Save" %}</button>
      </div>
    </div>
  </div>
{% endfor %}
{% if photos|length > 1 %}
<a class="carousel-control left disabled" href="" data-slide="prev"><i class="icon-left-circled"></i></a>
<a class="carousel-control right" href="#photo-carousel" data-slide="next"><i class="icon-right-circled"></i></a>
{% endif %}
{% if error %}
<div class="text-danger">{{ error }}</div>
{% endif %}
