{% load i18n %}

{% if invalid_eco_pair %}
<div>
  {% blocktrans %}
  <p>Ecosystem benefits cannot be calculated for this species of tree in this location.
  <p>The tree's location falls within a climate region that does not support benefit calculations for this species.
  {% endblocktrans %}
</div>
{% elif benefits %}
<table class="table">
  <tbody>
    {% for benefit in benefits %}
    <tr>
      <td>{{ benefit.label }}</td>
      <td>{{ benefit.value }} {{ benefit.unit}}</td>
      <td>{{ currency_symbol }}{{ benefit.currency_saved }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div>
  {% trans "Add the diameter of the tree and select a species to calculate the yearly ecosystem services." %}
</div>
{% endif %}
