{% extends "treemap/partials/map_feature_detail_base.html" %}
{% load i18n %}
{% load l10n %}
{% load auth_extras %}
{% load form_extras %}
{% load udf %}
{% load util %}

{% block subclass_details %}

    {% for group in field_groups %}
        {% if group.model == "plot" %}
            {% include "treemap/partials/plot_section.html" %}
        {% elif group.model == "tree" %}
            {% include "treemap/partials/tree_section.html" %}
        {% endif %}
    {% endfor %}

    <!-- Ecosystem Benefits -->
    <div id="ecobenefits">
        <h3>{% trans "Annual Ecosystem Services" %}</h3>
        {% if request.instance_supports_ecobenefits %}
            {% include "treemap/partials/plot_eco.html" %}
        {% else %}
            <div class="alert alert-info">
                <p>
                    {% blocktrans %}
                        Ecosystem benefits are not available for tree maps in locations outside the
                        United States. More info is available on the <a href="https://opentreemap.org/faq/#03">OpenTreeMap FAQ page.</a>
                    {% endblocktrans %}
                </p>
            </div>
        {% endif %}
    </div>

{% endblock subclass_details %}

{% block delete_confirmation_text %}
    <p>
        <strong>{% trans "Warning!" %}</strong>
        {% if has_tree %}
            {% trans "You are about to delete this tree. Do you want to continue?" %}
        {% else %}
            {% trans "You are about to delete this planting site. Once deleted, it will not be possible to view the details of this planting site or the trees it has contained in the past. Are you sure you want to continue?" %}
        {% endif %}
    </p>
{% endblock %}
