<h2>Resources</h2>
    <h3>Want to find out more about trees and urban forestry?</h3>
    <p>Visit the sites below for more information.</p>
    <h4>SJC Links</h4>
    <ul>
        <li><a href="https://drive.google.com/file/d/1xpvAuJm7iikqzM_DH6mqd7bhHhNrcOej/view">Jersey City 2015 - 2020 Tree Canopy Report - Another 6+% Deterioration!</a></li>
        <li><a href="https://static1.squarespace.com/static/59eb5534b7411cf368c81ad3/t/5ebb1a7a8cf11f6e3c2fd36b/1589320315209/new+OTM+Tip+Sheet+2020+final+05122020.pdf">SJC OTM Tip Sheet</a></li>
        <li>Self-directed <a href="https://ellalhv.org/video-archive/">ELLA Webinar - Tree Species ID by Their Leaves</a> with Companion Pocket Guide <a href="https://www.amazon.com/Tree-Finder-Manual-Identification-Eastern/dp/0912550015">TREE FINDER available on Amazon for only $5.95</a> (recommended by our Neighborhood Captains!) </li>
        <li>Neighborhood Captain Chris Lamm <a href="https://drive.google.com/file/d/1CKKSs8wtajvWU2EKU5rK9_ZKCwtOyzgy/view">JC Common Trees List!</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1RLWjvq3-dbZqfFbRlX0GsV0CPBVwN5Fcipq-SfrS1a4/edit">Resource Log for NCs</a></li>
    </ul>

    <h4>Species Identification</h4>
    <ul>
        <li><a href="https://www.arborday.org/trees/whatTree/">Arbor Day Foundation's What Tree is That?</a></li>
        <li><a href="http://www.mobot.org/gardeninghelp/plantfinder/Alpha.asp">Missouri Botanical Garden PlantFinder</a></li>
        <li><a href="http://plants.usda.gov/java/">USDA PLANTS Database</a></li>
        <li><a href="https://rucore.libraries.rutgers.edu/rutgers-lib/54233/">Trees of NJ and the Mid-Atlantic States Guidebook pdf download</a>, recommended by the NJ Tree Foundation + <a href="https://www.sustainablejc.org/s/Key-Guide_Trees-of-NJ-and-the-Mid-Atlantic-States.pdf">How To Use This Guidebook</a>! (print and take with you when you go Tree Mapping - letter size pages)
        <li><a href="https://drive.google.com/file/d/1e6BXNHcna-2BRsFEIYL0zEbchxNIfxPQ/view">Tree Identification and Tree Hazards</a></li>
    </ul>

    <h4>Environmental Benefits</h4>
    <ul>
        <li><a href="http://www.treebenefits.com/calculator/">National Tree Benefit Calculator</a></li>
        <li><a href="http://www.itreetools.org/">i-Tree</a> from the <a href="http://www.fs.fed.us/">US Forest Service</a></li>
    </ul>

    <h4>Forestry</h4>
    <ul>
        <li><a href="https://www.fs.fed.us/managing-land/urban-forests/ucf">Urban and Community Forestry Program at the U.S. Forest Service</a></li>
        <li><a href="http://dendro.cnre.vt.edu/dendrology/factsheets.cfm">VTree Dendrology from Virginia Tech</a></li>
    </ul>
