{% extends "treemap/partials/map_feature_detail_base.html" %}
{% load i18n %}
{% load l10n %}
{% load auth_extras %}
{% load form_extras %}
{% load udf %}
{% load util %}

{% block subclass_details %}

    <h3>{{ term.Resource.singular }} {% trans "Information" %}</h3>

    <table class="table table-hover">
        <tbody>
        <tr>
            <td>{{ term.Resource.singular }} {% trans "number" %}</td>
            <td>{{ feature.pk|unlocalize }}</td>
        </tr>

        {% if area %}
            <tr>
                <td>{% trans "Area" %}</td>
                <td>
                    <span class="js-area">
                        {{ display_area }}
                    </span>
                    {{ area_units }}
                </td>
            </tr>
        {% endif %}

        {% block resource_details %}
        {% endblock resource_details %}

        {% for label, udf in feature.scalar_udf_names_and_fields %}
            {% field label from udf for request.user withtemplate "treemap/field/tr.html" %}
        {% endfor %}
        </tbody>
    </table>

    {% for udf in feature.collection_udfs %}
        {% with values=feature.udfs|get:udf.name %}
            {% include "treemap/partials/collectionudf.html" with udf=udf model=feature values=values %}
        {% endwith %}
    {% endfor %}

    <!-- Ecosystem Benefits -->
    {% with stormbenefits=benefits.resource %}
        {% if stormbenefits %}
            <div id="ecobenefits">
                <h3>{{ term.Resource.singular }} {% trans "Ecosystem Services" %}</h3>
                <table class="table table-hover">
                    <tbody>
                    {% for key, benefit in stormbenefits.items %}
                        <tr>
                            <td>{{ benefit.label }}</td>
                            <td>{{ benefit.value }} {{ benefit.unit}}</td>
                            <td>{{ benefit.currency_saved }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endwith %}

    {% if feature.area_field_name %}
        <h3>{% trans "Associated Trees" %}</h3>
        {% with plots=contained_plots %}
            {% if plots %}
                <table class="table table-hover" id="contained-plots">
                    <tbody>
                    {% for plot in plots %}
                        <tr>
                            <td>
                                <a href="{% url 'map_feature_detail' instance_url_name=request.instance.url_name feature_id=plot.pk %}">
                                    {% with tree=plot.current_tree %}
                                        {% if plot.current_tree %}
                                            {{ plot.title }}
                                            {% field from "tree.diameter" for request.user withtemplate "treemap/field/resource_tree.html" %}
                                        {% else %}
                                            {{ plot.title }}
                                        {% endif %}
                                    {% endwith %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="well">
                    {% blocktrans with resource=term.Resource.singular %}
                        This {{ resource }} does not contain any trees.
                    {% endblocktrans %}
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}

{% endblock subclass_details %}


{% block delete_confirmation_text %}
    <p>
        <strong>{% trans "Warning!" %}</strong>
        {% blocktrans with resource=term.Resource.singular.lower %}
            You are about to delete this {{ resource }}. Do you want to continue?
        {% endblocktrans %}
    </p>
{% endblock delete_confirmation_text %}
