<h2>Resources</h2>
    <h3>Want to find out more about trees and urban forestry?</h3>
    <p>Visit the sites below for more information.</p>
    <h4>Species Identification</h4>
    <ul>
        <li><a href="https://www.arborday.org/trees/whatTree/">Arbor Day Foundation's What Tree is That?</a></li>
        <li><a href="http://www.mobot.org/gardeninghelp/plantfinder/Alpha.asp">Missouri Botanical Garden PlantFinder</a></li>
        <li><a href="http://plants.usda.gov/java/">USDA PLANTS Database</a></li>
    </ul>

    <h4>Environmental Benefits</h4>
    <ul>
        <li><a href="http://www.treebenefits.com/calculator/">National Tree Benefit Calculator</a></li>
        <li><a href="http://www.itreetools.org/">i-Tree</a> from the <a href="http://www.fs.fed.us/">US Forest Service</a></li>
    </ul>

    <h4>Forestry</h4>
    <ul>
        <li><a href="https://www.fs.fed.us/managing-land/urban-forests/ucf">Urban and Community Forestry Program at the U.S. Forest Service</a></li>
        <li><a href="http://dendro.cnre.vt.edu/dendrology/factsheets.cfm">VTree Dendrology from Virginia Tech</a></li>
    </ul>
