<h2>Resources</h2>
    <h3>Want to find out more about trees and urban forestry?</h3>
    <p>Visit the sites below for more information.</p>
    <h4>SJC Links</h4>
    <ul>
        <li><a href="https://static1.squarespace.com/static/59eb5534b7411cf368c81ad3/t/5ebb1a7a8cf11f6e3c2fd36b/1589320315209/new+OTM+Tip+Sheet+2020+final+05122020.pdf">SJC OTM Tip Sheep</a></li>
    </ul>

    <h4>Species Identification</h4>
    <ul>
        <li><a href="https://www.arborday.org/trees/whatTree/">Arbor Day Foundation's What Tree is That?</a></li>
        <li><a href="http://www.mobot.org/gardeninghelp/plantfinder/Alpha.asp">Missouri Botanical Garden PlantFinder</a></li>
        <li><a href="http://plants.usda.gov/java/">USDA PLANTS Database</a></li>
        <li><a href="https://rucore.libraries.rutgers.edu/rutgers-lib/54233/">Trees of New Jersey and the Mid-Atlantic states</a></li>
        <li><a href="https://drive.google.com/file/d/1e6BXNHcna-2BRsFEIYL0zEbchxNIfxPQ/view">Tree Identification and Tree Hazards</a></li>
    </ul>

    <h4>Environmental Benefits</h4>
    <ul>
        <li><a href="http://www.treebenefits.com/calculator/">National Tree Benefit Calculator</a></li>
        <li><a href="http://www.itreetools.org/">i-Tree</a> from the <a href="http://www.fs.fed.us/">US Forest Service</a></li>
    </ul>

    <h4>Forestry</h4>
    <ul>
        <li><a href="https://www.fs.fed.us/managing-land/urban-forests/ucf">Urban and Community Forestry Program at the U.S. Forest Service</a></li>
        <li><a href="http://dendro.cnre.vt.edu/dendrology/factsheets.cfm">VTree Dendrology from Virginia Tech</a></li>
    </ul>
