{% extends "treemap/partials/search_location.html" %}
{% load i18n %}

{% block well-controls %}
    <a class="draw-area" title="{% trans "Draw area on map" %}">
        <i class="icon-pencil"></i>
    </a>
    <a class="clear-location-input">
        <i class="icon-cancel"></i>
    </a>
{% endblock %}

{% block alternate-content %}

    <div class="location-search-alternate" id="draw-area-controls">
        <a class="cancel cancel-draw">
            <i class="icon-cancel"></i>
        </a>
        <span class="text">{% trans "Draw area on map" %}</span>
    </div>

    <div class="location-search-alternate" id="custom-area-controls">
        <a class="cancel clear-custom-area">
            <i class="icon-cancel"></i>
        </a>
        <span class="text" style="font-style:italic; font-weight:bold">
            {% trans "CUSTOM AREA" %}
        </span>
        &nbsp;
        <a class="edit-area">
            <i class="icon-pencil"></i>
        </a>
    </div>
    <div class="location-search-alternate" id="edit-area-controls">
        <span class="text">{% trans "Edit area" %}</span>
        <div class="controls text">
            <a class="save-area">DONE</a>
            <a class="cancel-edit">CANCEL</a>
        </div>
    </div>

{% endblock %}
