{% load i18n %}
{% load species_thumbprint %}

<!--Species Search-->
<div class="search-block species-search-block">
    <div class="search-field-wrapper">
        <label>{% trans "Search by Species" %}</label>
        <div class="autocomplete-group">
            <button class="typeahead-toggle" id="species-toggle"><i class="icon-menu"></i></button>
            <input type="text"
                   data-class="search"
                   id="species-typeahead"
                   class="form-control"
		   placeholder="{% trans "Common or scientific name" %}"
                   data-thumbprint="{{ request|species_thumbprint }}"/>
            <input name="species.id" data-search-type="IS" type="hidden" id="search-species" />
        </div>
    </div>
    <div id="species-disabled" class="field-group-message" style="display: none">
        {% trans "Disabled while missing species search is active" %}
    </div>

</div>
