{% load i18n %}

<!-- Location Search -->
<div class="search-block">
    <label class="boundary-search-label">
        {% block label %}{% trans "Search by Location" %}{% endblock %}
    </label>
    <div class="autocomplete-group" id="location-search-well">
        {% block well-controls %}{% endblock %}
        <input type="text"
               data-class="search"
               id="boundary-typeahead"
               class="form-control"
               placeholder="{% trans "Address" %}"
               data-thumbprint="{{ request.instance.boundary_thumbprint }}"/>
        <a class="btn btn-default search-button" id="location-perform-search"><i class="icon-search"></i></a>
        <input name="mapFeature.geom" data-search-type="IN_BOUNDARY" type="hidden" id="boundary" />
    </div>
    {% block alternate-content %}{% endblock %}
</div>
