{% load i18n %}

<div class="add-step-footer">
    <span class="counter">
        <strong>
          {% trans "Step" %}
          <span class='footer-step-number'></span>
        </strong>
        {% trans "of" %}
        <span class='footer-total-steps'>{{ nsteps }}</span>
    </span>
    <ul class="pager">
        {% if not first %}
        <li class="previous">
            <a href="#">&laquo; Back</a>
        </li>
        {% endif %}
        <li class="next">
            <a href="#">
                {% if last %} Done {% else %} Next &raquo; {% endif %}
            </a>
        </li>
    </ul>
</div>
