{% load i18n %}

<div class="add-step-footer">
    <span class="counter">
        <strong>
          {% trans "Step" %}
          <span class='footer-step-number'></span>
        </strong>
        {% trans "of" %}
        <span class='footer-total-steps'>{{ nsteps }}</span>
    </span>
    <ul class="pager">
        {% if not first %}
        <li class="previous">
            <a class="btn btn-primary" href="javascript:;">{% trans "« Back" %}</a>
        </li>
        {% endif %}
        <li class="next">
            <a class="btn btn-primary" href="javascript:;"{% if feature_name and last %} data-event-category="add-{{ feature_name }}" data-event-action="confirm-done"{% endif %}>
                {% if last %}{% trans "Done" %}{% else %}{% trans "Next »" %}{% endif %}
            </a>
        </li>
    </ul>
</div>
