{% load i18n %}
{% load dateformat %}

{% if field.type == 'choice' %}
<select class="form-control" data-field-name="{{ field.name }}">
  {% for choice in field.choices %}
  <option value="{{ choice }}">{{ choice }}</option>
  {% endfor %}
</select>
{% elif field.type == 'date' %}
<input class="form-control" type="text" data-field-name="{{ field.name }}"
       data-date-display-format="{{ request.instance.short_date_format|moment_format }}"
       data-date-serialize-format="YYYY-MM-DD" value="{% trans "Today" %}" />
{% else %}
<input type="text" data-field-name="{{ field.name }}" />
{% endif %}
