{% load i18n %}

<div id="{{ panel_id }}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{ title }}</h3>
      </div>
      <div class="modal-body">
        <p>
          {% blocktrans with settings.MAXIMUM_IMAGE_SIZE_MB as max_image_size %}
            Maximum file size: {{ max_image_size }}MB
          {% endblocktrans %}
        </p>
        <p>
          <input class="fileChooser" type="file" name="file"
                 data-url="{{ upload_photo_endpoint }}"
                 accept={{ accept|default_if_none:"image/*" }}>
        </p>
        <div class="progress">
          <div class="progress-bar-info" style="width: 0%; height: 100%"></div>
        </div>
        <div class="alert alert-danger js-image-upload-error" style="display: none;"></div>
      </div>
      <div class="modal-footer">
        <a href="javascript:;" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
      </div>
    </div>
  </div>
</div>
